{%- comment -%}
  Renders btn quick view

  Accepts:
  - product: {Object} Product Liquid object (required)
  - section_id: {String} The ID of the section that contains this card. (required)
  - class: {String} a list class. (optional)
  - disable_sr_only: {Boolean} remove class sr_only (optional)
  - placement: {String} position tooltip (optional)

  Usage:
  {%- render 'btn-quick-view', product: card_product, section_id: section_id -%}
{%- endcomment -%}
<wrapp-hdt-open-modal-btn placement="{{ placement | default: 'none' }}" {{ tooltip_auto }} class="{{ class }}"{% if section.id contains 'search' or tooltip_inner %} inner{% endif %}>
  <button type="button" handle="{{ product.handle }}" aria-controls="hdt-quick-view-modal" aria-expanded="false" class="hdt-card-product__btn-quick-view {{ btn_class }}" {{ attr }} aria-label="{{ 'products.product.quick_view' | t }}">
    <span class="hdt-pr-card-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="hdt-svg-pr-icon hdt-svg-qv" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
    </span>
    <span {% unless disable_sr_only %}class="sr-only"{% endunless %}>{{ 'products.product.quick_view' | t }}</span>
  </button>
</wrapp-hdt-open-modal-btn>