{% comment %} <ryviu-widget handle="{{ product.handle }}" title_product="{{ product.title }}" total_meta="{{ product.metafields.ryviu.r_count }}" image_product="{{ product.featured_image.src | image_url: width: 800 }}"></ryviu-widget> {% endcomment %}
<p class="hdt-text-center">{{ 'products.product.review.no_review' | t }}</p>