<div class="hdt-gallery-item hdt-masonry-gallery__item" {{ block.shopify_attributes }} hdt-reveal="slide-in" timeline> 
  <div class="hdt-gallery-inner hdt-relative hdt-oh hdt-radius">
    <div class="hdt-gallery-img" style="--aspect-ratioapt: {{ block.settings.image.aspect_ratio | default: 1.2 }};">
      <div class="{% if section.settings.image_ratio != "custom" %}hdt-ratio {% endif %}hdt-oh hdt-radius">
      {%- if block.settings.image != blank -%}
        {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', width: block.settings.image.width, height: block.settings.image.height, class: '', sizes: '(max-width: 767px) 200px', widths: '285, 370, 385, 200' }}
      {%- else -%}
        {{ 'collection-apparel-1' | placeholder_svg_tag: 'hdt-placeholder-svg' }}  
      {%- endif -%}
      {% if block.settings.item_link != blank %}<a class="hdt-full-width-link"  aria-label="link" href="{{ block.settings.item_link }}"></a>{% endif %}
    </div>
    </div>
    {%- if block.settings.product_item != blank -%}
      {%- if settings.show_ultra_btn %}{% render 'btn-ultra', class: 'hdt-pr_btn hdt-gallery-product hdt-absolute hdt-inline-flex hdt-align-center hdt-justify-center', product: block.settings.product_item, product_url: block.settings.product_item.url, section_id: block.id, placement: 'top' %}{% endif -%}
    {%- endif -%}
  </div> 
</div>
{% schema %}
  {
    "name": "t:sections.gallery.blocks.gallery_item.label",
    "tag": null,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.gallery.blocks.gallery_item.image"
      },
      {
        "type": "url",
        "id": "item_link",
        "label": "t:sections.gallery.blocks.gallery_item.link"
      },
      {
        "type": "product",
        "id": "product_item",
        "label": "t:sections.gallery.blocks.gallery_item.product"
      }
    ],
    "presets": [
      {
        "name": "t:sections.gallery.blocks.gallery_item.label"
      }
    ]
  }
{% endschema %}