{%- capture tab_list -%}
  {% content_for "blocks" %}
{%- endcapture -%}
{%- assign tab_list_title = tab_list | replace_first: 'aria-current="false"', 'aria-current="true"' | split: '<!--item-title>' -%}
<div class="hdt-type-tab" {{ block.shopify_attributes }}>
  <div class="hdt-product-tab__wrap hdt-product-tab--default">
    <hdt-tab class="hdt-product-tab__main hdt-scroll-snap hdt-flex hdt-justify-center hdt-scroll-snap hdt-snap-x" aria-controls="product-tabs-{{ section.settings.tabs_design }}-{{ section.id }}">
      {%- for tab in tab_list_title -%}
        {{- tab | split: '-->' | first -}}
      {%- endfor -%}
    </hdt-tab>
    <div class="hdt-product-tab__content hdt-s-text" id="product-tabs-{{ section.settings.tabs_design }}-{{ section.id }}">
      {{ tab_list | replace_first: ' tab-item', ' tab-item tab-selected' }}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.main-product.blocks.group_product_tab",
    "tag": null,
    "blocks": [
      {
        "type": "_product-tab-des"
      },
      {
        "type": "_product-tab-add"
      },
      {
        "type": "_product-tab-review"
      },
      {
        "type": "_product-tab-html"
      },
      {
        "type": "_product-tab-liquid"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-product.blocks.group_product_tab"
      }
    ]
  }
{% endschema %}