<!-- blocks/_heading_liquid.liquid -->
{% liquid
  assign search_terms = search.terms
  assign key_terms = search_terms
  assign results_count = search.results_count 
  assign only_search_prs = settings.only_search_prs
  if search_terms contains 'product_type:'
    assign arr_terms = search_terms | remove: 'product_type:' | replace_first: ' AND',' AND ' | replace_first: '  ', ' ' | split: ' AND '
    assign product_type = arr_terms[0] | strip
    assign search_terms = arr_terms[1] | strip
    if search_terms == blank
      assign key_terms = key_terms | remove: ' AND '
      assign search_terms = product_type
    endif
    assign search_terms = key_terms | remove: 'product_type:' | remove: 'product_type: '
  endif
%}
<div hdt-reveal="slide-in" timeline id="block-{{ block.id }}" class="hdt-text-warry hdt-heading-liquid {{ block.settings.text_color }} hdt-text-{{ block.settings.text_size }} {{ block.settings.font_family }} {{ block.settings.line_height }}{% if block.settings.italic %} hdt-italic{% endif %}{% if block.settings.uppercase %} hdt-uppercase{% endif %}" {{ block.shopify_attributes }}>
  {% if block.settings.text == blank %} 
    {% if search_terms == blank and search.performed == false -%}
      {{ 'templates.search.general_title.label' | t }}
    {% elsif only_search_prs or product_type != '*' and product_type != blank %}
      {{ 'templates.search.results_with_count_and_term' | t: terms: search_terms, count: results_count }}
    {% elsif search.performed %}
      {{ 'templates.search.results_with_term' | t: terms: search_terms, count: results_count }} 
    {% endif %}
  {% else %} 
    {{- block.settings.text | default: page_title -}}
  {% endif %}
  {%- if block.settings.text_size == "custom" -%}
    {%- style -%}
      #block-{{ block.id }} {
        --text-custom-lg: {{ block.settings.font_size_text_lg }}px; --text-custom-mb: {{ block.settings.font_size_text }}px; --text-ls: {{ block.settings.letter_spacing_text }}px; 
      }
    {%- endstyle -%}
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.heading-page.search",
  "tag": "h1",
  "settings": [
    {
      "type": "liquid",
      "id": "text",
      "label": "t:blocks.text.settings.content.label",
      "default": "{{ page_title }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings_schema.typography.settings.line_height.label",
      "options": [
        {
          "value": "",
          "label": "t:settings_schema.typography.settings.line_height.default"
        },
        {
          "value": "hdt-lh-1",
          "label": "t:settings_schema.typography.settings.line_height.hdt-lh-1"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "t:settings_schema.typography.settings.font_family.label",
      "options": [
        {
          "value": "hdt-font-1",
          "label": "t:settings_schema.typography.settings.font_family.font_family_1"
        },
        {
          "value": "hdt-font-2",
          "label": "t:settings_schema.typography.settings.font_family.font_family_2"
        },
        {
          "value": "hdt-font-3",
          "label": "t:settings_schema.typography.settings.font_family.font_family_3"
        }
      ],
      "default": "hdt-font-1"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:settings_schema.typography.settings.font_size.label",
      "options": [
          {
            "value": "xs",
            "label": "t:settings_schema.typography.settings.font_size.xs"
          },
          {
            "value": "sm",
            "label": "t:settings_schema.typography.settings.font_size.sm"
          },
          {
            "value": "base",
            "label": "t:settings_schema.typography.settings.font_size.base"
          },
          {
            "value": "lg",
            "label": "t:settings_schema.typography.settings.font_size.lg"
          },
          {
            "value": "xl",
            "label": "t:settings_schema.typography.settings.font_size.xl"
          },
          {
            "value": "2xl",
            "label": "t:settings_schema.typography.settings.font_size.2xl"
          },
          {
            "value": "4xl",
            "label": "t:settings_schema.typography.settings.font_size.4xl"
          },
          {
            "value": "custom",
            "label": "t:settings_schema.typography.settings.font_size.custom"
          }
        ],
      "default": "base"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "hdt-s-text",
          "label": "t:default"
        },
        {
          "value": "hdt-text-secondary",
          "label": "t:settings_schema.colors.secondary"
        },
        {
          "value": "hdt-text-tertiary",
          "label": "t:settings_schema.colors.tertiary"
        },
        {
          "value": "hdt-text-primary",
          "label": "t:settings_schema.colors.accent"
        },
      ],
      "label": "t:blocks.text.text_color.label",
      "default": "hdt-s-text"
    },
    {
      "type": "checkbox",
      "id": "italic",
      "label": "t:settings_schema.typography.settings.italic",
      "default": false,
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "label": "t:settings_schema.typography.settings.uppercase",
      "default": false
    },
    {
      "type": "header",
      "content": "t:settings_schema.typography.settings.custom_size_options.label",
      "visible_if": "{{ block.settings.text_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "font_size_text_lg",
      "min": 10,
      "max": 70,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.typography.settings.font_size.label",
      "default": 16,
      "visible_if": "{{ block.settings.text_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "font_size_text",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.typography.settings.font_size.mobile_font_size",
      "default": 14,
      "visible_if": "{{ block.settings.text_size == 'custom' }}"
    },
    {
      "type": "range",
      "id": "letter_spacing_text",
      "min": -10,
      "max": 10,
      "step": 0.2,
      "label": "t:settings_schema.typography.settings.letter_spacing.label",
      "default": 0,
      "visible_if": "{{ block.settings.text_size == 'custom' }}"
    },
  ],
  "presets": [
    {
      "name": "t:sections.heading-page.search"
    },
  ]
}
{% endschema %}
