<!-- blocks/_heading_section.liquid -->
<h3 hdt-reveal="slide-in" timeline id="block-{{ block.id }}" class="hdt-text-warry hdt-heading-block {{ block.settings.text_color }} hdt-{{ block.settings.heading_size }} {{ block.settings.line_height }}" {{ block.shopify_attributes }}><span>{{ block.settings.heading }}</span></h3>

{% schema %}
{
  "name": "t:blocks.section_heading.name",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:blocks.section_heading.name",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings_schema.typography.settings.line_height.label",
      "options": [
        {
          "value": "",
          "label": "t:default"
        },
        {
          "value": "hdt-lh-1",
          "label": "t:settings_schema.typography.settings.line_height.hdt-lh-1"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:settings_schema.heading.settings.label",
      "options": [
        {
          "value": "base",
          "label": "t:settings_schema.heading.settings.base_size"
        },
        {
          "value": "h6",
          "label": "t:settings_schema.heading.settings.h6_size"
        },
        {
          "value": "h5",
          "label": "t:settings_schema.heading.settings.h5_size"
        },
        {
          "value": "h4",
          "label": "t:settings_schema.heading.settings.h4_size"
        },
        {
          "value": "h3",
          "label": "t:settings_schema.heading.settings.h3_size"
        },
        {
          "value": "h2",
          "label": "t:settings_schema.heading.settings.h2_size"
        },
        {
          "value": "h1",
          "label": "t:settings_schema.heading.settings.h1_size"
        },
        {
          "value": "h0",
          "label": "t:settings_schema.heading.settings.h0_size"
        },
      ],
      "default": "h5"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "hdt-s-text",
          "label": "t:default"
        },
        {
          "value": "hdt-text-secondary",
          "label": "t:settings_schema.colors.secondary"
        },
        {
          "value": "hdt-text-tertiary",
          "label": "t:settings_schema.colors.tertiary"
        },
        {
          "value": "hdt-text-primary",
          "label": "t:settings_schema.colors.accent"
        }
      ],
      "label": "t:blocks.text.text_color.label",
      "default": "hdt-s-text"
    },
  ],
  "presets": [
    {
      "name": "t:blocks.section_heading.name",
    }
  ]
}
{% endschema %}