{% liquid
  assign effect = 'hdt-reveal="slide-in" timeline'
  if section.id contains 'slideshow'
    assign effect = 'reval'
  endif   
  if section.id contains 'footer'
    assign effect = ''
  endif
%}

{%- capture css -%}
  {%- if block.settings.ffamily != '' -%}--ff:var({{ block.settings.ffamily }}); {%- endif -%}
{%- endcapture -%}
{% if block.settings.option_type == 'liquid' %}
<div {{ effect }} id="block-{{ block.id }}" class="hdt-text-warry hdt-rte {{ block.settings.text_color }}{% if block.settings.hidden_br_mobile %} hdt-br-hidden{% endif %}{% if block.settings.hidden_on_mobile %} hdt-hide-mobile{% endif %} hdt-text-{{ block.settings.text_size }} hdt-font-{{ block.settings.font_weight }}" {{ block.shopify_attributes }} {%- if css != blank %} style="{{ css }}"{% endif %}>
    {{ block.settings.text }}
</div>
{% else %}
  <div class="hdt-custom_{{ block.id }} hdt-pr__html hdt-rte" {{ block.shopify_attributes }}>{{ block.settings.page.content }}</div>
{% endif %}
{%- if block.settings.text_size == "custom" -%}
  {%- style -%}
    #block-{{ block.id }} {
      --text-custom-lg: {{ block.settings.font_size_text_lg }}px; --text-custom-md: {{ block.settings.font_size_text_md }}px; --text-custom-mb: {{ block.settings.font_size_text }}px; --text-fw: {{ block.settings.font_weight_text }}; --text-ls: {{ block.settings.letter_spacing_text }}px; 
    }
  {%- endstyle -%}
{%- endif -%}
{% schema %}
{
  "name": "t:blocks.liquid.name",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "option_type",
      "label": "Option type",
      "options": [
        {
          "value": "liquid",
          "label": "Liquid"
        },
        {
          "value": "html",
          "label": "HTML"
        }
      ],
      "default": "liquid"
    },
    {
      "type": "page",
      "id": "page",
      "label": "Content page",
      "info": "This page content will appear."/*,
      "visible_if": "{{ block.settings.option_type == 'html' }}"*/
    },
    {
      "type": "paragraph",
      "content": "t:blocks.liquid.content",
      "visible_if": "{{ block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "liquid",
      "id": "text",
      "label": "t:blocks.liquid.settings.content",
      "default": "<hdt-font-1>Share information about your brand with your customers.</hdt-font-1> <hdt-font-2>Describe a product, make announcements, or welcome customers to your store.</hdt-font-2>",
      "visible_if": "{{ block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "checkbox",
      "id": "hidden_br_mobile",
      "label": "t:blocks.text.settings.hidden_br_mobile",
      "default": false,
      "visible_if": "{{ block.settings.text contains '<br/>' and block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "checkbox",
      "id": "hidden_on_mobile",
      "label": "t:blocks.text.settings.hidden_on_mobile",
      "default": false,
      "visible_if": "{{ block.settings.text != blank and block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "select",
      "id": "ffamily",
      "options": [
        {
          "value": "",
          "label": "t:default"
        },
        {
          "value": "--f_family_1",
          "label": "t:settings_schema.typography.settings.font_family.font_family_1"
        },
        {
          "value": "--f_family_2",
          "label": "t:settings_schema.typography.settings.font_family.font_family_2"
        },
        {
          "value": "--f_family_3",
          "label": "t:settings_schema.typography.settings.font_family.font_family_3"
        },
        {
          "value": "--f_family_4",
          "label": "t:settings_schema.typography.settings.font_family.font_family_4"
        },
        {
          "value": "--f_family_5",
          "label": "t:settings_schema.typography.settings.font_family.font_family_5"
        }
      ],
      "label": "t:settings_schema.typography.settings.font_family.label",
      "default": "",
      "visible_if": "{{ block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:settings_schema.typography.settings.font_size.label",
      "options": [
          {
            "value": "xs",
            "label": "t:settings_schema.typography.settings.font_size.xs"
          },
          {
            "value": "sm",
            "label": "t:settings_schema.typography.settings.font_size.sm"
          },
          {
            "value": "base",
            "label": "t:settings_schema.typography.settings.font_size.base"
          },
          {
            "value": "lg",
            "label": "t:settings_schema.typography.settings.font_size.lg"
          },
          {
            "value": "xl",
            "label": "t:settings_schema.typography.settings.font_size.xl"
          },
          {
            "value": "2xl",
            "label": "t:settings_schema.typography.settings.font_size.2xl"
          },
          {
            "value": "4xl",
            "label": "t:settings_schema.typography.settings.font_size.4xl"
          },
          {
            "value": "custom",
            "label": "t:settings_schema.typography.settings.font_size.custom"
          }
        ],
      "default": "base",
      "visible_if": "{{ block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "t:settings_schema.typography.settings.font_weight.label",
      "options": [
        {
          "value": "light",
          "label": "t:settings_schema.typography.settings.font_weight.light"
        },
        {
          "value": "normal",
          "label": "t:settings_schema.typography.settings.font_weight.normal"
        },
        {
          "value": "medium",
          "label": "t:settings_schema.typography.settings.font_weight.medium"
        },
        {
          "value": "semibold",
          "label": "t:settings_schema.typography.settings.font_weight.semibold"
        },
        {
          "value": "bold",
          "label": "t:settings_schema.typography.settings.font_weight.bold"
        },
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "select",
      "id": "text_color",
      "options": [
        {
          "value": "hdt-s-text",
          "label": "t:default"
        },
        {
          "value": "hdt-text-secondary",
          "label": "t:settings_schema.colors.secondary"
        },
        {
          "value": "hdt-text-tertiary",
          "label": "t:settings_schema.colors.tertiary"
        },
        {
          "value": "hdt-text-primary",
          "label": "t:settings_schema.colors.accent"
        }
      ],
      "label": "t:blocks.text.text_color.label",
      "default": "hdt-s-text",
      "visible_if": "{{ block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "header",
      "content": "t:settings_schema.typography.settings.font_size.custom",
      "visible_if": "{{ block.settings.text_size == 'custom' and block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "range",
      "id": "font_size_text_lg",
      "min": 10,
      "max": 70,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.typography.settings.font_size.label",
      "default": 16,
      "visible_if": "{{ block.settings.text_size == 'custom' and block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "range",
      "id": "font_size_text",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.typography.settings.font_size.mobile_font_size",
      "default": 14,
      "visible_if": "{{ block.settings.text_size == 'custom' and block.settings.option_type == 'liquid' }}"
    },
    {
      "type": "range",
      "id": "letter_spacing_text",
      "min": -10,
      "max": 10,
      "step": 0.2,
      "label": "t:settings_schema.typography.settings.letter_spacing",
      "default": 0,
      "visible_if": "{{ block.settings.text_size == 'custom' and block.settings.option_type == 'liquid' }}"
    },
  ],
  "presets": [
    {
      "name": "t:blocks.liquid.name"
    }
  ]
}
{% endschema %}
