{% style %}
  #{{ block.id }}{
    --background-color: {{ block.settings.background_color }};
    --column-padding-dk: {{ block.settings.spacing_v_dk }}px {{ block.settings.spacing_h_dk }}px;
  }
{% endstyle %}
{%- liquid
  assign col_dk = block.settings.column_dk
-%}
<div id="{{ block.id }}" class="hdt-column hdt-g-col hdt-g-col-{{ col_dk }} {{ block.settings.rounded }} hdt-grid hdt-relative" {{ block.shopify_attributes }}>
  {%- liquid
    assign image_background = block.settings.background_image
    if image_background != blank
      echo image_background | image_url: width: image_background.width | image_tag: width: image_background.width, height: image_background.height, alt: image_background.alt, class: 'hdt-full-width-link hdt-w-full hdt-h-full hdt-object-cover hdt-pe-none', loading: 'lazy'
    endif
  -%}
  <div class="hdt-column_inner hdt-place-self-{{ block.settings.content_position }} hdt-text-{{ block.settings.alignment }}" style="position: relative;z-index:2;{% if block.settings.content_width == 'full' %} justify-self: auto;{% endif %}">
    {% content_for 'blocks' %}
  </div>
</div>
{% schema %}
  {
    "name": "t:blocks.column.name",
    "tag": null,
    "blocks": [
      {
        "type": "@theme",
      },
      {
        "type": "@app",
      },
      {
        "type": "heading"
      },
      {
        "type": "text"
      },
      {
        "type": "button"
      },
      {
        "type": "spacer"
      },
      {
        "type": "_newsletter"
      },
      {
        "type": "_liquid"
      },
      {
        "type": "blockquote"
      },
      {
        "type": "_media"
      },
      {
        "type": "_mega_link-list"
      },
      {
        "type": "_product-carousel"
      },
      {
        "type": "_product-grid"
      },
      {
        "type": "_mega-collections"
      },
      {
        "type": "_banner-item"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:blocks.column.layout"
      },
      {
        "type": "select",
        "id": "column_dk",
        "label": "t:blocks.column.settings.column_dk",
        "options": [
          {
            "value": "1",
            "label": "1/10 - 10%"
          },
          {
            "value": "2",
            "label": "2/10 - 20%"
          },
          {
            "value": "3",
            "label": "3/10 - 30%"
          },
          {
            "value": "4",
            "label": "4/10 - 40%" 
          },
          {
            "value": "5",
            "label": "5/10 - 50%"
          },
          {
            "value": "6",
            "label": "6/10 - 60%"
          },
          {
            "value": "7",
            "label": "7/10 - 70%"
          },
          {
            "value": "8",
            "label": "8/10 - 80%"
          },
          {
            "value": "9",
            "label": "9/10 - 90%"
          },
          {
            "value": "10",
            "label": "10/10 - 100%"
          },
        ],
        "default": "5"
      },
      {
        "type": "header",
        "content": "t:blocks.column.spacing"
      },
      {
        "type": "range",
        "id": "spacing_h_dk",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.column.settings.padding.left_right",
        "default": 30
      },
      {
        "type": "range",
        "id": "spacing_v_dk",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.column.settings.padding.top_bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "t:blocks.column.general"
      },
      {
        "type": "select",
        "id": "content_width",
        "label": "Content width",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "full",
            "label": "Full"
          }
        ],
        "default": "auto"
      },
      {
        "type": "select",
        "id": "content_position",
        "label": "t:blocks.column.settings.content_position.label",
        "visible_if": "{{ block.settings.content_width == 'auto' }}",
        "options": [
          {
            "value": "start",
            "label": "t:sections.all.content_position.options.start"
          },
          {
            "value": "start-center",
            "label": "t:sections.all.content_position.options.start_center"
          },
          {
            "value": "start-end",
            "label": "t:sections.all.content_position.options.start_end"
          },
          {
            "value": "center",
            "label": "t:sections.all.content_position.options.center"
          },
          {
            "value": "center-start",
            "label": "t:sections.all.content_position.options.center_start"
          },
          {
            "value": "center-end",
            "label": "t:sections.all.content_position.options.center_end"
          },
          {
            "value": "end",
            "label": "t:sections.all.content_position.options.end"
          },
          {
            "value": "end-start",
            "label": "t:sections.all.content_position.options.end_start"
          },
          {
            "value": "end-center",
            "label": "t:sections.all.content_position.options.end_center"
          }
        ],
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "alignment",
        "label": "t:blocks.column.settings.alignment.label",
        "default": "center"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "t:blocks.column.settings.background.background_image"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "t:blocks.column.settings.background.background_color",
        "default": "#fff"
      },
      {
        "type": "select",
        "id": "rounded",
        "label": "t:blocks.column.settings.rounded.label",
        "options": [
          {
            "value": "none",
            "label": "t:none"
          },
          {
            "value": "hdt-radius-xs",
            "label": "t:blocks.column.settings.rounded.options.xs"
          },
          {
            "value": "hdt-radius-sm",
            "label": "t:blocks.column.settings.rounded.options.sm"
          },
          {
            "value": "hdt-radius",
            "label": "t:blocks.column.settings.rounded.options.medium"
          },
          {
            "value": "hdt-radius-lg",
            "label": "t:blocks.column.settings.rounded.options.large"
          }
        ],
        "default": "none",
        "visible_if": "{{ settings.block_radius >= 3 }}"
      }
    ],
    "presets": [
      {
        "name": "t:blocks.column.name",
        "blocks": [
          {
            "type": "heading"
          }
        ]
      }
    ]
  }
{% endschema %}
