<!-- blocks/newsletter.liquid -->
{{ 'newsletter.css' | asset_url | stylesheet_tag }}
<div class="hdt-newsletter-main hdt-newsletter_{{ block.settings.des_newsletter }} {{ block.id }}" {{ block.shopify_attributes }} color-scheme="{{ block.settings.color_scheme }}">
  {%- assign form_id = 'hdt-form-newsletter-' | append: block.id -%}
  <div class="hdt-newsletter-parent hdt-w-full hdt-inline-block">
    {%- form 'customer', class: 'hdt-pr hdt-newsletter__form', id: form_id, data-form-mail-agree: '' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="hdt-newsletter__fields">
        <div class="hdt-newsletter__inner hdt-oh hdt-justify-center hdt-flex">
          <input type="email" name="contact[email]" placeholder="{{ 'sections.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="hdt-newsletter__email hdt-flex hdt-align-center hdt-input hdt-text-{{ block.settings.alignment }}" required="required">
          <button data-agreeMail-btn type="submit" class="hdt-w-100 hdt-newsletter__submit hdt-btn-loading__svg hdt-flex hdt-align-center hdt-btn hdt-btn-solid hdt-btn--size-{{ block.settings.size }} hdt-font-{{ block.settings.btn_fw }} hdt-relative {% if block.settings.icon != "none" %} hdt-btn--with-icon hdt-btn--pos-icon-{{ block.settings.icon_position }}{% endif %}"{% if block.settings.icon != "none" %} style="--gap-btn-icon: {{ block.settings.icon_spacing }}px; --height-btn-icon: {{ block.settings.icon_height }}px"{% endif %}>
            {%- liquid
              if block.settings.icon != 'none'
                render 'icons', icon: block.settings.icon
              endif
              assign button_label = 'newsletter.button_label' | t
            -%}
            <span class="hdt-newsletter__text">{{ block.settings.button_lb | default: button_label }}</span>            
          </button>
        </div>
        {% if block.settings.agree_form == true %}
        <div class="hdt-agree_email hdt-text-secondary hdt-text-xs">
          <div class="hdt-newsletter-checkbox hdt-agree__checkbox hdt-flex hdt-align-center hdt-justify-{{ block.settings.alignment }}">
            <div class="hdt-checkbox-wrapp hdt-inline-grid hdt-relative hdt-oh">
              <input form="{{ form_id }}" class="hdt-grid-1x1" type="checkbox" id="{{ form_id }}_agree" required name="agree_checkbox">
              <svg class="hdt-grid-1x1 hdt-pe-none" width="12" height="12" viewBox="0 0 24 24"><path d="M9 20l-7-7 3-3 4 4L19 4l3 3z"></path></svg>
            </div>
            <label for="{{ form_id }}_agree">{{ block.settings.content }}</label>
          </div>
        </div>
        {% endif %}
      </div>
      <div data-hdt-response-form data-new-response-form class="hdt-newsletter__response">
        {%- if form.posted_successfully? -%}
        <div class="hdt-newsletter__success"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>{{ 'sections.newsletter_form.confirmation' | t }}</div>
        {%- elsif form.errors -%}
        <div class="hdt-newsletter__error">{{ form.errors | default_errors }}</div>{%- endif -%}
      </div>
    {%- endform -%}
  </div>
</div>
{% schema %}
  {
    "name": "t:blocks.newsletter.name",
    "class": "hdt-newsletter",
    "tag": null,
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "select",
        "id": "des_newsletter",
        "label": "t:blocks.newsletter.settings.des_newsletter.label",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_1"
          },
          {
            "value": "2",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_2"
          },
          {
            "value": "3",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_3"
          },
          {
            "value": "4",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_4"
          },
          {
            "value": "5",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_5"
          },
          {
            "value": "6",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_6"
          },
          {
            "value": "7",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_7"
          },
          {
            "value": "8",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_8"
          },
          {
            "value": "9",
            "label": "t:blocks.newsletter.settings.des_newsletter.options.design_9"
          }
        ]
      },
      {
        "type": "text_alignment",
        "id": "alignment",
        "label": "t:settings_schema.global.settings.text_alignment.label",
        "default": "left"
      },
      {
        "type": "text",
        "id": "button_lb",
        "label": "t:sections.newsletter.settings.button_lb.label",
        "default": "Subscribe",
        "info": "t:sections.newsletter.settings.button_lb.info"
      },
      {
        "type": "select",
        "id": "size",
        "label": "t:blocks.button.settings.button_size.label",
        "options": [
          {
            "value": "s",
            "label": "t:blocks.button.settings.button_size.options.s"
          },
          {
            "value": "m",
            "label": "t:blocks.button.settings.button_size.options.m"
          },
          {
            "value": "xl",
            "label": "t:blocks.button.settings.button_size.options.xl"
          }
        ],
        "default": "m"
      },
      {
        "type": "select",
        "id": "btn_fw",
        "label": "t:sections.all.button.settings.font_weight.label",
        "options": [
          {
            "value": "light",
            "label": "t:settings_schema.typography.settings.font_weight.light"
          },
          {
            "value": "normal",
            "label": "t:settings_schema.typography.settings.font_weight.normal"
          },
          {
            "value": "medium",
            "label": "t:settings_schema.typography.settings.font_weight.medium"
          },
          {
            "value": "semibold",
            "label": "t:settings_schema.typography.settings.font_weight.semibold"
          },
          {
            "value": "bold",
            "label": "t:settings_schema.typography.settings.font_weight.bold"
          },
        ],
        "default": "normal"
      },
      {
        "type": "checkbox",
        "id": "agree_form",
        "label": "t:sections.newsletter.settings.agree_form.label",
        "info": "t:sections.newsletter.settings.agree_form.info"
      },
      {
        "type": "inline_richtext",
        "id": "content",
        "label": "t:sections.newsletter.settings.content.label",
        "default": "I agree with the terms and conditions"
      },
      {
        "type": "header",
        "content": "t:blocks.icon.name"
      },
      {
        "type": "select",
        "id": "icon",
        "label": "t:blocks.icon.name",
        "options": [
          {
            "value": "none",
            "label": "t:blocks.icon.options.none"
          },
          {
            "value": "arrow_right",
            "label": "t:blocks.icon.options.arrow_right"
          },
          {
            "value": "arrow_simple",
            "label": "t:blocks.icon.options.arrow_simple"
          },
          {
            "value": "arrow_bottom",
            "label": "t:blocks.icon.options.arrow_bottom"
          },
          {
            "value": "arrow_stretch",
            "label": "t:blocks.icon.options.arrow_stretch"
          },
          {
            "value": "car",
            "label": "t:blocks.icon.options.car"
          },
          {
            "value": "truck",
            "label": "t:blocks.icon.options.truck"
          },
          {
            "value": "diamond",
            "label": "t:blocks.icon.options.diamond"
          },
          {
            "value": "door-lock",
            "label": "t:blocks.icon.options.door_lock"
          },
          {
            "value": "gym",
            "label": "t:blocks.icon.options.gym"
          },
          {
            "value": "hammer",
            "label": "t:blocks.icon.options.hammer"
          },
          {
            "value": "headphones",
            "label": "t:blocks.icon.options.headphones"
          },
          {
            "value": "helm",
            "label": "t:blocks.icon.options.helm"
          },
          {
            "value": "hourglass",
            "label": "t:blocks.icon.options.hourglass"
          },
          {
            "value": "map",
            "label": "t:blocks.icon.options.map"
          },
          {
            "value": "piggy",
            "label": "t:blocks.icon.options.piggy"
          },
          {
            "value": "refesh",
            "label": "t:blocks.icon.options.refesh"
          },
          {
            "value": "rocket",
            "label": "t:blocks.icon.options.rocket"
          },
          {
            "value": "shield",
            "label": "t:blocks.icon.options.shield"
          },
          {
            "value": "shield2",
            "label": "t:blocks.icon.options.shield_2"
          },
          {
            "value": "smile",
            "label": "t:blocks.icon.options.smile"
          },
          {
            "value": "scissors",
            "label": "t:blocks.icon.options.scissors"
          },
          {
            "value": "shuffle",
            "label": "t:blocks.icon.options.shuffle"
          },
          {
            "value": "cloud_upload",
            "label": "t:blocks.icon.options.cloud_upload"
          },
          {
            "value": "cash",
            "label": "t:blocks.icon.options.cash"
          },
          {
            "value": "way",
            "label": "t:blocks.icon.options.way"
          },
          {
            "value": "wristwatch",
            "label": "t:blocks.icon.options.wristwatch"
          },
          {
            "value": "world",
            "label": "t:blocks.icon.options.world"
          },
          {
            "value": "wallet",
            "label": "t:blocks.icon.options.wallet"
          },
          {
            "value": "unlock",
            "label": "t:blocks.icon.options.unlock"
          },
          {
            "value": "umbrella",
            "label": "t:blocks.icon.options.umbrella"
          },
          {
            "value": "repeat",
            "label": "t:blocks.icon.options.repeat"
          },
          {
            "value": "refesh-2",
            "label": "t:blocks.icon.options.refesh_2"
          },
          {
            "value": "medal",
            "label": "t:blocks.icon.options.medal"
          },
          {
            "value": "portfolio",
            "label": "t:blocks.icon.options.portfolio"
          },
          {
            "value": "like",
            "label": "t:blocks.icon.options.like"
          },
          {
            "value": "plance",
            "label": "t:blocks.icon.options.plance"
          },
          {
            "value": "map-maker",
            "label": "t:blocks.icon.options.map_maker"
          },
          {
            "value": "help",
            "label": "t:blocks.icon.options.help"
          },
          {
            "value": "gift",
            "label": "t:blocks.icon.options.gift"
          },
          {
            "value": "cart",
            "label": "t:blocks.icon.options.cart"
          },
          {
            "value": "box",
            "label": "t:blocks.icon.options.box"
          },
          {
            "value": "back",
            "label": "t:blocks.icon.options.back"
          },
          {
            "value": "back2",
            "label": "t:blocks.icon.options.back2"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "icon_position",
        "label": "t:blocks.icon.icon_position.label",
        "options": [
          {
            "value": "before",
            "label": "t:blocks.icon.icon_position.before"
          },
          {
            "value": "after",
            "label": "t:blocks.icon.icon_position.after"
          }
        ],
        "default": "after",
        "visible_if": "{{ block.settings.icon != 'none' }}"
      },
      {
        "type": "range",
        "id": "icon_height",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.icon.icon_size.label",
        "default": 14,
        "visible_if": "{{ block.settings.icon != 'none' }}"
      },
      {
        "type": "range",
        "id": "icon_spacing",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.icon.settings.icon_spacing.label",
        "default": 5,
        "visible_if": "{{ block.settings.icon != 'none' }}"
      }
    ],
    "presets": [
      {
        "name": "t:blocks.newsletter.name"
      }
    ]
  }
{% endschema %}
