<div class="hdt-payments-wrap">
  {%- assign arr = block.settings.svg | remove: ' ' | split: "," -%}
  <div class="hdt-pr hdt-row-flex" style="--height-img:{{ block.settings.height }}px; gap:10px;">
    {%- for img in arr -%}
      {%- if img contains 'cust4__' -%}
        {%- assign getIMG = img | remove_first: "cust4__" -%}
        {%- assign image = images[getIMG] -%}
        {%- if image == blank %}{% continue %}{% endif -%}
        <img loading="lazy" class="lazyloadhdt" src="https://cdn.shopify.com/s/assets/payment_icons/generic-dfdcaf09b6731ca14dd7441354c0ad8bc934184eb15ae1fda6a6b9e307675485.svg" data-src="{{ image | image_url: width: 100 }}" width="{{ image.width }}" height="{{ image.height }}"  alt="{{ image.alt | escape }}" />
      {%- else -%}
        <img loading="lazy" class="lazyloadhdt" src="https://raw.githubusercontent.com/activemerchant/payment_icons/refs/heads/master/app/assets/images/payment_icons/{{ img }}.svg" width="{{ img.width }}" height="{{ img.height }}"  alt="{{ img | replace: '_', ' ' }}" />
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
<style>
.hdt-payments-wrap img{
  height:var(--height-img);
}
</style>
{% schema %}
  {
    "name": "t:blocks.payment.name",
    "class": "hdt-payment-icons",
    "settings": [
      {
        "type": "textarea",
        "id": "svg",
        "label": "t:blocks.payment.settings.svg",
        "default": "amazon,american_express,apple_pay,bitcoin",
        "info": "amazon,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
      },
      {
        "type": "paragraph",
        "content": "t:blocks.payment.settings.svg_library"
      },
      {
        "type": "number",
        "id": "height",
        "label": "t:blocks.payment.settings.height",
        "default": 30
      }
    ],
    "presets":[
      {
        "name":"t:blocks.payment.name"
      }
    ]
  }
{% endschema %}
