{%- liquid
  assign product = section.settings.product | default: product 
  assign description_excerpt = block.settings.short_des | default: product.description
  if description_excerpt == blank
    continue 
  endif 

-%}
<style>
  product-description .hdt-product__description{
    transition: all .25s ease;
  }
  product-description.is--less .hdt-rl-text{
    display: block;
  }
  product-description.is--less .hdt-rm-text{
    display: none;
  }
  product-description.is--less .hdt-full-des{
    display: block;
  }
  product-description.is--less .hdt-short-des{
    display: none;
  }
</style>
{%- if product.description != blank and block.settings.des_mode == '1' -%}    
  <div class="hdt-product-info__item hdt-product__description">
    <div class="hdt-s-text2 hdt-rte">
      {{ product.description }}
    </div>
  </div>
{%- elsif description_excerpt != blank -%}
  {%- if block.settings.readm == false -%}
    <div class="hdt-product-info__item hdt-product__description">
      <div class="hdt-s-text2 hdt-rte">
        {{ description_excerpt }}
      </div>
    </div>
  {%- else -%}
    {%- assign des_size = description_excerpt | strip_html | split: " " | size -%}
    {%- assign words_limit = block.settings.length | abs -%}
    <product-description class="hdt-block hdt-product-description" {{ block.shopify_attributes }}>
      <div class="hdt-product-info__item hdt-product__description hdt-relative">
        <div class="hdt-s-text2 hdt-rte hdt-full-des hdt-hidden">
          {{ description_excerpt }}
        </div>
        <div class="hdt-s-text2 hdt-rte hdt-short-des">
          {{ description_excerpt | strip_html | truncatewords: words_limit }}
        </div>
      </div>
      {%- if des_size > words_limit -%}
        <button class="hdt-product__description_readm hdt-pr-des-rm">
          <span class="hdt-rm-text">{{ block.settings.readm_txt }}</span>
          <span class="hdt-rl-text hdt-hidden">{{ block.settings.readl_txt }}</span>
        </button>
      {%- endif -%}
    </product-description>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.blocks.description.name",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "des_mode",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-product.blocks.description.settings.des.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-product.blocks.description.settings.des.options__2.label"
        }
      ],
      "label": "t:sections.main-product.blocks.description.settings.des.label",
      "info": "t:sections.main-product.blocks.description.settings.des.info",
      "default": "2"
    },
    {
      "type": "richtext",
      "id": "short_des",
      "label": "t:sections.main-product.blocks.description.settings.short_des.label",
      "info": "t:sections.main-product.blocks.description.settings.short_des.info"
    },
    {
      "type": "checkbox",
      "id": "readm",
      "label": "t:sections.main-product.blocks.description.settings.readm.label",
      "info": "t:sections.main-product.blocks.description.settings.readm.info",
      "default": false,
      "visible_if": "{{ block.settings.des_mode == '2' }}"
    },
    {
      "type": "number",
      "id": "length",
      "label": "t:sections.main-product.blocks.description.settings.length.label",
      "info": "t:sections.main-product.blocks.description.settings.length.info",
      "default": 30,
      "visible_if": "{{ block.settings.readm == true and block.settings.des_mode == '2' }}"
    },
    {
      "type": "text",
      "id": "readm_txt",
      "label": "t:sections.main-product.blocks.description.settings.readm_txt.label",
      "default": "Read more",
      "visible_if": "{{ block.settings.readm == true and block.settings.des_mode == '2' }}"
    },
    {
      "type": "text",
      "id": "readl_txt",
      "label": "t:sections.main-product.blocks.description.settings.readl_txt.label",
      "default": "Read less",
      "visible_if": "{{ block.settings.readm == true and block.settings.des_mode == '2' }}"
    }
  ],
  "presets": [{ "name": "t:sections.main-product.blocks.description.name" }]
}
{% endschema %}