<div class="hdt-product-info__item hdt-product__liveview" {{ block.shopify_attributes }}>
  <div class="hdt-product__liveview-wrap hdt-inline-flex hdt-align-center">
    {%- capture count_html -%}
      {%- assign count = 'now' | date: '%S' | at_most: block.settings.min | at_least: block.settings.max -%}
      <number-random class="hdt-product__liveview-count hdt-font-medium" config='{ "min":{{ block.settings.min }}, "max":{{ block.settings.max }}, "interval":{{ block.settings.time }}000 }'>{{ count }}</number-random>
    {%- endcapture -%}
    {%- liquid
      assign class = block.settings.ani | append: ' is--infinite '
      if block.settings.svg_upload != blank
      echo '<div class="' | append: class | append:'">'
          echo block.settings.svg_upload 
        echo '</div>'
      elsif block.settings.image_upload != blank
        echo block.settings.image_upload | image_url: width: 25 | image_tag: widths: '25, 50, 100, 200, 300, 400, 500', class: class
      else
        render 'icons', icon: block.settings.icon, class: class
      endif
    -%}
    {%- if block.settings.content != blank -%}
      <div class="hdt-product__liveview-content hdt-s-text">
        {{ block.settings.content | replace: "[count]", count_html }}
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-product.blocks.live_view.name",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "options": [
        {
          "value": "none",
          "label": "t:blocks.icon.options.none"
        },
        {
          "value": "arrow_right",
          "label": "t:blocks.icon.options.arrow_right"
        },
        {
          "value": "arrow_simple",
          "label": "t:blocks.icon.options.arrow_simple"
        },
        {
          "value": "arrow_bottom",
          "label": "t:blocks.icon.options.arrow_bottom"
        },
        {
          "value": "arrow_stretch",
          "label": "t:blocks.icon.options.arrow_stretch"
        },
        {
          "value": "car",
          "label": "t:blocks.icon.options.car"
        },
        {
          "value": "truck",
          "label": "t:blocks.icon.options.truck"
        },
        {
          "value": "diamond",
          "label": "t:blocks.icon.options.diamond"
        },
        {
          "value": "door-lock",
          "label": "t:blocks.icon.options.door_lock"
        },
        {
          "value": "gym",
          "label": "t:blocks.icon.options.gym"
        },
        {
          "value": "hammer",
          "label": "t:blocks.icon.options.hammer"
        },
        {
          "value": "headphones",
          "label": "t:blocks.icon.options.headphones"
        },
        {
          "value": "helm",
          "label": "t:blocks.icon.options.helm"
        },
        {
          "value": "hourglass",
          "label": "t:blocks.icon.options.hourglass"
        },
        {
          "value": "map",
          "label": "t:blocks.icon.options.map"
        },
        {
          "value": "piggy",
          "label": "t:blocks.icon.options.piggy"
        },
        {
          "value": "refesh",
          "label": "t:blocks.icon.options.refesh"
        },
        {
          "value": "rocket",
          "label": "t:blocks.icon.options.rocket"
        },
        {
          "value": "shield",
          "label": "t:blocks.icon.options.shield"
        },
        {
          "value": "shield2",
          "label": "t:blocks.icon.options.shield_2"
        },
        {
          "value": "smile",
          "label": "t:blocks.icon.options.smile"
        },
        {
          "value": "scissors",
          "label": "t:blocks.icon.options.scissors"
        },
        {
          "value": "shuffle",
          "label": "t:blocks.icon.options.shuffle"
        },
        {
          "value": "cloud_upload",
          "label": "t:blocks.icon.options.cloud_upload"
        },
        {
          "value": "cash",
          "label": "t:blocks.icon.options.cash"
        },
        {
          "value": "way",
          "label": "t:blocks.icon.options.way"
        },
        {
          "value": "wristwatch",
          "label": "t:blocks.icon.options.wristwatch"
        },
        {
          "value": "world",
          "label": "t:blocks.icon.options.world"
        },
        {
          "value": "wallet",
          "label": "t:blocks.icon.options.wallet"
        },
        {
          "value": "unlock",
          "label": "t:blocks.icon.options.unlock"
        },
        {
          "value": "umbrella",
          "label": "t:blocks.icon.options.umbrella"
        },
        {
          "value": "repeat",
          "label": "t:blocks.icon.options.repeat"
        },
        {
          "value": "refesh-2",
          "label": "t:blocks.icon.options.refesh_2"
        },
        {
          "value": "medal",
          "label": "t:blocks.icon.options.medal"
        },
        {
          "value": "portfolio",
          "label": "t:blocks.icon.options.portfolio"
        },
        {
          "value": "like",
          "label": "t:blocks.icon.options.like"
        },
        {
          "value": "plance",
          "label": "t:blocks.icon.options.plance"
        },
        {
          "value": "map-maker",
          "label": "t:blocks.icon.options.map_maker"
        },
        {
          "value": "help",
          "label": "t:blocks.icon.options.help"
        },
        {
          "value": "gift",
          "label": "t:blocks.icon.options.gift"
        },
        {
          "value": "cart",
          "label": "t:blocks.icon.options.cart"
        },
        {
          "value": "box",
          "label": "t:blocks.icon.options.box"
        },
        {
          "value": "back",
          "label": "t:blocks.icon.options.back"
        },
        {
          "value": "back2",
          "label": "t:blocks.icon.options.back2"
        }
      ],
      "default": "none",
      "label": "t:blocks.icon.name"
    },
    {
      "type": "liquid",
      "id": "svg_upload",
      "label": "t:blocks.icon.settings.svg_upload.label",
      "info": "[Line Awesome](https://themes.the4.co/the4-icon/lineAwesome-main/) svg icons"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:blocks.icon.settings.image_upload.label"
    },
    {
      "type": "select",
      "id": "ani",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.ani.settings.options__none.label"
        },
        {
          "value": "hdt-ani-bounce",
          "label": "t:sections.main-product.blocks.ani.settings.options__1.label"
        },
        {
          "value": "hdt-ani-tada",
          "label": "t:sections.main-product.blocks.ani.settings.options__2.label"
        },
        {
          "value": "hdt-ani-swing",
          "label": "t:sections.main-product.blocks.ani.settings.options__3.label"
        },
        {
          "value": "hdt-ani-flash",
          "label": "t:sections.main-product.blocks.ani.settings.options__4.label"
        },
        {
          "value": "hdt-ani-fadeIn",
          "label": "t:sections.main-product.blocks.ani.settings.options__5.label"
        },
        {
          "value": "hdt-ani-heartBeat",
          "label": "t:sections.main-product.blocks.ani.settings.options__6.label"
        },
        {
          "value": "hdt-ani-shake",
          "label": "t:sections.main-product.blocks.ani.settings.options__7.label"
        }
      ],
      "label": "t:sections.main-product.blocks.ani.label"
    },
    {
      "type": "range",
      "id": "min",
      "min": 2,
      "max": 60,
      "step": 1,
      "default": 10,
      "label": "t:sections.main-product.blocks.live_view.settings.min.label"
    },
    {
      "type": "range",
      "id": "max",
      "min": 2,
      "max": 60,
      "step": 1,
      "default": 40,
      "label": "t:sections.main-product.blocks.live_view.settings.max.label"
    },
    {
      "type": "range",
      "id": "time",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "t:sections.main-product.blocks.live_view.settings.time.label",
      "default": 7
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.main-product.blocks.live_view.settings.content.label",
      "default": "[count] People are viewing this right now"
    }
  ],
  "presets": [{ "name": "t:sections.main-product.blocks.live_view.name" }]
}
{% endschema %}