{%- capture html_trust -%}
  {%- if block.settings.source == '1' and block.settings.image != blank -%}
    {%- assign image_size_2x = block.settings.wimg | times: 2 -%}
    <div class="hdt-img__trust-image hdt-block lg:hdt-inline-block" style="max-width: min(100%, {{ block.settings.wimg }}px);">
      <img width="{{ block.settings.image.width }}" class="hdt-inline-block" height="{{ block.settings.image.height }}" srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x" src="{{ block.settings.image | image_url: width: 760 }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy">
    </div>
  {%- elsif block.settings.svg != blank -%}
    {%- assign arr = block.settings.svg | remove: ' ' | split: "," -%}
    <div class="hdt-product_trust-svgs hdt-block lg:hdt-inline-block" style="--height-img:{{ block.settings.height }}px;">
      {%- for img in arr -%}
        <div class="hdt-payment-item hdt-inline-block"><img src="https://raw.githubusercontent.com/activemerchant/payment_icons/refs/heads/master/app/assets/images/payment_icons/{{ img }}.svg" height="{{ block.settings.height }}" class="hdt-icon-payment hdt-inline-block"></div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endcapture -%}
<div class="hdt-product-info__item hdt-product__trust-badge" {{ block.shopify_attributes }}>
  {%- if block.settings.mess -%}<p class="hdt-font-medium" style="font-size:{{ block.settings.size }}px;margin-bottom:1rem;">{{ block.settings.mess }}</p>{%- endif -%}
  {{ html_trust }}
</div>
{% schema %}
{
  "name": "t:sections.main-product.blocks.img_trust.name",
  "tag": null,
  "settings":[
    {
      "type": "textarea",
      "id": "mess",
      "label": "t:sections.main-product.blocks.img_trust.settings.mess.label",
      "default": "Guaranteed Safe Checkout",
      "placeholder": "Guaranteed Safe Checkout"
    },
    {
      "type": "range",
      "id": "size",
      "min": 10,
      "max": 60,
      "step": 1,
      "label": "t:sections.main-product.blocks.img_trust.settings.size.label",
      "unit": "px",
      "default": 16
    },
    {
      "type": "select",
      "id": "source",
      "label": "t:sections.main-product.blocks.img_trust.settings.source.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-product.blocks.img_trust.settings.source.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-product.blocks.img_trust.settings.source.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-product.blocks.img_trust.settings.header_image.content",
      "visible_if": "{{ block.settings.source == '1' }}"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-product.blocks.img_trust.settings.image.label",
      "visible_if": "{{ block.settings.source == '1' }}"
    },
    {
      "type": "range",
      "id": "wimg",
      "min": 100,
      "max": 600,
      "step": 5,
      "unit": "px",
      "label": "t:sections.main-product.blocks.img_trust.settings.wimg.label",
      "default": 350,
      "visible_if": "{{ block.settings.source == '1' }}"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.blocks.img_trust.settings.header_svg.content",
      "visible_if": "{{ block.settings.source == '2' }}"
    },
    {
      "type": "textarea",
      "id": "svg",
      "label": "t:sections.main-product.blocks.img_trust.settings.svg.label",
      "default": "amazon,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
      "info": "amazon,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
      "visible_if": "{{ block.settings.source == '2' }}"
    },
    {
      "type": "paragraph",
      "content": "t:blocks.payment.settings.svg_library",
      "visible_if": "{{ block.settings.source == '2' }}"
    },
    {
      "type": "range",
      "id": "height",
      "min": 1,
      "max": 100,
      "step": 1,
      "label": "t:sections.main-product.blocks.img_trust.settings.height.label",
      "unit": "px",
      "default": 30,
      "visible_if": "{{ block.settings.source == '2' }}"
    }
  ],
  "presets": [{ "name": "t:sections.main-product.blocks.img_trust.name" }]
}
{% endschema %}