
{%- liquid
  assign target = product
  assign product = section.settings.product | default: target
  unless product.available
    continue
  endunless
  if block.settings.size_chart != '1'
    assign show_dialog_size_chart = true
    assign image_size_chart = block.settings.size_chart_image
    if block.settings.size_chart == '2'
      assign show_dialog_size_chart = false
      assign size_list = 'products.theme_settings.size' | t | downcase | strip | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq
      for option in product.options_with_values
        assign name = option.name | downcase
        if size_list contains name
          assign show_dialog_size_chart = true
          break
        endif
      endfor
    endif
  endif
-%}
{%- if block.settings.size_chart_source == 'page' and block.settings.size_chart_page != blank and show_dialog_size_chart -%}
  <button class="hdt-s-text hdt-text-base hdt-font-semibold" aria-controls="modal-{{ block.id }}" aria-expanded="false">{{ 'products.product.size_chart_button' | t }}</button>
  <hdt-modal class="hdt-modal hdt-product__modal hdt-modal__size-chart hdt-product__modal hdt-contents" color-scheme="{{ settings.color_scheme_dialog }}">
    <dialog id="modal-{{ block.id }}" class="hdt-dialog hdt-dialog-modal" scroll-lock>
      <div class="hdt-dialog-modal__header">
        <h3 class="hdt-product__modal-title">{{ block.settings.size_chart_page.title }}</h3>
        <button ref="closeButton" class="hdt-s-text hdt-dialog-btn__close" aria-controls="modal-{{ block.id }}" aria-label="{{ 'accessibility.close' | t | escape }}">{%- render 'icon' with 'close' -%}</button>
      </div>
      <div class="hdt-dialog-modal__inner hdt-current-scrollbar">
        <div class="hdt-rte">{{ block.settings.size_chart_page.content }}</div>
      </div>
    </dialog>
  </hdt-modal>
{%- elsif block.settings.size_chart_source == 'image' and image_size_chart != blank and show_dialog_size_chart -%}
  <wrapp-open-pswp-btn class="hdt-contents" data-obj-img='{ "src": "{{ image_size_chart | image_url: width: image_size_chart.width }}", "width": "{{ image_size_chart.width }}", "height": "{{ image_size_chart.height }}", "alt": "{{ image_size_chart.alt }}" }'><button class="hdt-s-text hdt-text-base hdt-font-semibold">{{ 'products.product.size_chart_button' | t }}</button></wrapp-open-pswp-btn>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.main-product.blocks.variant_picker.settings.header_size_chart.content",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "size_chart",
      "label": "t:sections.main-product.blocks.extra_link.settings.size_chart.label",
      "default": "3",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-product.blocks.extra_link.settings.size_chart.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-product.blocks.extra_link.settings.size_chart.options__2.label"
        },
        {
          "value": "3",
          "label": "t:sections.main-product.blocks.extra_link.settings.size_chart.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "size_chart_source",
      "options": [
        {
          "value": "page",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_source.options__1.label"
        },
        {
          "value": "image",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_source.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_source.label"
    },
    {
      "type": "page",
      "id": "size_chart_page",
      "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_page.label",
      "info": "t:sections.main-product.blocks.variant_picker.settings.size_chart_page.info"/*,
      "visible_if": "{{ block.settings.size_chart_source == 'page' }}"*/
    },
    {
      "type": "image_picker",
      "id": "size_chart_image",
      "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart_image.label",
      "visible_if": "{{ block.settings.size_chart_source == 'image' }}"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.variant_picker.settings.header_size_chart.content"
    }
  ]
}
{% endschema %}
