<!-- blocks/banner-item.liquid -->
<div id="{{ block.id }}" class="hdt-banner__item hdt-custom-col hdt-custom-col-{{ block.settings.column }} md:hdt-custom-col-{{ block.settings.column_md }} lg:hdt-custom-col-{{ block.settings.column_lg }} hdt-w-full md:hdt-height--{{ block.settings.image_height }} hdt-height--{{ block.settings.image_height_mb }}" {%- if block.settings.colors_by_block %} color-scheme="{{ block.settings.color_scheme }}" {%- endif %} {{ block.shopify_attributes }}>
  {%- liquid
    assign object_pos = block.settings.image_mb.presentation.focal_point
  -%}
  {% style %}
    #{{ block.id }} .hdt-media-overlap-content{
      --media-overlap-content-gap-r: {{ block.settings.gap_r }}px;
      --media-overlap-content-gap-c: {{ block.settings.gap_c }}px;
    }
    #{{block.id}}{ 
      {% if block.settings.image_height_mb=='fixed' %}
        --aspect-ratioapt:{{block.settings.fixed_height_mb}}px;
      {% endif %}
      {% if block.settings.image_height=='fixed' %}
        --aspect-ratioapt-md:{{block.settings.fixed_height}}px;
      {% endif %}
    }
    @media (max-width: 767px){
      #{{ block.id }} .hdt-media-overlap-content{
        --media-overlap-content-gap-r: {{ block.settings.gap_r_mb }}px;
        --media-overlap-content-gap-c: {{ block.settings.gap_c_mb }}px;
      }
    }
    @media (min-width: 1150px) and (hover:hover){
      #{{ block.id }} .hdt-effect-zoom-in :where(img,picture) {
        transition: transform 1.25s cubic-bezier(0, 0, 0.44, 1.18);
      }
      #{{ block.id }} .hdt-effect-zoom-in:hover img {
        transform: scale3d(1.03, 1.03, 1);
      }
    }
  {% endstyle %}
  <div class="hdt-item_inner{% unless section.settings.section_layout == "full_width" %} hdt-rounded{% endunless %} hdt-media-overlap-content{% if block.settings.parallax %} hdt-animate--parallax{% else %} hdt-eff-{{ block.settings.b_effect }} hdt-eff-img-{{ block.settings.img_effect }}{% endif %}" style="{% if block.settings.image_height_mb == 'adapt_image' %}{% assign image_mb = block.settings.image_mb | default: block.settings.image %}--aspect-ratioapt: {{ image_mb.aspect_ratio | default: 2.0 }};{% endif %}{% if block.settings.image_height == 'adapt_image' %}--aspect-ratioapt-md: {{ block.settings.image.aspect_ratio | default: 2.0 }};{% endif %}{% if object_pos != blank %}--object-pos-mb: {{ object_pos }}{% endif %}">
    <a class="hdt-full-width-link" {% if block.settings.banner_url == blank %}
      role="link" disabled="true"
    {% else %}
      href="{{ block.settings.banner_url }}" 
    {% endif %} target="{% if block.settings.banner_target %}_blank{% else %}_self{% endif %}">
    </a>
    {%- liquid
      if section.settings.section_layout == "full_width" 
        assign sizes = '(min-width: 1150px) calc( 100vw * ' | append: block.settings.column_lg | append: ' / 12), (min-width: 768px) calc( 100vw * ' | append: block.settings.column_md | append: ' / 12), calc(100vw * ' | append: block.settings.column | append: ' / 12)'
      else
      assign sizes = '(min-width: 1150px) calc( ' | append: settings.page_width | append: 'px * ' | append: block.settings.column_lg | append: ' / 12), (min-width: 768px) calc( 100vw * ' | append: block.settings.column_md | append: ' / 12), calc(100vw * ' | append: block.settings.column | append: ' / 12)'
      endif

      if block.settings.image != blank
        echo '<picture class="hdt-media-wrapper">'
        if block.settings.image_mb != blank and block.settings.image_mb != block.settings.image
          assign srcset = block.settings.image_mb | image_url: width: block.settings.image_mb.width | image_tag: widths: '200,400,600,800,1000', alt: null | split: 'srcset="' | last
          unless srcset contains 'src='
            echo '<source media="(max-width: 767px)" srcset="' | append: srcset | replace_first: 'style=', 'data-none='
          endunless
        endif
        echo block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, class: 'hdt-object-pos-mb  hdt-obj-eff', widths: '400,600,800,1000,1200,1400,1600,1800,2000,2400,2600'
        echo '</picture>'
      else
        capture current
        cycle 1, 2 , 3
        endcapture
        echo '<div class="hdt-media-wrapper">'
        echo 'hero-apparel-' | append: current | placeholder_svg_tag: 'placeholder-svg hdt-placeholder hdt-obj-eff'
        echo '</div>'
      endif
    -%}
    <div class="hdt-grid hdt-h-full hdt-pe-none ">
      <div class="hdt-place-self-{{ block.settings.content_position_mb }} md:hdt-place-self-{{ block.settings.content_position }} {% content_for "block", type: "box-content-config", id: 'content-config' %}>
        <div class="hdt-content hdt-text-{{ block.settings.alignment_mb }} md:hdt-text-{{ block.settings.alignment }}">
          {% content_for "blocks" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:blocks.banner_item.name",
    "tag":null,
    "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "text"
      },
      {
        "type": "button"
      },
      {
        "type": "spacer"
      },
      {
        "type": "liquid"
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "column_lg",
        "label": "Column",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "hidden",
            "label": "Hidden"
          }
        ],
        "default": "12"
      },
      {
        "type": "select",
        "id": "column_md",
        "label": "Column (tablet)",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "hidden",
            "label": "Hidden"
          }
        ],
        "default": "12"
      },
      {
        "type": "select",
        "id": "column",
        "label": "Column (mobile)",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "hidden",
            "label": "Hidden"
          }
        ],
        "default": "12"
      },
      {
        "type": "header",
        "content": "General options"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:blocks.banner_item.settings.image"
      },
      {
        "type": "image_picker",
        "id": "image_mb",
        "label": "t:blocks.banner_item.settings.image_mb"
      },
      {
        "type": "url",
        "id": "banner_url",
        "label": "t:blocks.banner_item.settings.banner_url"
      },
      {
        "type": "checkbox",
        "id": "banner_target",
        "label": "t:blocks.banner_item.settings.banner_target",
        "default": false
      },
      {
        "type": "select",
        "id": "image_height",
        "options": [
          {
            "value": "adapt_image",
            "label": "t:sections.slideshow.settings.image_height.options__2.label"
          },
          {
            "value": "full",
            "label": "t:sections.slideshow.settings.image_height.options__3.label"
          },
          {
            "value": "fixed",
            "label": "t:sections.slideshow.settings.image_height.options__4.label"
          }
        ],
        "default": "adapt_image",
        "label": "t:sections.slideshow.settings.image_height.label",
        "info": "t:sections.slideshow.settings.image_height.info"
      },
      {
        "type": "range",
        "id": "fixed_height",
        "min": 200,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "t:sections.slideshow.settings.fixed_height.label",
        "default": 860
      },
      {
        "type": "select",
        "id": "image_height_mb",
        "options": [
          {
            "value": "adapt_image",
            "label": "t:sections.slideshow.settings.image_height.options__2.label"
          },
          {
            "value": "full",
            "label": "t:sections.slideshow.settings.image_height.options__3.label"
          },
          {
            "value": "fixed",
            "label": "t:sections.slideshow.settings.image_height.options__4.label"
          }
        ],
        "default": "adapt_image",
        "label": "t:sections.slideshow.settings.image_height_mb.label"
      },
      {
        "type": "range",
        "id": "fixed_height_mb",
        "min": 100,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "t:sections.slideshow.settings.fixed_height_mb.label",
        "default": 300
      },
      {
        "type": "checkbox",
        "id": "parallax",
        "label": "t:blocks.banner_item.settings.parallax.label",
        "info": "t:blocks.banner_item.settings.parallax.info",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "t:blocks.banner_item.settings.note.label"
      },
      {
        "type": "select",
        "id": "img_effect",
        "label": "t:sections.all.image_effect.image_hover_eff.label",
        "info": "t:sections.all.image_effect.image_hover_eff.info",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.image_effect.image_hover_eff.options.none"
          },
          {
            "value": "zoom",
            "label": "t:sections.all.image_effect.image_hover_eff.options.zoom"
          },
          {
            "value": "rotate",
            "label": "t:sections.all.image_effect.image_hover_eff.options.rotate"
          },
          {
            "value": "translateToTop",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToTop"
          },
          {
            "value": "translateToRight",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToRight"
          },
          {
            "value": "translateToBottom",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToBottom"
          },
          {
            "value": "translateToLeft",
            "label": "t:sections.all.image_effect.image_hover_eff.options.translateToLeft"
          },
          {
            "value": "filter",
            "label": "t:sections.all.image_effect.image_hover_eff.options.filter"
          },
          {
            "value": "bounceIn",
            "label": "t:sections.all.image_effect.image_hover_eff.options.bounceIn"
          }
        ]
      },
      {
        "type": "select",
        "id": "b_effect",
        "label": "t:sections.all.image_effect.item_eff.label",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.image_effect.item_eff.options.none"
          },
          {
            "value": "border-run",
            "label": "t:sections.all.image_effect.item_eff.options.border_run"
          },
          {
            "value": "pervasive-circle",
            "label": "t:sections.all.image_effect.item_eff.options.pervasive_circle"
          },
          {
            "value": "plus-zoom-overlay",
            "label": "t:sections.all.image_effect.item_eff.options.plus_zoom_overlay"
          },
          {
            "value": "overlay",
            "label": "t:sections.all.image_effect.item_eff.options.overlay"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "colors_by_block",
        "label": "Display colors by block"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme"
      },
      {
        "type": "header",
        "content": "t:sections.all.screen.options.desktop"
      },
      {
        "type": "range",
        "id": "gap_r",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.banner_item.settings.gap_r",
        "default": 20
      },
      {
        "type": "range",
        "id": "gap_c",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.banner_item.settings.gap_c",
        "default": 20
      },
      {
        "type": "select",
        "id": "content_position",
        "label": "t:sections.all.content_position.label",
        "options": [
          {
            "value": "start",
            "label": "t:sections.all.content_position.options.start"
          },
          {
            "value": "start-center",
            "label": "t:sections.all.content_position.options.start_center"
          },
          {
            "value": "start-end",
            "label": "t:sections.all.content_position.options.start_end"
          },
          {
            "value": "center",
            "label": "t:sections.all.content_position.options.center"
          },
          {
            "value": "center-start",
            "label": "t:sections.all.content_position.options.center_start"
          },
          {
            "value": "center-end",
            "label": "t:sections.all.content_position.options.center_end"
          },
          {
            "value": "end",
            "label": "t:sections.all.content_position.options.end"
          },
          {
            "value": "end-start",
            "label": "t:sections.all.content_position.options.end_start"
          },
          {
            "value": "end-center",
            "label": "t:sections.all.content_position.options.end_center"
          }
        ],
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "alignment",
        "label": "t:settings_schema.global.settings.text_alignment.label",
        "default": "center"
      },
      {
        "type": "header",
        "content": "t:sections.all.screen.options.mobile"
      },
      {
        "type": "range",
        "id": "gap_r_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.banner_item.settings.gap_r",
        "default": 20
      },
      {
        "type": "range",
        "id": "gap_c_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.banner_item.settings.gap_c",
        "default": 20
      },
      {
        "type": "select",
        "id": "content_position_mb",
        "label": "t:sections.all.content_position.label",
        "options": [
          {
            "value": "start",
            "label": "t:sections.all.content_position.options.start"
          },
          {
            "value": "start-center",
            "label": "t:sections.all.content_position.options.start_center"
          },
          {
            "value": "start-end",
            "label": "t:sections.all.content_position.options.start_end"
          },
          {
            "value": "center",
            "label": "t:sections.all.content_position.options.center"
          },
          {
            "value": "center-start",
            "label": "t:sections.all.content_position.options.center_start"
          },
          {
            "value": "center-end",
            "label": "t:sections.all.content_position.options.center_end"
          },
          {
            "value": "end",
            "label": "t:sections.all.content_position.options.end"
          },
          {
            "value": "end-start",
            "label": "t:sections.all.content_position.options.end_start"
          },
          {
            "value": "end-center",
            "label": "t:sections.all.content_position.options.end_center"
          }
        ],
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "alignment_mb",
        "label": "t:settings_schema.global.settings.text_alignment.label",
        "default": "center"
      }
    ],
    "presets":[
      {
        "name": "t:blocks.banner_item.name",
        "blocks": [
          {
            "type": "heading",
            "settings": {
              "heading": "<h2>SALE OFF UP TO 70%</h2>",
              "heading_size": "h2"
            }
          },
          {
            "type": "text",
            "settings": {
              "text": "<p>SS 2024 New Arrival<\/p>",
              "text_size": "4xl"
            }
          },
          {
            "type": "button",
            "settings": {
              "label": "Shop now",
              "link": "",
              "open_in_new_tab": false,
              "full_width": false,
              "btn_style": "hdt-btn-outline-hover-accent",
              "icon": "none",
              "icon_position": "after",
              "icon_height": 16,
              "icon_spacing": 5
            }
          }
        ]
      }
    ]
  }
{% endschema %}
