<!doctype html>
  {%- liquid
    assign iso_code  = request.locale.iso_code
    assign config_rtl  = settings.right_to_left | default: 'enable-with-list'
    assign isRTL = false
    assign dir = 'ltr'
    if config_rtl == 'enable-with-list'
      assign iso_code_ck = iso_code | split: '-' | first | append: ';' | prepend: ';'
      assign lis_rtl = ';ae;ar;arc;bqi;ckb;dv;fa;glk;ha;he;kwh;ks;ku;mzn;nqo;pnb;ps;sd;ug;ur;yi;'
      if lis_rtl contains iso_code_ck
        assign isRTL = true
        assign dir = 'rtl'
      endif
    elsif config_rtl == 'enable'
      assign isRTL = true
      assign dir = 'rtl'
    endif -%}

<html class="no-js hdt-pr-img__effect-{{ settings.effect_secondary_image }} hdt-badge__shape-{{ settings.badge_shape }} dir--{{ dir }}{% if request.design_mode %} shopify-design-mode{% endif %}" lang="{{ request.locale.iso_code }}" dir="{{ dir }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    {%- if settings.library_font == 'google' -%}{{ settings.embed_google_font }}{%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; {{ 'general.meta.tag' | t }} "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

    {%- render 'social-meta-tags' -%}
    {%- render 'scripts' -%}
    {%- render 'css-variables', isRTL: isRTL -%}
    {%- render 'js-variables' -%}

    {{ content_for_header }}

  </head>

  <body class="hdt-page-type-{{ request.page_type }} {% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
    {%- render 's-dom-temp' -%}
    <a class="skip-to-content-link button sr-only " href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    <div class="hdt-password-wrapper">
      {%- section 'main-password-header' -%}
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>
    </div>
    {%- liquid
      render 'system-bottom'
    -%}
    <style>
      @media (min-width: 1025px){
        .hdt-password-wrapper {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          height: 100vh;
        } 
      }
    </style>
  </body>
</html>
