<!-- sections/banner.liquid -->
{% style %}
  #shopify-section-{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
{% endstyle %}
<div class="hdt-banner-wrapper hdt-s-gradient hdt-section-spacing" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};" {%- endif %}>
  <div class="hdt-container{% if section.settings.section_layout == "full_width" %}-full{% endif %}">
    {% content_for "block", type: "section-heading", id: "banner-heading" %}
  </div>
  <div class="hdt-container{% if section.settings.section_layout == "full_width" %}-full{% endif %}">
    <div class="hdt-banner-row hdt-flex hdt-flex-wrap"{% if section.settings.space_items != 'x' %} style="--spacing-x:{{ section.settings.space_items }}px;--spacing-y:{{ section.settings.space_items }}px;"{% endif %}>
      {% content_for "blocks" %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.banner.name",
    "class": "hdt-banner",
    "tag": "section",
    "disabled_on": {
      "groups": [
        "*"
      ]
    },
    "blocks": [
      {
        "type": "banner-item"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.banner.headers.label"
      },
      {
        "type": "select",
        "id": "space_items",
        "label": "t:sections.all.space_items.desktop",
        "default": "x",
        "options": [
          {
            "label": "t:sections.all.space_items.default",
            "value": "x"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "5px",
            "value": "5"
          },
          {
            "label": "10px",
            "value": "10"
          },
          {
            "label": "15px",
            "value": "15"
          },
          {
            "label": "20px",
            "value": "20"
          },
          {
            "label": "25px",
            "value": "25"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "colors_by_section",
        "label": "t:sections.all.colors.display_colors_by_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "visible_if": "{{ section.settings.colors_by_section }}"
      },
      {
        "type": "range",
        "id": "background_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "t:sections.all.background.opacity",
        "default": 0,
        "visible_if": "{{ section.settings.colors_by_section }}"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.all.full_width.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_rate",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.all.padding.padding_rate",
        "default": 75
      }
    ]/*,
    "presets": [
      {
        "name": "t:sections.banner.name",
        "blocks": [
          {
            "type": "banner-item",
            "blocks": [
              {
                "type": "heading",
                "settings": {
                  "heading": "<p>SALE OFF UP TO 70%</p>",
                  "heading_size": "h2"
                }
              },
              {
                "type": "text",
                "settings": {
                  "text": "<p>SS 2024 New Arrival<\/p>",
                  "text_size": "4xl"
                }
              },
              {
                "type": "button",
                "settings": {
                  "label": "Button label",
                  "link": "",
                  "open_in_new_tab": false,
                  "full_width": false,
                  "btn_style": "",
                  "icon": "truck",
                  "icon_position": "before",
                  "icon_height": 16,
                  "icon_spacing": 5
                }
              }
            ]
          }
        ]
      }
    ]*/
  }
{% endschema %}
