<!-- collections-list.liquid -->
{{ 'hdt-collection-items.css' | asset_url | stylesheet_tag }}
{%- liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
-%}
{%- liquid
  assign current_width = settings.page_width | append: 'px'
  assign current_width_tb = '100vw'
  assign current_width_mb = '100vw'
  if section.settings.space_items == "x"
    assign space_item = settings.spacing_grid_horizontal
  else
    assign space_item = section.settings.space_items
  endif
-%}
{%- style -%}
  #shopify-section-{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
{%- endstyle -%}
{%- style -%}
  #{{ section.id }} hdt-slider {
    --slide-spacing: {{ space_item }}px;
  } 
  #{{section.id}} .hdt-collections-list{
    --content-space:{{section.settings.content_space}}px;
  }
  {% if section.settings.image_padding > 30 %}
    #{{section.id}} .hdt-collections-list {
      --image-pd:15px
    }
    @media(min-width:768px){
      #{{section.id}} .hdt-collections-list{ 
        --image-pd:30px
      }
    }
    @media(min-width:1150px){
      #{{section.id}} .hdt-collections-list{
        --image-pd:{{section.settings.image_padding}}px;
      }
    }
    {% elsif section.settings.image_padding > 15 %}
      #{{section.id}} .hdt-collections-list{
        --image-pd:15px;
      }
      #{{section.id}} .hdt-collections-list .hdt-slider-parent.hdt-slider__dots_on_content {
        --image-pd:{{section.settings.image_padding}}px;
      }
    @media(min-width:768px){
      #{{section.id}} .hdt-collections-list{
        --image-pd:{{section.settings.image_padding}}px;
      }
    }
  {% else %}
    #{{section.id}} .hdt-collections-list {
      --image-pd:{{section.settings.image_padding}}px;
    }
  {% endif %}
{%- endstyle -%}
<div id="{{ section.id }}" class="{{ parent }}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %}>
  <div class="{{ child }}">     
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
      {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    {%- capture sizes -%}
      (min-width: 1150px) calc(({{ current_width }} -  ({{ space_item }} * ( {{ section.settings.col_dk }} - 1 ))) * 1 / {{ section.settings.col_dk }}),(min-width: 768px) calc( ({{ current_width_tb }} - ({{ space_item_tb }} * ( {{ section.settings.col_tb }} - 1 ))) * 1 / {{ section.settings.col_tb }}), calc( ({{ current_width_mb }} - ({{ space_item_mb }} * ( {{ section.settings.col_mb }} - 1 ) )) * 1 / {{ section.settings.col_mb }})
    {%- endcapture -%}
    {%- content_for 'block', type: 'section-heading', id: "section-heading-collections-list" -%}
    {%- capture content_for_blocks -%}
      {% content_for 'blocks' %}
    {%- endcapture -%}
    {% if section.settings.layout_mode == 'carousel' %}
    <hdt-slider id="Slider-{{ section.id }}" class="hdt-collections-list hdt-has-collection{{ section.settings.collection_des }} hdt-colelction-border-{{ section.settings.enable_border }} hdt-image-rounded-{{ section.settings.image_rounded }} hdt-ratio--{{ section.settings.image_ratio }} {% unless section.settings.image_size %} hdt-ratio--contain{% endunless %} hdt-slider hdt-relative hdt-slide-spacing-x lg:hdt-slides-{{ section.settings.col_dk }} md:hdt-slides-{{ section.settings.col_tb }} hdt-slides-{{ section.settings.col_mb }}" config='{ "id": "Slider-{{ section.id }}", "navUI": {{ section.settings.navUI }}, "dotUI": true, "loop": {{ section.settings.loop }}, "autoPlay": {{ section.settings.autoplay | times: 1000 }}, "pauseOnHover": {{ section.settings.pauseOnHover }} }'>
      <div class="hdt-slider__viewport hdt-relative">
        <div class="hdt-slider__container">
          {%- liquid
            if section.settings.collection_list != blank
              for collection in section.settings.collection_list
                capture current 
                  cycle 1, 2, 3, 4
                endcapture
                render 'collection-item', collection: collection, class: "hdt-slider__slide", sizes: sizes, current: current
              endfor
            elsif section.blocks.size > 0
              echo content_for_blocks
            else
              for i in (1..8)
                capture current
                  cycle 1, 2, 3, 4
                endcapture
                render 'collection-item', class: "hdt-slider__slide", sizes: sizes, current: current
              endfor
            endif
          -%}
        </div>
      </div>
      {%- if section.settings.navUI -%}
        <div class="hdt-navigation hdt-position-{{ section.settings.nav_position }} hdt-visible-{{ section.settings.nav_visible }} hdt-style-{{ section.settings.nav_style }} hdt-shape-{{ section.settings.nav_shape }} hdt-size-{{ section.settings.nav_size }} hdt-hide-mobile-{{ section.settings.nav_hide_mobile }}">
          <button aria-controls="Slider-{{ section.id }}" class="hdt-slider__button hdt-slider__button--prev" type="button" disabled name="previous" aria-label="previous">
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none"><path d="M5.5 11L0 5.5L5.5 0L6.47625 0.97625L1.9525 5.5L6.47625 10.0238L5.5 11Z" fill="currentColor"/></svg>
          </button>
          <button aria-controls="Slider-{{ section.id }}" class="hdt-slider__button hdt-slider__button--next" type="button" disabled name="next" aria-label="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none"><path d="M1.5 11L7 5.5L1.5 0L0.52375 0.97625L5.0475 5.5L0.52375 10.0238L1.5 11Z" fill="currentColor"/></svg>
          </button>
        </div>
      {%- endif -%}
      {%- if section.settings.dotUI -%}
        <div hdt-slider-dots aria-controls="Slider-{{ section.id }}" class="hdt-slider__dots hdt-pagination hdt-style-{{ section.settings.pag_style }} hdt-radius-{{ section.settings.pag_rounded }} hdt-hide-mobile-{{ section.settings.pag_hide_mobile }}" style="--space-between: {{ section.settings.pag_space }}px; --margin-top: {{ section.settings.pag_mgt }}px;" hdt-reveal="slide-in" timeline></div>
      {%- endif -%}
    </hdt-slider>
    {% else %}
      <div class="hdt-collections-list hdt-has-collection{{ section.settings.collection_des }} hdt-colelction-border-{{ section.settings.enable_border }} hdt-image-rounded-{{ section.settings.image_rounded }} hdt-ratio--{{ section.settings.image_ratio }} {% unless section.settings.image_size %} hdt-ratio--contain{% endunless %} hdt-relative hdt-row-grid hdt-spacing-{{ section.settings.space_items }} lg:hdt-grid-cols-{{ section.settings.col_dk }} md:hdt-grid-cols-{{ section.settings.col_tb }} hdt-grid-cols-{{ section.settings.col_mb }}">
        {%- liquid
          if section.settings.collection_list != blank
            for collection in section.settings.collection_list
              capture current 
                cycle 1, 2, 3, 4
              endcapture
              render 'collection-item', collection: collection, sizes: sizes, current: current
            endfor
          elsif section.blocks.size > 0
            echo content_for_blocks
          else
            for i in (1..8)
              capture current
                cycle 1, 2, 3, 4
              endcapture
              render 'collection-item', sizes: sizes, current: current
            endfor
          endif
        -%}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collections-list.name",
  "tag": "section",
  "class": "hdt-section hdt-sec-collections-list",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general_options.label"
    },
    {
      "id": "collection_list",
      "type": "collection_list", 
      "label": "t:sections.collections-list.settings.collection_list",
      "info": "t:sections.collections-list.settings.collection_list_info"
    },
    {
      "type": "select",
      "id": "collection_des",
      "label": "t:sections.collections-list.settings.collection_des.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "9",
          "label": "t:sections.collections-list.settings.collection_des.option_9.label"
        },
        {
          "value": "10",
          "label": "t:sections.collections-list.settings.collection_des.option_10.label"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "13",
          "label": "t:sections.collections-list.settings.collection_des.option_13.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "content_size",
      "options": [
        {
          "value": "xs",
          "label": "t:settings_schema.typography.settings.font_size.xs"
        },
        {
          "value": "sm",
          "label": "t:settings_schema.typography.settings.font_size.sm"
        },
        {
          "value": "base",
          "label": "t:settings_schema.typography.settings.font_size.base"
        },
        {
          "value": "lg",
          "label": "t:settings_schema.typography.settings.font_size.lg"
        },
        {
          "value": "xl",
          "label": "t:settings_schema.typography.settings.font_size.xl"
        },
        {
          "value": "2xl",
          "label": "t:settings_schema.typography.settings.font_size.2xl"
        },
        {
          "value": "4xl",
          "label": "t:settings_schema.typography.settings.font_size.4xl"
        },
        {
          "value": "custom",
          "label": "t:settings_schema.typography.settings.font_size.custom"
        }
      ],
      "label": "t:sections.collections-list.settings.content_size.label",
      "default": "base"
    },
    {
      "type": "select",
      "id": "content_weight",
      "options": [
        {
          "value": "normal",
          "label": "t:settings_schema.typography.settings.font_weight.normal"
        },
        {
          "value": "medium",
          "label": "t:settings_schema.typography.settings.font_weight.medium"
        },
        {
          "value": "semibold",
          "label": "t:settings_schema.typography.settings.font_weight.semibold"
        }
      ],
      "label": "t:sections.collections-list.settings.content_weight.label",
      "default": "semibold"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.collections-list.settings.content_position.label",
      "info": "t:sections.collections-list.settings.content_position.info",
      "options": [
        {
          "value": "center",
          "label": "t:sections.collections-list.settings.content_position.option_1.label"
        },
        {
          "value": "end-center",
          "label": "t:sections.collections-list.settings.content_position.option_2.label"
        },
        {
          "value": "start",
          "label": "t:sections.collections-list.settings.content_position.start.label"
        },
        {
          "value": "end",
          "label": "t:sections.collections-list.settings.content_position.end.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "content_space",
      "label": "t:sections.collections-list.settings.content_space.label",
      "info": "t:sections.collections-list.settings.content_space.info",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "show_count",
      "label": "t:sections.collections-list.settings.show_count.label",
      "info": "t:sections.collections-list.settings.show_count.info",
      "default": false
    },
    {
      "type": "text",
      "id": "count_label",
      "label": "t:sections.collections-list.settings.count_label.label",
      "info": "t:sections.collections-list.settings.count_label.info",
      "default": "Products"
    },
    {
      "type": "checkbox",
      "id": "image_rounded",
      "label": "t:sections.collections-list.settings.image_rounded.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "label": "t:sections.collections-list.settings.enable_border.label",
      "default": false
    },
    {
      "type": "range",
      "id": "image_padding",
      "label": "t:sections.collections-list.settings.image_padding.label",
      "info": "t:sections.collections-list.settings.image_padding.info",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.all.images.ratio.adapt_image.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.images.ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.images.ratio.portrait.label"
        },
        {
          "value": "asos",
          "label": "t:sections.all.images.ratio.asos.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.images.ratio.landscape.label"
        }
      ],
      "label": "t:sections.all.images.ratio.label",
      "default": "adapt_image"
    },
    {
      "type": "checkbox",
      "id": "image_size",
      "label": "t:sections.all.images.size.cover",
      "default": true
    },
    {
      "type": "select",
      "id": "img_effect",
      "label": "t:sections.all.image_effect.image_hover_eff.label",
      "info": "t:sections.all.image_effect.image_hover_eff.info",
      "default": "zoom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.image_effect.image_hover_eff.options.none"
        },
        {
          "value": "zoom",
          "label": "t:sections.all.image_effect.image_hover_eff.options.zoom"
        },
        {
          "value": "rotate",
          "label": "t:sections.all.image_effect.image_hover_eff.options.rotate"
        },
        {
          "value": "translateToTop",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToTop"
        },
        {
          "value": "translateToRight",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToRight"
        },
        {
          "value": "translateToBottom",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToBottom"
        },
        {
          "value": "translateToLeft",
          "label": "t:sections.all.image_effect.image_hover_eff.options.translateToLeft"
        },
        {
          "value": "filter",
          "label": "t:sections.all.image_effect.image_hover_eff.options.filter"
        },
        {
          "value": "bounceIn",
          "label": "t:sections.all.image_effect.image_hover_eff.options.bounceIn"
        }
      ]
    },
    {
      "type": "select",
      "id": "b_effect",
      "label": "t:sections.all.image_effect.item_eff.label",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.image_effect.item_eff.options.none"
        },
        {
          "value": "border-run",
          "label": "t:sections.all.image_effect.item_eff.options.border_run"
        },
        {
          "value": "pervasive-circle",
          "label": "t:sections.all.image_effect.item_eff.options.pervasive_circle"
        },
        {
          "value": "plus-zoom-overlay",
          "label": "t:sections.all.image_effect.item_eff.options.plus_zoom_overlay"
        },
        {
          "value": "overlay",
          "label": "t:sections.all.image_effect.item_eff.options.overlay"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_dk",
      "label": "t:sections.all.items_row.desktop",
      "default": "4",
      "options": [
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        },
        {
          "label": "5",
          "value": "5"
        },
        {
          "label": "6",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_tb",
      "label": "t:sections.all.items_row.tablet",
      "default": "3",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mb",
      "label": "t:sections.all.items_row.mobile",
      "info": "t:sections.all.items_row.info",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "space_items",
      "label": "t:sections.all.space_items.desktop",
      "default": "x",
      "options": [
        {
          "label": "t:sections.all.space_items.default",
          "value": "x"
        },
        {
          "label": "5px",
          "value": "5"
        },
        {
          "label": "10px",
          "value": "10"
        },
        {
          "label": "20px",
          "value": "20"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.collections-list.layout_mode.label"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "t:sections.collections-list.layout_mode.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.collections-list.layout_mode.grid"
        },
        {
          "value": "carousel",
          "label": "t:sections.collections-list.layout_mode.carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "header",
      "content": "t:blocks.carousel.name",
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:blocks.carousel.settings.loop",
      "default": false,
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "autoplay",
      "min": 0,
      "max": 7,
      "step": 0.5,
      "unit": "s",
      "label": "t:blocks.carousel.settings.autoplay.label",
      "default": 0,
      "info": "t:blocks.carousel.settings.autoplay.info",
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "pauseOnHover",
      "label": "t:blocks.carousel.settings.autoplay.pause_on_hover",
      "default": false,
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "header",
      "content": "t:blocks.carousel.settings.navigation.label",
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "navUI",
      "label": "t:blocks.carousel.settings.navigation.use_navigation",
      "default": false,
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "nav_position",
      "label": "t:blocks.carousel.settings.navigation.position.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "on_border",
          "label": "t:blocks.carousel.settings.navigation.position.options.on_border"
        },
        {
          "value": "out_side",
          "label": "t:blocks.carousel.settings.navigation.position.options.out_side"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.navUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "nav_visible",
      "label": "t:blocks.carousel.settings.navigation.nav_visible.label",
      "options": [
        {
          "value": "always",
          "label": "t:blocks.carousel.settings.navigation.nav_visible.options.always"
        },
        {
          "value": "hover",
          "label": "t:blocks.carousel.settings.navigation.nav_visible.options.hover"
        }
      ],
      "default": "always",
      "visible_if": "{{ section.settings.navUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "nav_style",
      "label": "t:blocks.carousel.settings.navigation.nav_style.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "outline",
          "label": "t:blocks.carousel.settings.navigation.nav_style.options.outline"
        },
        {
          "value": "simple",
          "label": "t:blocks.carousel.settings.navigation.nav_style.options.simple"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.navUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "nav_shape",
      "label": "t:blocks.carousel.settings.navigation.nav_shape.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "rounded",
          "label": "t:blocks.carousel.settings.navigation.nav_shape.options.rounded"
        },
        {
          "value": "rotate",
          "label": "t:blocks.carousel.settings.navigation.nav_shape.options.rotate"
        }
      ],
      "default": "default",
      "info": "t:blocks.carousel.settings.navigation.nav_shape.info",
      "visible_if": "{{ section.settings.navUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "nav_size",
      "label": "t:blocks.carousel.settings.navigation.nav_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:blocks.carousel.settings.navigation.nav_size.options.small"
        },
        {
          "value": "medium",
          "label": "t:blocks.carousel.settings.navigation.nav_size.options.medium"
        },
        {
          "value": "large",
          "label": "t:blocks.carousel.settings.navigation.nav_size.options.large"
        }
      ],
      "default": "small",
      "visible_if": "{{ section.settings.navUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "nav_hide_mobile",
      "label": "t:blocks.carousel.settings.navigation.nav_hide_mobile.label",
      "default": false,
      "visible_if": "{{ section.settings.navUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "header",
      "content": "t:blocks.carousel.settings.pagination.label",
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "dotUI",
      "label": "t:blocks.carousel.settings.pagination.use_pagination",
      "default": false,
      "visible_if": "{{ section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "pag_style",
      "label": "t:blocks.carousel.settings.pagination.style.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "outline",
          "label": "t:blocks.carousel.settings.pagination.style.options.outline"
        },
        {
          "value": "elessi",
          "label": "t:blocks.carousel.settings.pagination.style.options.elessi"
        },
        {
          "value": "full",
          "label": "t:blocks.carousel.settings.pagination.style.options.full"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.dotUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "pag_rounded",
      "label": "t:blocks.carousel.settings.pagination.rounded",
      "default": true,
      "visible_if": "{{ section.settings.dotUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "pag_space",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.carousel.settings.pagination.space",
      "default": 10,
      "visible_if": "{{ section.settings.dotUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "range",
      "id": "pag_mgt",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.carousel.settings.pagination.space_between_pagination",
      "default": 10,
      "visible_if": "{{ section.settings.dotUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "pag_hide_mobile",
      "label": "t:blocks.carousel.settings.pagination.pag_hide_mobile",
      "default": false,
      "visible_if": "{{ section.settings.dotUI and section.settings.layout_mode == 'carousel' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_layout.label"
    },
    {
      "type": "checkbox",
      "id": "colors_by_section",
      "label": "t:sections.all.colors.display_colors_by_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "visible_if": "{{ section.settings.colors_by_section }}"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.all.background.opacity",
      "default": 0,
      "visible_if": "{{ section.settings.colors_by_section }}"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:sections.all.section_layout.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_layout.width.container"
        },
        {
          "value": "wrapper_container",
          "label": "t:sections.all.section_layout.width.wrapper_container"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_layout.width.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "t:sections.all.background.image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 50
    },
  ],
  "blocks": [
    {
      "type": "_collection_item"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collections-list.name",
      "category": "t:sections_categories.03_collections.name",
      "blocks": [
        {
          "type": "_collection_item"
        },
        {
          "type": "_collection_item"
        },
        {
          "type": "_collection_item"
        },
        {
          "type": "_collection_item"
        }
      ]
    }
  ]
}
{% endschema %}