<!-- featured-collection.liquid -->

{%- liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
-%}
{% style %}
  #shopify-section-{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
{% endstyle %}
<div id="section-{{ section.id }}" class="{{ parent }}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %}>
  <div class="{{ child }}">
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
      {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    <div class="hdt-container-heading hdt-container">
      {%- content_for "block", type: "section-heading", id: "pr-heading" -%}
    </div>
    {%- content_for "blocks" -%}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collection_products.name",
  "tag": "section",
  "max_blocks": 1,
  "class": "hdt-section hdt-featured-collection",
  "blocks": [
    {
      "type": "_product-grid"
    },
    {
      "type": "_product-carousel"
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_layout.label"
    },
    {
      "type": "checkbox",
      "id": "colors_by_section",
      "label": "t:sections.all.colors.display_colors_by_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.all.background.opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:sections.all.section_layout.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_layout.width.container"
        },
        {
          "value": "wrapper_container",
          "label": "t:sections.all.section_layout.width.wrapper_container"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_layout.width.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "t:sections.all.background.image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 50
    },
  ],
  "presets": [
    {
      "name": "t:sections.collection_products.name",
      "category": "t:sections_categories.03_collections.name",
      "blocks": [
        {
          "type": "_product-grid",
          "settings": {
            "col_dk": "4",
            "col_tb": "3",
            "col_mb": "2"
          }
        },
        {
          "type": "section-heading",
          "static": true,
          "id": "pr-heading",
          "settings": {
            "design_heading": "2",
            "horizontal": false,
            "alignment": "center",
            "heading_gap": 0,
            "margin_bottom": 30
          },
          "blocks": [
            {
              "type": "_heading_section",
              "settings": {
                "heading": "TRENDING",
                "line_height": "",
                "heading_size": "h5",
                "text_color": "hdt-s-text"
              }
            },
            {
              "type": "_sub_heading_section",
              "settings": {
                "text": "<p><em>Top view in this week</em></p>"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}