<!-- header-inline-blocks.liquid -->
{%- style -%}
  :root {
    --sticky-header-enabled: {% if section.settings.sticky_type != 'none' %}1{% else %}0{% endif %};
  }
  html {
    --header-height: {{ section.settings.header_height_mb }}px;
    --header-height2: var(--header-height);
    --h-space-tr: 0px;
  }
  @media (min-width: 768px) {
    html {
      --header-height: {{ section.settings.header_height }}px;
    }
  }
  .hdt-navigation {
    --spacing-menu-item: {{ section.settings.spacing_nav }}px;
  }
  .hdt-menu-uppercase-true #hdt-nav-ul > li > a,
  .hdt-menu-uppercase-true #hdt-nav-ul > li > hdt-header-menu > details > summary .hdt-menu-link-text {
    text-transform: uppercase;
  }
  
  {% if section.settings.header_transparent -%}
    {%- assign scheme = section.settings.header_transparent_colors -%}
    .hdt-section-header + #MainContent > .section-allow-transparent.hdt-section:first-child {
      margin-block-start: calc(-1 * var(--header-height, 0px) - 1px);
    }
    :is([enabled-transparent-header], :not(.hdt-section-header + .shopify-section-group-header-group)) .section-allow-transparent.hdt-section:first-child .md\:hdt-height--full {
      --media-overlap-content-h: var(--fill-height-first, calc(100vh - var(--announcement-bar-height, 0px)));
    }
    @supports (height: 100svh) {
      :is([enabled-transparent-header], :not(.hdt-section-header + .shopify-section-group-header-group)) .section-allow-transparent.hdt-section:first-child .md\:hdt-height--full {
        --media-overlap-content-h: var(--fill-height-first, calc(100svh - var(--announcement-bar-height, 0px)));
      }
    }
    @supports not selector(:has(> *)) {
      [enabled-transparent-header] .section-allow-transparent.hdt-section:first-child {
        margin-block-start: calc(-1 * var(--header-height, 0px) - 1px);
      }
      [enabled-transparent-header] .section-allow-transparent.hdt-section:first-child .hdt-media-overlap-content {
        --media-overlap-content-gap-r: clamp(min(5vw, 5rem), calc(var(--header-height, 0px) + 5px), 12rem);
      }
      [enabled-transparent-header] .hdt-section-header:not(.scrolled-past-header) .hdt-sticky-header:not(:hover, .set-fill, .menu-open) {
        --show-transparent-logo: 1;
        --color-background: {{ scheme.settings.background.rgb }};
        --gradient-background: {% if scheme.settings.background_gradient != empty %}{{ scheme.settings.background_gradient }}{% else %}{{ scheme.settings.background }}{% endif %};
        --color-foreground: {{ scheme.settings.text.rgb }};
        --color-foreground2: {{ scheme.settings.text2.rgb }};
      }
    }
    @supports selector(:has(> *)) {
      :not(.hdt-section-header + .shopify-section-group-header-group) .section-allow-transparent.hdt-section:first-child {
        margin-block-start: calc(-1 * var(--header-height, 0px) - 1px);
      }
      :not(:has(.hdt-section-header + .shopify-section-group-header-group)) .section-allow-transparent.hdt-section:first-child .hdt-media-overlap-content {
        --media-overlap-content-gap-r: clamp(min(5vw, 5rem), calc(var(--header-height, 0px) + 5px), 12rem);
      }
      :has(.section-allow-transparent.hdt-section:first-child):not(:has(.hdt-section-header + .shopify-section-group-header-group, .scrolled-past-header)) .hdt-sticky-header:not(:hover, .set-fill, :has([open])) {
        --show-transparent-logo: 1;
        --color-background: {{ scheme.settings.background.rgb }};
        --gradient-background: {% if scheme.settings.background_gradient != empty %}{{ scheme.settings.background_gradient }}{% else %}{{ scheme.settings.background }}{% endif %};
        {% comment %} --color-background: transparent;
        --gradient-background: transparent; {% endcomment %}
        --color-foreground: {{ scheme.settings.text.rgb }};
        --color-foreground2: {{ scheme.settings.text2.rgb }};
      }
    }
    {% if section.settings.header_transparent and template.name == "index" %}
      .hdt-section-header:not(.scrolled-past-header.shopify-section-header-sticky) hdt-sticky-header {
        --color-background: {{ scheme.settings.background.rgb }};
        --gradient-background: {% if scheme.settings.background_gradient != empty %}{{ scheme.settings.background_gradient }}{% else %}{{ scheme.settings.background }}{% endif %};
        --color-background2: {{ scheme.settings.background2.rgb }};
        --color-foreground: {{ scheme.settings.text.rgb }};
        --color-foreground2: {{ scheme.settings.text2.rgb }};
        --hdt-btn-bg: {{ scheme.settings.button.rgb }};
        --hdt-btn-color: {{ scheme.settings.button_label.rgb }};
        --hdt-btn-border-color: {{ scheme.settings.button_border.rgb }};
        --color-secondary-button: {{ scheme.settings.background.rgb }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.rgb }};
        --color-link: {{ scheme.settings.secondary_button_label.rgb }};
        --color-line-border: {{ scheme.settings.line_border.rgb }};
        --color-overlay: {{ scheme.settings.overlay.rgb }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
        /* Product colors */
        --color-pr-price: {{ scheme.settings.price.rgb }};
        --color-pr-sale-price: {{ scheme.settings.sale_price.rgb }};
        --color-pr-text: {{ scheme.settings.pr_text.rgb }};
        --color-pr-rating: {{ scheme.settings.pr_rating.rgb }};
        /* Input colors */
        --color-input-primary: {{ scheme.settings.input_primary.rgb }};
        --color-input-secondary: {{ scheme.settings.input_secondary.rgb }};
      }
    {% endif %}
  {%- endif -%}
{%- endstyle -%}
{%- assign products_suggests = page.metafields.theme.brand.value.search.value | default: settings.products_suggest -%}

{%- capture blocks_content -%}
  {%- content_for 'blocks' -%}
{%- endcapture -%}

<hdt-sticky-header sticky-type="{{ section.settings.sticky_type }}" prefix="header" class="hdt-main-header hdt-header-{{ section.settings.header_layout }} hdt-header-fullwidth-{{ section.settings.header_fullwidth }} hdt-header-tranparent-{{ section.settings.header_transparent }} hdt-menu-{{ section.settings.menu_type }} hdt-header-sticky-{{ section.settings.sticky_type }}{% if section.settings.sticky_glass %} hdt-header-sticky--glass{% endif %} is-sticky" color-scheme="{{ section.settings.header_colors }}">
  <div class="hdt-container{% if section.settings.header_fullwidth %}-full hdt-px-15{% endif %}">
    <div data-header-height class="hdt-flex hdt-align-center hdt-spacing-15 md:hdt-px-15 hdt-px-10">
      {%- if section.settings.header_layout == "logo_left" -%}
        <div class="lg:hdt-hidden md:hdt-custom-col-4 hdt-custom-col-3">
          <button aria-controls="menu_mobile" class="hdt-push-menu-btn hdt-menu-bar hdt-flex hdt-justify-center hdt-align-center" aria-label="push-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="30" height="1.5"></rect><rect y="7" width="20" height="1.5"></rect><rect y="14" width="30" height="1.5"></rect></svg>
          </button>
        </div>
        <div class="{% if section.settings.menu_position == "start" and section.settings.menu_type == "default" %}lg:hdt-custom-col-auto {% else %}lg:hdt-custom-col-3{% endif %} md:hdt-custom-col-4 hdt-custom-col-6 xs:hdt-text-center hdt-flex hdt-align-center hdt-justify-start hdt-col-logo">
          {%- if section.settings.menu_type == "sidebar" and section.settings.menu_position == "start" -%}
            <button aria-controls="menu_mobile" class="hdt-push-menu-btn hdt-menu-bar lg:hdt-flex hdt-hidden hdt-justify-center hdt-align-center" aria-label="push-menu">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="30" height="1.5"></rect><rect y="7" width="20" height="1.5"></rect><rect y="14" width="30" height="1.5"></rect></svg>
            </button>
          {%- endif -%}
          {%- render 'hdt_logo' -%}
          {%- if section.settings.menu_type == "sidebar" and section.settings.menu_position == "center" -%}
            <button aria-controls="menu_mobile" class="hdt-push-menu-btn hdt-menu-bar lg:hdt-flex hdt-hidden hdt-justify-center hdt-align-center" aria-label="push-menu">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="30" height="1.5"></rect><rect y="7" width="20" height="1.5"></rect><rect y="14" width="30" height="1.5"></rect></svg>
            </button>
          {%- endif -%}
        </div>
        <div class="hdt-header-col lg:hdt-custom-col-7 lg:hdt-block hdt-hidden">
          {% # theme-check-disable NestedSnippet %}
            {%- if section.settings.menu_type != "sidebar" -%}
              {%- if section.settings.main_menu != blank -%}
                <nav class="hdt-navigation hdt-text-{{ section.settings.menu_position }} hdt-menu-uppercase-{{ section.settings.text_transform }} hdt-nav-arrow_{{ section.settings.dropdown_arrow }}">
                  <ul id="hdt-nav-ul" class="hdt-nav__ul hdt-inline-flex hdt-align-center hdt-text-{{ section.settings.menu_position }} hdt-justify-{{ section.settings.menu_position }}">
                    
                    {{ blocks_content }}
                    {%- for link in section.settings.main_menu.links -%}
                      {%- render 'main-menu', link: link, index: forloop.index, blocks_content: blocks_content -%}
                    {%- endfor -%}

                  </ul>
                </nav>
              {% endif %}
            {%- else -%}
              {%- if section.settings.search_type == "big_form" -%}
                <div class="hdt-header-search_form">
                  {%- if settings.predictive_search_enabled -%}
                    <hdt-predictive-search enabled data-section-id-results="hdt_predictive-search" class="hdt_predictive-search hdt-block hdt-relative">
                  {%- else -%}
                    <search-form>
                  {%- endif -%}
                  {{ 'hdt-search-form.css' | asset_url | stylesheet_tag }}
                  <form data-frm-search action="{{ routes.search_url }}" method="get" class="hdt-search_form hdt-search_{{ section.settings.search_type}} hdt-relative" role="search">
                    <input type="hidden" name="resources[limit_scope]" value="each">
                    <input type="hidden" name="resources[options][fields]" value="title,body,tag,product_type,variants.title,vendor,variants.sku">
                    <div class="hdt-search_inner hdt-flex hdt-justify-between hdt-align-center hdt-relative">
                      <div data-cat-search class="hdt-search__categories">
                        <select data-name="product_type">
                          <option value="*">{{ 'general.search.search_categories' | t }}</option>
                          {%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}<option value="{{ product_type }}">{{ product_type }}</option>{%- endfor -%}
                        </select>
                      </div>
                      <input data-input-search class="hdt-search_input hdt-input hdt-text-start hdt-text-base hdt-font-normal" autocomplete="off" type="search" name="q" placeholder="{{ 'general.search.placeholder_products' | t }}">
                      <button class="hdt-search_submit hdt-btn hdt-inline-flex hdt-align-center hdt-justify-center" type="submit">
                        <svg id="icon-h-search" viewBox="0 0 18 19" width="22" height="23" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"></path></svg>
                        {{ 'general.search.search_text' | t }}
                      </button>
                    </div>
                    <div class="hdt-cart-show-has-results hdt-absolute hdt-right-0 hdt-left-0 hdt-hidden hdt-current-scrollbar">
                      <div data-results-search class="hdt-mini-search__content hdt-ratio--asos hdt-object-cover"></div>
                      <div data-skeleton-search class="hdt-skeleton_wrap hdt-hidden">
                        <div class="hdt-row-grid hdt-row-products hdt-grid-cols-1 hdt-text-start">
                          {%- for i in (1..3) -%}
                            <div class="hdt-product hdt-pr-loop">
                              <div class="hdt-card-product__wrapper hdt-flex ">
                                <div class="hdt-skeleton_img"></div>
                                <div class="hdt-card-product__info">
                                  <div class="hdt-skeleton_txt1"></div>
                                  <div class="hdt-skeleton_txt2"></div>
                                </div>
                              </div>
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  </form>
                  {%- if settings.predictive_search_enabled -%}
                    <div class="hdt-search-suggests-results hdt-absolute hdt-cart-hide-has-results hdt-current-scrollbar">
                      {%- if products_suggests != blank -%}
                        <div class="hdt-search-suggests-content ">
                          <div class="hdt-cart-hide-has-results">
                            <div class="hdt-search-hidden-inner">
                              {%- if products_suggests != blank -%}
                                <div data-products_suggest class="hdt-mini-search__content hdt-ratio--asos hdt-object-cover hdt-text-center">
                                  <div class="hdt-row-grid hdt-row-products hdt-show-pr-price-{{ settings.predictive_search_show_price }} hdt-grid-cols-1 hdt-text-start">
                                    {%- for product in products_suggests limit: 6 -%}
                                      {%- render 'pr_loop_item', section_id: section.id, product: product, sizes: "68px", widths: "68, 136, 150, 174, 240, 300" -%}
                                    {%- endfor -%}
                                  </div>
                                </div>
                              {%- endif -%}
                            </div>
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
                    </hdt-predictive-search>
                  {%- else -%}
                    </search-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endif -%}
          {% # theme-check-enable NestedSnippet %}
        </div>
        <div class="{% if section.settings.menu_position == "end" and section.settings.menu_type == "default" %}lg:hdt-custom-col-auto {% else %}lg:hdt-custom-col-3 {% endif %} md:hdt-custom-col-4 hdt-custom-col-3 hdt-search_{{ section.settings.search_type }}">
          {%- render 'header_group_icons' -%}
        </div>
      {%- else -%}
        <div class="{% if section.settings.menu_type == "split" %}lg:hdt-custom-col-3{% else %}lg:hdt-custom-col-5 {% endif %} hdt-justify-start lg:hdt-flex hdt-hidden hdt-align-center">
          {% # theme-check-disable NestedSnippet %}
          {%- if section.settings.menu_type == "sidebar" -%}
            {%- if section.settings.menu_position != "end" -%}
              <button aria-controls="menu_mobile" class="hdt-push-menu-btn hdt-menu-bar hdt-flex hdt-justify-center hdt-align-center" aria-label="push-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="30" height="1.5"></rect><rect y="7" width="20" height="1.5"></rect><rect y="14" width="30" height="1.5"></rect></svg>
              </button>
            {%- endif -%}
            {%- if section.settings.header_socials and section.settings.header_layout == 'logo_center' -%}
              <div class="hdt-header-socials hdt-flex hdt-align-center">{%- render 'social_sharing', socials_style: "simple", socials_size: "header-normal" -%} </div>
            {%- endif -%}
          {%- elsif section.settings.menu_type == "default" -%}

            {%- if section.settings.main_menu != blank -%}
              <nav class="hdt-navigation hdt-text-{{ section.settings.menu_position }} hdt-menu-uppercase-{{ section.settings.text_transform }} hdt-nav-arrow_{{ section.settings.dropdown_arrow }}">
                <ul id="hdt-nav-ul" class="hdt-nav__ul hdt-inline-flex hdt-align-center hdt-text-{{ section.settings.menu_position }} hdt-justify-{{ section.settings.menu_position }}">
                  
                {{ blocks_content }}
                {%- for link in section.settings.main_menu.links -%}
                  {%- render 'main-menu', link: link, index: forloop.index, blocks_content: blocks_content -%}
                {%- endfor -%}
                </ul>
              </nav>
            {% endif %}

          {%- else -%}
            {%- render 'header_group_icons', icons_position: "start" -%}
            {%- if section.settings.header_socials and section.settings.header_layout == 'logo_center' -%}
              <div class="hdt-header-socials hdt-flex hdt-align-center">{%- render 'social_sharing', socials_style: "simple", socials_size: "header-normal" -%} </div>
            {%- endif -%}
          {%- endif -%}
          {% # theme-check-enable NestedSnippet %}
        </div>
        <div class="lg:hdt-hidden md:hdt-custom-col-4 hdt-custom-col-3">
          <button aria-controls="menu_mobile" class="hdt-push-menu-btn hdt-menu-bar hdt-flex hdt-justify-center hdt-align-center" aria-label="push-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="30" height="1.5"></rect><rect y="7" width="20" height="1.5"></rect><rect y="14" width="30" height="1.5"></rect></svg>
          </button>
        </div>
        {%- if section.settings.menu_type == "split" -%}
          <div class="lg:hdt-custom-col-6 md:hdt-custom-col-4 hdt-custom-col-6 hdt-text-center lg:hdt-flex hdt-hidden hdt-align-center hdt-justify-center hdt-header-center hdt-col-logo">
            
            {%- if section.settings.main_menu != blank -%}
              <nav class="hdt-navigation hdt-text-{{ section.settings.menu_position }} hdt-menu-uppercase-{{ section.settings.text_transform }} hdt-nav-arrow_{{ section.settings.dropdown_arrow }}">
                <ul id="hdt-nav-ul" class="hdt-nav__ul hdt-inline-flex hdt-align-center hdt-text-{{ section.settings.menu_position }} hdt-justify-{{ section.settings.menu_position }}">
                  
                {{ blocks_content }}
                {%- for link in section.settings.main_menu.links -%}
                  {% if forloop.first %}
                    <li class="hdt_logo_split hdt-px-15" style="order: {{ section.settings.main_menu.links.size | divided_by: 2.0 | ceil }};">
                    {%- render 'hdt_logo' -%}
                    </li>
                  {% endif %}
                  {%- render 'main-menu', link: link, index: forloop.index, blocks_content: blocks_content -%}
                {%- endfor -%}
                </ul>
              </nav>
            {% endif %}

          </div>
          <div class="lg:hdt-hidden md:hdt-custom-col-4 hdt-custom-col-6 hdt-text-center">
            {%- render 'hdt_logo' -%}
          </div>
        {%- else -%}
          <div class="lg:hdt-custom-col-2 md:hdt-custom-col-4 hdt-custom-col-6 hdt-text-center">
            {%- render 'hdt_logo' -%}
          </div>
        {%- endif -%}
        <div class="{% if section.settings.menu_type == "split" %}lg:hdt-custom-col-3 {% else %}lg:hdt-custom-col-5{% endif %} md:hdt-custom-col-4 hdt-custom-col-3">
          {%- render 'header_group_icons' -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</hdt-sticky-header>

<hdt-drawer class="hdt-drawer hdt-drawer-menu-mb hdt-header-menu-mobile hdt-contents" color-scheme="{{ section.settings.header_mobile_colors }}">
  <dialog id="menu_mobile" class="hdt-dialog hdt-dialog-drawer" scroll-lock pos="left">
    <div class="hdt-dialog-drawer__header">
      <button ref="closeButton" class="hdt-s-text hdt-dialog-btn__close" aria-controls="menu_mobile" aria-label="{{ 'accessibility.close' | t | escape }}">{%- render 'icon' with 'close' -%}</button>
    </div>
    <div class="hdt-dialog-drawer__inner">
      {%- render 'menu_mobile', header_categories: section.settings.header_categories -%}
    </div>
  </dialog>
</hdt-drawer>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {%- if section.settings.logo %}
    "logo": {{ section.settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif -%}
    "sameAs": [
      {%- capture socials -%}
      {{ settings.social_facebook_link | json }},
      {{ settings.social_x_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_threads_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_vimeo_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_whatsapp_link | json }},
      {{ settings.social_linked_in_link | json }},
      {{ settings.social_wechat_link | json }},
      {{ settings.social_reddit_link | json }},
      {{ settings.social_line_link | json }},
      {{ settings.social_spotify_link | json }}
      {%- endcapture -%}
      {{ socials | strip_newlines | remove: '"",' | remove: '  ' | remove: '  ' }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "t:sections.header.header_inline.name_new",
  "tag": "header",
  "limit": 1,
  "class": "hdt-section-group hdt-section-header hdt-header-inline",
  "enabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.header_note"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.desktop_label"
    },
    {
      "type": "select",
      "id": "header_layout",
      "options": [
        {
          "value": "logo_left",
          "label": "t:sections.header.settings.header_layout.logo_left"
        },
        {
          "value": "logo_center",
          "label": "t:sections.header.settings.header_layout.logo_center"
        }
      ],
      "label": "t:sections.header.settings.header_layout.label",
      "default": "logo_left"
    },
    {
      "type": "checkbox",
      "id": "header_fullwidth",
      "info": "t:sections.header.settings.header_fullwidth.info",
      "label": "t:sections.header.settings.header_fullwidth.label",
      "default": false
    },
    {
      "type": "range",
      "id": "header_height",
      "label": "t:sections.header.settings.header_height.label",
      "min": 60,
      "max": 160,
      "step": 1,
      "unit": "px",
      "default": 85
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.header.settings.logo.logo_width",
      "info": "t:sections.header.settings.logo.logo_info",
      "min": 50,
      "max": 350,
      "step": 5,
      "unit": "px",
      "default": 95
    },
    {
      "type": "color_scheme",
      "id": "header_colors",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.nav_label"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "t:sections.header.settings.main_menu.label"
    },
    {
      "type": "checkbox",
      "id": "lazy_mn",
      "label": "t:sections.header.settings.lazy_mn.label",
      "info": "t:sections.header.settings.lazy_mn.info",
      "default": true
    },
    {
      "type": "select",
      "id": "menu_position",
      "options": [
        {
          "value": "start",
          "label": "t:sections.header.settings.main_menu.menu_position.left"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.main_menu.menu_position.center"
        },
        {
          "value": "end",
          "label": "t:sections.header.settings.main_menu.menu_position.right"
        }
      ],
      "label": "t:sections.header.settings.main_menu.menu_position.label",
      "default": "center",
      "visible_if": "{{ section.settings.header_layout != 'logo_center' }}"
    },
    {
      "type": "select",
      "id": "menu_size",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.header.settings.main_menu.menu_size.small"
        },
        {
          "value": "base",
          "label": "t:sections.header.settings.main_menu.menu_size.medium"
        },
        {
          "value": "lg",
          "label": "t:sections.header.settings.main_menu.menu_size.large"
        }
      ],
      "label": "t:sections.header.settings.main_menu.menu_size.label",
      "default": "base"
    },
    {
      "type": "select",
      "id": "menu_weight",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.header.settings.main_menu.menu_weight.normal"
        },
        {
          "value": "medium",
          "label": "t:sections.header.settings.main_menu.menu_weight.medium"
        },
        {
          "value": "semibold",
          "label": "t:sections.header.settings.main_menu.menu_weight.semibold"
        },
        {
          "value": "bold",
          "label": "t:sections.header.settings.main_menu.menu_weight.bold"
        }
      ],
      "label": "t:sections.header.settings.main_menu.menu_weight.label",
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "text_transform",
      "label": "t:sections.header.settings.main_menu.text_transform",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dropdown_arrow",
      "label": "t:sections.header.settings.main_menu.dropdown_arrow.label",
      "info": "t:sections.header.settings.main_menu.dropdown_arrow.info",
      "default": false
    },
    // {
    //   "type": "checkbox",
    //   "id": "active_link",
    //   "label": "t:sections.header.settings.main_menu.active_link.label",
    //   "info": "t:sections.header.settings.main_menu.active_link.info",
    //   "default": false
    // },
    {
      "type": "range",
      "id": "spacing_nav",
      "min": 10,
      "max": 60,
      "step": 1,
      "label": "t:sections.header.settings.main_menu.spacing_nav.label",
      "info": "t:sections.header.settings.main_menu.spacing_nav.info",
      "unit": "px",
      "default": 30
    },
    {
      "type": "select",
      "id": "open_event",
      "label": "t:sections.header.settings.main_menu.open_event.label",
      "info": "t:sections.header.settings.main_menu.open_event.info",
      "default": "hover",
      "options": [
        {
          "label": "t:sections.header.settings.main_menu.open_event.options.hover",
          "value": "hover"
        },
        {
          "label": "t:sections.header.settings.main_menu.open_event.options.click",
          "value": "click"
        }
      ]
    },
    {
      "type": "select",
      "id": "menu_type",  
      "options": [
        {
          "value": "default",
          "label": "t:sections.header.settings.main_menu.menu_type.default"
        },
        {
          "value": "sidebar",
          "label": "t:sections.header.settings.main_menu.menu_type.sidebar"
        },
        {
          "value": "split",
          "label": "t:sections.header.settings.main_menu.menu_type.split"
        }
      ],
      "label": "t:sections.header.settings.main_menu.menu_type.label",
      "info": "t:sections.header.settings.main_menu.menu_type.info",
      "default": "default"
    },
    {
      "type": "color_scheme",
      "id": "header_menu_colors",
      "label": "t:sections.header.settings.main_menu.submenu_color"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.group_icons.label"
    },
    {
      "type": "select",
      "id": "search_type",  
      "options": [
        {
          "value": "icon",
          "label": "t:sections.header.settings.group_icons.search_type.icon"
        },
        {
          "value": "short_form",
          "label": "t:sections.header.settings.group_icons.search_type.short_form"
        }
      ],
      "label": "t:sections.header.settings.group_icons.search_type.label",
      "default": "icon"
    },
    {
      "type": "checkbox",
      "id": "enabled_user",
      "label": "t:sections.header.settings.group_icons.enabled_user",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enabled_wishlist",
      "label": "t:sections.header.settings.group_icons.enabled_wishlist.label",
      "info": "t:sections.header.settings.group_icons.enabled_wishlist.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "header_socials",
      "label": "t:sections.header.settings.group_icons.header_socials.label",
      "default": false,
      "visible_if": "{{ section.settings.header_layout == 'logo_center' and section.settings.menu_type == 'sidebar' or section.settings.header_layout == 'logo_center' and section.settings.menu_type == 'split' }}"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_label"
    },
    {
      "type": "range",
      "id": "header_height_mb",
      "label": "t:sections.header.settings.header_height.label_mobile",
      "min": 60,
      "max": 160,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "t:sections.header.settings.logo.label_mobile"
    },
    {
      "type": "range",
      "id": "logo_width_mb",
      "label": "t:sections.header.settings.logo.logo_width_mb",
      "info": "t:sections.header.settings.logo.logo_info",
      "min": 50,
      "max": 350,
      "step": 5,
      "unit": "px",
      "default": 95,
      "visible_if": "{{ section.settings.logo_mobile }}"
    },
    {
      "type": "link_list",
      "id": "main_menu_mobile",
      "label": "t:sections.header.settings.main_menu.label_mobile"
    },
    {
      "type": "checkbox",
      "id": "header_categories",
      "label": "t:sections.header.settings.header_categories.label",
      "default": false
    },
    {
      "type": "link_list",
      "id": "menu_categories",
      "label": "t:sections.header.settings.header_categories.menu_categories",
      "visible_if": "{{ section.settings.main_menu }}"
    },
    {
      "type": "checkbox",
      "id": "lazy_mn_mb",
      "label": "t:sections.header.settings.lazy_mn.label",
      "info": "t:sections.header.settings.lazy_mn.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "only_click_icon",
      "label": "t:sections.header.settings.main_menu.mobile_menu_click.label",
      "info": "t:sections.header.settings.main_menu.mobile_menu_click.info",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "header_mobile_colors",
      "label": "t:sections.header.settings.main_menu.color_mobile"
    },
    {
      "type": "liquid",
      "id": "note_mobile",
      "label": "t:sections.header.settings.note_mobile",
      "default": "<span class=\"hdt-inline-flex hdt-text-base\" style=\"margin-bottom: 10px\">Need help ? </span><span class=\"hdt-flex hdt-flex-col hdt-text-base\" style=\"line-height: 24px;\"><span>Email: <b>info@fashionshop.com</b></span><span>Phone: <b>(212) 555-1234</b></span></span>"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.transparent_label"
    },
    {
      "type": "checkbox",
      "id": "header_transparent",
      "label": "t:sections.header.settings.header_transparent.label",
      "info": "t:sections.header.settings.header_transparent.info",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo_transparent",
      "label": "t:sections.header.settings.logo.label_transparent",
      "visible_if": "{{ section.settings.header_transparent }}"
    },
    {
      "type": "color_scheme",
      "id": "header_transparent_colors",
      "label": "t:sections.all.colors.label",
      "visible_if": "{{ section.settings.header_transparent }}"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.sticky_label"
    },
    {
      "type": "select",
      "id": "sticky_type",
      "label": "t:sections.header.settings.header_sticky.label",
      "default": "on_scroll_up",
      "options": [
        {
          "label": "t:none",
          "value": "none"
        },
        {
          "label": "t:sections.header.settings.header_sticky.on_scroll_up",
          "value": "on_scroll_up"
        },
        {
          "label": "t:sections.header.settings.header_sticky.always",
          "value": "always"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "sticky_glass",
      "label": "t:sections.header.settings.sticky_glass.label",
      "info": "t:sections.header.settings.sticky_glass.info",
      "default": false,
      "visible_if": "{{ section.settings.sticky_type != 'none' }}"
    }
  ],
  "blocks": [
    {
      "type": "_mega_block"
    },
    {
      "type": "_mega_block_column_10"
    },
    {
      "type": "_mega_block_column_12"
    }
  ],
  "presets": [
    {
      "name": "t:sections.header.header_inline.name_new"
    }
  ]
}
{% endschema %}