<!-- sections/image_text.liquid -->
{{ 'hdt-image-with-text.css' | asset_url | stylesheet_tag }}
{% style %}
  #{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
{% endstyle %}
{% liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
%}
<div id="{{ section.id }}" class="{{ parent }}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %} hdt-reveal="fade-in">
  <div class="{{ child }}">
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
      {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    <div class="hdt-container-heading hdt-container">
      {%- content_for "block", type: "section-heading", id: "image-text-heading" -%}
    </div>
    <div class="hdt-row-grid hdt-grid-cols-1 md:hdt-grid-cols-2 {{ section.settings.rounded }} hdt-oh">
      {% content_for "blocks" %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.image_text.name",
    "class": "hdt-image-text hdt-image-with_text",
    "disabled_on": {
      "groups": [
        "*"
      ]
    },
    "max_blocks": 2,
    "blocks": [
      {
        "type": "_image-text-col"
      },
      {
        "type": "_image-text-column"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.section_layout.label"
      },
      {
        "type": "checkbox",
        "id": "colors_by_section",
        "label": "t:sections.all.colors.display_colors_by_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "visible_if": "{{ section.settings.colors_by_section }}"
      },
      {
        "type": "range",
        "id": "background_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "t:sections.all.background.opacity",
        "default": 0,
        "visible_if": "{{ section.settings.colors_by_section }}"
      },
      {
        "type": "select",
        "id": "section_layout",
        "label": "t:sections.all.section_layout.width.label",
        "options": [
          {
            "value": "container",
            "label": "t:sections.all.section_layout.width.container"
          },
          {
            "value": "wrapper_container",
            "label": "t:sections.all.section_layout.width.wrapper_container"
          },
          {
            "value": "full_width",
            "label": "t:sections.all.section_layout.width.full_width"
          }
        ],
        "default": "container"
      },
      {
        "type": "image_picker",
        "id": "section_background",
        "label": "t:sections.all.background.image"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_rate",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.all.padding.padding_rate",
        "default": 50
      },
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "02. Banner",
        "blocks": [
          {
            "type": "_image-text-column",
            "blocks": [
              {
                "type": "image"
              }
            ]
          },
          {
            "type": "_image-text-col",
            "settings": {
              "align_center": true
            },
            "blocks": [
              {
                "type": "heading",
                "settings": {
                  "heading": "<h5>Established - 1995</h5>",
                  "heading_size": "h4",
                  "font_size_heading_lg": 50,
                  "font_size_heading": 24,
                  "letter_spacing_heading": 0
                }
              },
              {
                "type": "spacer",
                "settings": {
                  "space_lg": 10,
                  "space_md": 10,
                  "space": 10,
                }
              },
              {
                "type": "text",
                "settings": {
                  "text": "<p>Ecomus was founded in 1995 by Jane Smith, a fashion lover with apassion for timeless style. Jane had always been drawn to classicpieces that could be worn season after season, and she believed thatthere was a gap in the market for a store that focused solely on classicwomen's clothing. She opened the first store in a small town in NewEngland, where it quickly became a local favorite.</p>",
                  "text_size": "base",
                  "font_size_text_lg": 16,
                  "font_size_text": 14,
                  "letter_spacing_text": 0
                }
              },
              {
                "type": "spacer",
                "settings": {
                  "space_lg": 10,
                  "space_md": 10,
                  "space": 10,
                }
              },
              {
                "type": "_countdown",
                "settings": {
                  "color_scheme": "scheme-1",
                  "cd_style": "outline",
                  "year": 2030,
                  "month": 4,
                  "day": 19,
                  "hour": 12,
                  "minute": 0,
                  "effect_cd": "rotate",
                  "uppercase": true,
                  "prepend_number": true,
                  "hide_on_complete": true,
                  "mess_complete": ""
                }
              },
              {
                "type": "spacer",
                "settings": {
                  "space_lg": 10,
                  "space_md": 10,
                  "space": 10,
                }
              },
              {
                "type": "button",
                "settings": {
                  "label": "Shop now",
                  "link": "#",
                  "open_in_new_tab": true,
                  "full_width": false,
                  "font_size_btn": 14,
                  "padding_btn": 30,
                  "min_width_btn": 100,
                  "min_width_dt_btn": 100,
                  "min_height_btn": 40,
                  "icon": "none",
                  "icon_position": "after",
                  "icon_height": 10,
                  "icon_spacing": 5
                }
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
