<!-- section/lookbook-masonry.liquid -->

{%- liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
-%}
{{ 'hdt-banner.css' | asset_url | stylesheet_tag }}
{%- style -%}
  #shopify-section-{{section.id}}{
    --masonry-grid-row-height:{{section.settings.row_height}}px;
    --masonry-grid-row-height-mb:{{section.settings.row_height_mb}}px;
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
{%- endstyle -%}
<div class="{{ parent }} hdt-banner-wrapper " {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %}>
  {%- if section.settings.section_background != blank -%}
    {% liquid
      assign image = section.settings.section_background
    %}
    {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
  {%- endif -%}
  <div class="hdt-banner_wrap {{ child }}">
    <div class="hdt-container-heading hdt-container">
      {%- content_for "block", type: "section-heading", id: "feature-blog-heading" -%}
    </div>
    <div class="hdt-banner_masonry hdt-row-grid hdt-grid-cols-2 md:hdt-grid-cols-12" {% if section.settings.space_items != 'x' %} style="--spacing-x:{{ section.settings.space_items }}px;--spacing-y:{{ section.settings.space_items }}px;"{% endif %}>
      {% content_for "blocks" %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.lookbook.masonry",
  "tag": "section",
  "class": "hdt-banner hdt-section section-allow-transparent",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "max_blocks": 8,
  "blocks": [
    {
      "type": "_item-lookbook-masonry"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "space_items",
      "label": "t:sections.all.space_items.desktop",
      "default": "x",
      "options": [
        {
          "label": "t:sections.all.space_items.default",
          "value": "x"
        },
        {
          "label": "0",
          "value": "0"
        },
        {
          "label": "5px",
          "value": "5"
        },
        {
          "label": "10px",
          "value": "10"
        },
        {
          "label": "15px",
          "value": "15"
        },
        {
          "label": "20px",
          "value": "20"
        },
        {
          "label": "25px",
          "value": "25"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.banner.settings.desktop"
    },
    {
      "type": "range",
      "id": "row_height",
      "min": 100,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "t:sections.banner.settings.row_height",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:sections.banner.settings.mobile"
    },
    {
      "type": "range",
      "id": "row_height_mb",
      "min": 100,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:sections.banner.settings.row_height",
      "default": 150
    },
    {
      "type": "header",
      "content": "t:sections.all.section_layout.label"
    },
    {
      "type": "checkbox",
      "id": "colors_by_section",
      "label": "t:sections.all.colors.display_colors_by_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.all.background.opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:sections.all.section_layout.width.label",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_layout.width.container"
        },
        {
          "value": "wrapper_container",
          "label": "t:sections.all.section_layout.width.wrapper_container"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_layout.width.full_width"
        }
      ],
      "default": "container"
    },
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "t:sections.all.background.image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 50
    },
  ],
  "presets": [
    {
      "name": "t:sections.lookbook.masonry",
      "category": "t:sections_categories.05_section.name",
      "blocks": [
        {
          "type": "_item-lookbook-masonry",
          "settings": {
            "col_w": "3",
            "row_count": 1,
            "col_w_mb": "2",
            "row_count_mb": 1
          }
        },
        {
          "type": "_item-lookbook-masonry",
          "settings": {
            "col_w": "3",
            "row_count": 1,
            "col_w_mb": "2",
            "row_count_mb": 1
          }
        },
        {
          "type": "_item-lookbook-masonry",
          "settings": {
            "col_w": "6",
            "row_count": 2,
            "col_w_mb": "2",
            "row_count_mb": 1
          }
        },
        {
          "type": "_item-lookbook-masonry",
          "settings": {
            "col_w": "3",
            "row_count": 1,
            "col_w_mb": "2",
            "row_count_mb": 1
          }
        },
        {
          "type": "_item-lookbook-masonry",
          "settings": {
            "col_w": "3",
            "row_count": 1,
            "col_w_mb": "2",
            "row_count_mb": 1
          }
        },
        {
          "type": "section-heading",
          "id": "feature-blog-heading",
          "static": true,
          "settings": {
            "design_heading": "2",
            "horizontal": false,
            "alignment": "center",
            "heading_gap": 0,
            "margin_bottom": 30
          },
          "blocks": [
            {
              "type": "_heading_section",
              "settings": {
                "heading": "LOOKBOOK COLLECTION",
                "line_height": "",
                "heading_size": "h5",
                "text_color": "hdt-s-text"
              }
            },
            {
              "type": "_sub_heading_section",
              "settings": {
                "text": "<p><em>Spring summer 2025 lookbook</em></p>",
                "text_size": "base",
                "text_color": "hdt-text-secondary"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
