<!-- sections/lookbook-carousel.liquid -->
{% liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
%}
{% style %}
  #shopify-section-{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
  {% if section.settings.space_items != 'x' %}
    #shopify-section-{{section.id}} .hdt-spacing-{{ section.settings.space_items }}{
      --spacing-x: {{ section.settings.space_items }}px;
      --spacing-y: {{ section.settings.space_items }}px;
    }
  {% endif %}
  @media (max-width: 767px){
    {% if section.settings.space_items_mb != 'x' %}
      #shopify-section-{{section.id}} .hdt-spacing-mb-{{ section.settings.space_items_mb }}{
      --spacing-x: {{ section.settings.space_items_mb }}px;
      --spacing-y: {{ section.settings.space_items_mb }}px;
      }
    {% endif %}
  }
{% endstyle %}

<div id="{{ section.id }}" class="{{ parent }}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %}>
  <div class="{{ child }}">
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
      {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    <div class="hdt-container-heading hdt-container">
      {% content_for "block", type: "section-heading", id: "lookbook-heading" %}
    </div>
    <div id="Lookbook-{{ section.id }}" class="hdt-spacing-{{ section.settings.space_items }} hdt-spacing-mb-{{ section.settings.space_items_mb }} hdt-relative hdt-ratio--{{ section.settings.image_ratio }}{% unless section.settings.image_size %} hdt-ratio--contain{% endunless %} hdt-row-grid hdt-row-grid--modify hdt-grid-cols-{{ section.settings.col_mb }} md:hdt-grid-cols-{{ section.settings.col_tb }} lg:hdt-grid-cols-{{ section.settings.col_dk }} hdt-justify-center">
      {% content_for "blocks" %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.lookbook.name_2",
    "class": "hdt-lookbook-carousel",
    "tag": "section",
    "disabled_on": {
      "groups": [
        "*"
      ]
    },
    "blocks": [{ "type": "_lookbook" }],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.lookbook.settings.options_layout"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "t:sections.all.items_row.desktop",
        "default": "3",
        "options": [
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "t:sections.all.items_row.tablet",
        "default": "3",
        "options": [
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "t:sections.all.items_row.mobile",
        "default": "2",
        "options": [
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          }
        ]
      },
    
      {
        "type": "select",
        "id": "space_items",
        "label": "t:sections.all.space_items.desktop",
        "default": "x",
        "options": [
          {
            "label": "t:sections.all.space_items.default",
            "value": "x"
          },
          {
            "value": "0",
            "label": "0px"
          },
          {
            "label": "5px",
            "value": "5"
          },
          {
            "label": "10px",
            "value": "10"
          },
          {
            "label": "15px",
            "value": "15"
          },
          {
            "label": "20px",
            "value": "20"
          }
        ]
      },
      {
        "type": "select",
        "id": "space_items_mb",
        "label": "t:sections.all.space_items.mobile",
        "default": "0",
        "options": [
          {
            "label": "t:sections.all.space_items.default",
            "value": "x"
          },
          {
            "value": "0",
            "label": "0px"
          },
          {
            "label": "5px",
            "value": "5"
          },
          {
            "label": "10px",
            "value": "10"
          },
          {
            "label": "15px",
            "value": "15"
          },
          {
            "label": "20px",
            "value": "20"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt_image",
            "label": "t:sections.all.images.ratio.adapt_image.label"
          },
          {
            "value": "square",
            "label": "t:sections.all.images.ratio.square.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.images.ratio.portrait.label"
          },
          {
            "value": "asos",
            "label": "t:sections.all.images.ratio.asos.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.images.ratio.landscape.label"
          },
          {
            "value": "custom-pr",
            "label": "t:sections.all.images.ratio.custom.label"
          }
        ],
        "label": "t:sections.all.images.ratio.label",
        "default": "adapt_image"
      },
      {
        "type": "checkbox",
        "id": "image_size",
        "label": "t:sections.all.images.size.cover",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.all.colors.label"
      },
      {
        "type": "checkbox",
        "id": "colors_by_section",
        "label": "t:sections.all.colors.display_colors_by_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "range",
        "id": "background_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "t:sections.all.background.opacity",
        "default": 0
      },
      {
        "type": "select",
        "id": "section_layout",
        "label": "t:sections.all.section_layout.width.label",
        "options": [
          {
            "value": "container",
            "label": "t:sections.all.section_layout.width.container"
          },
          {
            "value": "wrapper_container",
            "label": "t:sections.all.section_layout.width.wrapper_container"
          },
          {
            "value": "full_width",
            "label": "t:sections.all.section_layout.width.full_width"
          }
        ],
        "default": "full_width"
      },
      {
        "type": "image_picker",
        "id": "section_background",
        "label": "t:sections.all.background.image"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_rate",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.all.padding.padding_rate",
        "default": 50
      },
    ],
    "presets": [
      {
        "name": "t:sections.lookbook.name_2",
        "category": "t:sections_categories.05_section.name",
        "blocks": [
          {
            "type": "_lookbook",
            "settings": {
            },
            "blocks": [
              {
                "type": "_pin-product",
                "settings": {
                  "left": 23,
                  "top": 26,
                  "pin_size": "medium",
                  "pin_type": "showtext",
                  "text": "1",
                  "product": "",
                  "product_des": "1",
                  "image_ratio": "adapt_image",
                  "image_size": true,
                  "show_vendor": false,
                  "placement": "top"
                }
              }
            ]
          },
          {
            "type": "_lookbook",
            "settings": {
            },
            "blocks": [
              {
                "type": "_pin-product",
                "settings": {
                  "left": 23,
                  "top": 26,
                  "pin_size": "medium",
                  "pin_type": "showtext",
                  "text": "1",
                  "product": "",
                  "product_des": "1",
                  "image_ratio": "adapt_image",
                  "image_size": true,
                  "show_vendor": false,
                  "placement": "top"
                }
              }
            ]
          },
          {
            "type": "_lookbook",
            "settings": {
            },
            "blocks": [
              {
                "type": "_pin-product",
                "settings": {
                  "left": 23,
                  "top": 26,
                  "pin_size": "medium",
                  "pin_type": "showtext",
                  "text": "1",
                  "product": "",
                  "product_des": "1",
                  "image_ratio": "adapt_image",
                  "image_size": true,
                  "show_vendor": false,
                  "placement": "top"
                }
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
