<!-- sections/main-product.liquid -->
{% style %}
  #shopify-section-{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
  #shopify-section-{{ section.id }} .hdt-form__message-wrapper{
    display: none;
  }
{% endstyle %}
{% liquid
  assign un_no_pick = true
  if settings.pick_mode == 'no' and product.variants.size > 1
    assign selected_variant = product.selected_variant
    unless selected_variant
      assign un_no_pick = false
    endunless
  elsif settings.pick_mode == 'first' and settings.hide_sold_out == false
    assign selected_variant = product.selected_variant | default: product.variants.first
  else
    assign selected_variant = product.selected_or_first_available_variant
  endif
  assign product_form_id = 'product-form-'| append: section.id | append: product.id

%}
<div class="hdt-section-inner hdt-s-gradient hdt-section-spacing" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %} hdt-reveal="fade-in">
  <div class="hdt-container{% if section.settings.fullwidth %}-full hdt-px-15{% endif %}">
    <div class="hdt-secion-main-product--{{ section.id }} hdt-row-grid hdt-grid-cols-1 md:hdt-grid-cols-2">
      {% content_for 'block', type: '_product-medias',  id: 'main-product-medias' %}
      {% content_for 'blocks' %}
    </div>
    {%-liquid
      if section.settings.product_list_fbt != blank
        render 'product-form-bundle2', product_list: section.settings.product_list_fbt
      endif
    -%}
  </div>
  {%- if section.settings.sticky_atc and product.available and request.page_type == 'product' -%}
    {%- liquid
      unless un_no_pick
      assign selected_variant = product.variants.first
      endunless
      assign check_against_inventory = true
      if selected_variant.inventory_management != 'shopify' or selected_variant.inventory_policy == 'continue'
        assign check_against_inventory = false
      endif
      if selected_variant.quantity_rule.min > selected_variant.inventory_quantity and check_against_inventory
        assign quantity_rule_soldout = true
      endif
      if selected_variant.inventory_management == 'shopify' and selected_variant.inventory_quantity <= 0 and selected_variant.available
        assign is_pre_order = true
      else
        assign is_pre_order = false
      endif
      assign product_form_id_sticky = 'form-product-sticky' | append: product.id
  
      assign id_sticky = 'sticky-' | append: section.id
      assign image = selected_variant.featured_image | default: product.featured_image | default: settings.placeholder_img
    -%}
  {{ 'hdt-sticky-atc.css' | asset_url | stylesheet_tag }}
  <hdt-sticky-btn-atc form="{{ product_form_id }}" {% if product.has_only_default_variant %}is-pr-default {% endif %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};backdrop-filter: blur(8px);" class="hdt-sticky-btn-atc hdt-sticky_layout_mb--minimal hdt-s-gradient">
    <div class="hdt-container">
      <hdt-height-observer prefix="hdt-sticky-atc" class="hdt-flex hdt-align-center hdt-justify-center">
        <div class="hdt-sticky-atc__product hdt-flex hdt-align-center">
          <div class="hdt-sticky-atc__img hdt-radius-full hdt-oh hdt-relative">
            {%- if image != blank -%}
              {{ image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '80px', widths: '80, 160', data-widths: '[80, 160]', data-v-img: '' }}
            {%- else -%}
                <span class="hdt-sticky-atc__img-placeholder"></span>
            {%- endif -%}
          </div>
          <div class="hdt-sticky-atc__product-infos">
            <h3 class="hdt-sticky-atc__title hdt-text-base hdt-font-medium hdt-hidden lg:hdt-block">{{ product.title }}</h3>
          </div>
        </div>
        <div class="hdt-sticky-atc__infos">
          <wrapp-hdt-pr-frm class="hdt-contents">
            {%- form 'product', product, id: product_form_id_sticky, class: 'hdt-sticky-atc__form hdt-flex hdt-align-center', data-gift-card-recipient: false -%}
              <div class="hdt-sticky-atc__variant-price">
                {%- unless product.has_only_default_variant -%}
                  <select name="id" class="hdt-select hdt-s-text hdt-truncate" tag-select>
                    {%- for variant in product.variants -%}
                      <option data-mdid="{{ variant.featured_media.id }}" {% if variant == selected_variant %}selected="selected"{% endif %}{% if variant.available == false %} disabled {% endif %} value="{{ variant.id }}">
                        {%- liquid
                          echo variant.title
                          unless settings.currency_type == "2"
                            echo variant.price | money | strip_html | prepend: ' - '
                          endunless
                          if variant.available == false
                            echo 'products.product.sold_out' | t | prepend: ' - '
                          endif
                        -%}
                      </option>
                    {%- endfor -%}
                  </select>
                {%- else -%}
                  <input type="hidden" name="id" value="{{ selected_variant.id }}">
                  <span class="hdt-sticky-atc__product-monney hdt-money hdt-text-lg">{{ product.price | money }}</span>
                {%- endunless -%}
              </div>
              <div class="hdt-sticky-atc__btns hdt-flex hdt-align-center">
                <div class="hdt-sticky-atc__qty-selector">
                  {%- render 'product-qty-selector', selected_variant: selected_variant, product_form_id: product_form_id_sticky, id: id_sticky -%}
                </div>

                <hdt-atc-animation class="hdt-contents" config='{ "ani": "{{ section.settings.ani }}", "time": "{{ section.settings.time }}" }'>
                  <button data-animation type="submit" name="add" class="hdt-sticky-atc__submit hdt-btn hdt-oh {{ section.settings.btn_transform }} {{ section.settings.btn_style }} hdt-font-semibold hdt-relative hdt-truncate hdt-btn-loading__svg"{% if selected_variant.available == false or quantity_rule_soldout %} disabled="true"{% else %} style="--duration-time: 1s"{% endif %}>
                    <span class="hdt-btn-atc_text">{% if is_pre_order %}{{ 'products.product.pre_order' | t }}{% elsif selected_variant.available == false or quantity_rule_soldout %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span> 
                    <span class="hdt-loading__spinner hdt-absolute" hidden>
                      <svg width="16" height="16" class="hdt-svg-spinner" focusable="false" role="presentation" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="hdt-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </span>
                  </button>
                </hdt-atc-animation>
              </div>
            {%- endform -%}
          </wrapp-hdt-pr-frm>
        </div>
      </hdt-height-observer>
    </div>
  </hdt-sticky-btn-atc>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "hdt-section hdt-section--feature-product",
  "blocks": [
    {
      "type": "_group-product"
    },
    {
      "type": "_product-medias"
    }
  ],
  "max_blocks": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header_fbt.content"
    },
    {
      "type": "product_list",
      "id": "product_list_fbt",
      "label": "t:sections.main-product.settings.product_list_fbt.label",
      "limit": 10
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header_sticky_atc.content"
    },
    {
      "type": "checkbox",
      "id": "sticky_atc",
      "label": "t:sections.main-product.settings.sticky_atc.label",
      "default": true
    },
    {
      "type": "select",
      "id": "ani",
      "visible_if": "{{ section.settings.sticky_atc }}",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.ani.settings.options__none.label"
        },
        {
          "value": "hdt-ani-bounce is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__1.label"
        },
        {
          "value": "hdt-ani-tada is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__2.label"
        },
        {
          "value": "hdt-ani-swing is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__3.label"
        },
        {
          "value": "hdt-ani-flash is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__4.label"
        },
        {
          "value": "hdt-ani-fadeIn is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__5.label"
        },
        {
          "value": "hdt-ani-heartBeat is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__6.label"
        },
        {
          "value": "hdt-ani-shake is--infinite",
          "label": "t:sections.main-product.blocks.ani.settings.options__7.label"
        }
      ],
      "label": "t:sections.main-product.blocks.ani.label_sticky_atc"
    },
    {
      "type": "range",
      "id": "time",
      "min": 2,
      "max": 40,
      "step": 1,
      "label": "t:sections.main-product.blocks.buy_buttons.settings.time.label",
      "info": "t:sections.main-product.blocks.buy_buttons.settings.time.info",
      "unit": "s",
      "default": 6,
      "visible_if": "{{ section.settings.sticky_atc }}"
    },
    {
      "type": "select",
      "id": "btn_transform",
      "default": "hdt-uppercase",
      "visible_if": "{{ section.settings.sticky_atc }}",
      "options": [
        {
          "value": "",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.btn_transform.options__1.label"
        },
        {
          "value": "hdt-lowercase",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.btn_transform.options__2.label"
        },
        {
          "value": "hdt-capitalize",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.btn_transform.options__3.label"
        },
        {
          "value": "hdt-uppercase",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.btn_transform.options__4.label"
        }
      ],
      "label": "t:sections.main-product.blocks.buy_buttons.settings.btn_transform.label"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label": "t:blocks.button.settings.button_style.label",
      "default": "",
      "visible_if": "{{ section.settings.sticky_atc }}",
      "options": [
        {
          "value": "",
          "label": "t:blocks.button.settings.button_style.options.default"
        },
        {
          "value": "hdt-btn-outline",
          "label": "t:blocks.button.settings.button_style.options.outline"
        },
        {
          "value": "hdt-btn-link",
          "label": "t:blocks.button.settings.button_style.options.link"
        },
        {
          "value": "hdt-btn-secondary",
          "label": "t:blocks.button.settings.button_style.options.secondary",
          "group": "t:blocks.button.settings.button_style.solid"
        },
        {
          "value": "hdt-btn-tertiary",
          "label": "t:blocks.button.settings.button_style.options.tertiary",
          "group": "t:blocks.button.settings.button_style.solid"
        },
        {
          "value": "hdt-btn-accent",
          "label": "t:blocks.button.settings.button_style.options.accent",
          "group": "t:blocks.button.settings.button_style.solid"
        },
        {
          "value": "hdt-btn-hover-secondary",
          "label": "t:blocks.button.settings.button_style.options.hover_secondary",
          "group": "t:blocks.button.settings.button_style.solid"
        },
        {
          "value": "hdt-btn-hover-tertiary",
          "label": "t:blocks.button.settings.button_style.options.hover_tertiary",
          "group": "t:blocks.button.settings.button_style.solid"
        },
        {
          "value": "hdt-btn-hover-accent",
          "label": "t:blocks.button.settings.button_style.options.hover_accent",
          "group": "t:blocks.button.settings.button_style.solid"
        },
        {
          "value": "hdt-btn-outline-secondary",
          "label": "t:blocks.button.settings.button_style.options.outline_secondary",
          "group": "t:blocks.button.settings.button_style.outline"
        },
        {
          "value": "hdt-btn-outline-tertiary",
          "label": "t:blocks.button.settings.button_style.options.outline_tertiary",
          "group": "t:blocks.button.settings.button_style.outline"
        },
        {
          "value": "hdt-btn-outline-accent",
          "label": "t:blocks.button.settings.button_style.options.outline_accent",
          "group": "t:blocks.button.settings.button_style.outline"
        },
        {
          "value": "hdt-btn-outline-hover-secondary",
          "label": "t:blocks.button.settings.button_style.options.outline_hover_secondary",
          "group": "t:blocks.button.settings.button_style.outline"
        },
        {
          "value": "hdt-btn-outline-hover-tertiary",
          "label": "t:blocks.button.settings.button_style.options.outline_hover_tertiary",
          "group": "t:blocks.button.settings.button_style.outline"
        },
        {
          "value": "hdt-btn-outline-hover-accent",
          "label": "t:blocks.button.settings.button_style.options.outline_hover_accent",
          "group": "t:blocks.button.settings.button_style.outline"
        },
        {
          "value": "hdt-btn-link-secondary",
          "label": "t:blocks.button.settings.button_style.options.link_secondary",
          "group": "t:blocks.button.settings.button_style.link"
        },
        {
          "value": "hdt-btn-link-accent",
          "label": "t:blocks.button.settings.button_style.options.link_accent",
          "group": "t:blocks.button.settings.button_style.link"
        },
        {
          "value": "hdt-btn-link-hover",
          "label": "t:blocks.button.settings.button_style.options.link_hover",
          "group": "t:blocks.button.settings.button_style.link"
        },
        {
          "value": "hdt-btn-link-secondary-hover",
          "label": "t:blocks.button.settings.button_style.options.link_secondary_hover",
          "group": "t:blocks.button.settings.button_style.link"
        },
        {
          "value": "hdt-btn-link-accent-hover",
          "label": "t:blocks.button.settings.button_style.options.link_accent_hover",
          "group": "t:blocks.button.settings.button_style.link"
        },
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "colors_by_section",
      "label": "t:sections.all.colors.display_colors_by_section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "visible_if": "{{ section.settings.colors_by_section }}"
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.all.background.opacity",
      "default": 0,
      "visible_if": "{{ section.settings.colors_by_section }}"
    },
    
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "t:sections.header.settings.header_fullwidth.label",
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    },
  ]
}
{% endschema %}