{%- style -%}
  @media (min-width: 1025px){
    #MainContent {
      height: 100vh;
      flex: 1 0 0%;
      justify-content: center;
      overflow-y: auto;
      display: flex;
      align-items: center;
    }
  }
  #MainContent {
    padding-top: 50px;
  }
  .hdt-password-main__inner {
    width: 600px;
    margin: auto;
    max-width: 90%;
  }
  h2.hdt-password-content__title {
    margin-bottom: 20px;
  }
  .hdt-main-password__newsletter,
  .hdt-main-password__socials{
    margin-top:2rem;
  }
  .hdt-main-password__newsletter .hdt-input{
    height:4.4rem;
  }
  .hdt-newsletter-form__message .hdt-form__message{
    line-height: inherit;
  }
{%- endstyle -%}
<div class="hdt-password-main hdt-s-gradient" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-password-main__inner">
     <div class="hdt-container hdt-text-center">
        <div class="hdt-password-content">
          <h2 class="hdt-password-content__title">{{ section.settings.heading }}</h2>
          <p>{{ section.settings.content }}</p>
          <div class="hdt-main-password__newsletter">
            {%- form 'customer', class: 'newsletter-form' -%}
              <div class="hdt-field hdt-relative">
                <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" class="hdt-input hdt-text-center" value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" {% if form.errors %} autofocus aria-invalid="true" aria-describedby="Newsletter-error--{{ section.id }}" {% elsif form.posted_successfully? %} aria-describedby="Newsletter-success--{{ section.id }}" {% endif %} placeholder="{{ section.settings.newsletter_placeholder | escape }}" required>
              </div>
              <div class="hdt-field">
                {%- if form.errors -%} 
                <div class="hdt-newsletter-form__message">
                  <small class="hdt-form__message hdt-form-message--error hdt-d-flex hdt-items-center" id="Newsletter-error--{{ section.id }}">
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13" style="color:rgb(var(--color-error-text));position: relative;top: -0.2rem;">
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="currentColor" stroke="currentColor" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </svg>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                </div>
                {%- endif -%}
                {%- if form.posted_successfully? -%}
                  <div class="hdt-newsletter-form__message">
                    <span class="hdt-form__message hdt-newsletter-form__message--success hdt-d-flex hdt-items-center hdt-icon__color-success" id="Newsletter-success--{{ section.id }}">
                      <svg width="14" class="hdt-inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>
                      {{ section.settings.signup_form_success | escape }}
                    </span>
                  </div>
                {%- endif -%}                                
              </div>
              <div class="hdt-field hdt-row-grid hdt-grid-cols-1" style="margin-top:2rem">
                <button type="submit" class="hdt-newsletter-form__button hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-solid" name="commit" id="Subscribe" aria-label="Subscribe"><span>{{ section.settings.newsletter_button_text | escape }}</span></button>
              </div>
            {%- endform -%}
          </div>
          {%- if section.settings.show_social -%}
            <div class="hdt-main-password__socials">
              {%- render 'social_sharing', socials_style: 'simple', socials_size: 'small' -%}
            </div>
          {%- endif -%}
        </div>
     </div>
   </div>
</div>
{%- schema -%}
{
  "name": "t:sections.main-password.name",
  "class": "hdt-section hdt-secion-main-password",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.main-password.settings.heading.label",
      "default": "Coming Soon!"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.main-password.settings.content.label",
      "default": "We are about to go public so be sure to root on us and check back in anytime!<br> Can't wait to have you!"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "t:sections.main-password.settings.newsletter_placeholder.label",
      "default": "Your email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "t:sections.main-password.settings.newsletter_button_text.label",
      "default": "Notify me"
    },
    {
      "type": "text",
      "id": "signup_form_success",
      "label": "t:sections.main-password.settings.signup_form_success.label",
      "default": "We will send you an email right before we open!"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "t:sections.main-password.settings.show_social.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}