{%- style -%}
.hdt-password-header {
  padding: 2rem 1.5rem 2.5rem;
  margin: 0 auto;
  gap: 2rem;
}
.hdt-password-logo {
  width: 100%;
  margin-bottom: 1.5rem;
  max-width: {{ section.settings.logo_width }}px;
}
.hdt-password-modal-button {
  padding: 1.1rem 1.5rem;
  color:rgb(var(--color-secondary-button-text,var(--color-base-text)));
  border: 0.1rem solid rgb(var(--color-secondary-button-text,var(--hdt-btn-border-color)));
  justify-self: flex-end;
  grid-column: 3;
}
.hdt-password-modal-button svg{
  margin-inline-end:0.5rem;
  position:relative;
  top:-0.1rem;
}
.hdt-drawer-password::part(header) {
  border-bottom: .1rem solid rgb(var(--color-line-border));
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:5rem
}
.hdt-drawer-password::part(close-button) {
  background-color: transparent;
  transition: color .3s ease;
  color: rgb(var(--color-foreground));
  outline: none;
  border: none;
  cursor: pointer;
}
.hdt-drawer-password-title{
  flex: 1 1 auto;
}
.hdt-password-form{
  /* padding:0 2rem; */
}
.hdt-password-form .hdt-field label{
  margin-bottom: .5rem;
  display: block;
}
.hdt-password-form .hdt-field .hdt-required{
 color:{{settings.color_error}};
}
.hdt-login-form__submit{width:100%}
.hdt-password-content{margin:2rem 0}
.hdt-password-content a{
  color:rgb(var(--color-link));
}
@media only screen and (min-width: 768px) {
  .hdt-password-header {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 2rem 5rem 2.5rem;
    text-align: left;
  }
  .hdt-password-logo {
    margin-bottom: 0;
  }
  .hdt-drawer-password::part(content){
    max-width:34rem;
  }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1150px){
  .hdt-password-modal-button:hover {
    /* color:rgb(var(--color-secondary-button-text)/.65); */
    border: 0.1rem solid rgb(var(--color-accent));
  }
}
{%- endstyle -%}
<div class="hdt-s-gradient" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-container">
    <div class="hdt-password-header hdt-text-center hdt-flex hdt-align-center hdt-justify-between hdt-flex-col">
      {%- if section.settings.logo -%}
        {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
        {{ section.settings.logo | image_url: width: 500 | image_tag: class: 'hdt-password-logo', widths: '50, 100, 150, 200, 250, 300, 400, 500', width: section.settings.logo_width, height: logo_height, alt: logo_alt }}
      {%- else -%}
        <h1 class="hdt-text-6xl">{{ shop.name }}</h1>
      {%- endif -%}
      {%- if shop.password_message != blank -%}
        <div class="hdt-password-content">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
      <button class="hdt-password-modal-button" aria-controls="password-form-drawer">
        <svg width="1.4rem" height="auto" class="hdt-inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M240 392C240 400.8 232.8 408 224 408C215.2 408 208 400.8 208 392V312C208 303.2 215.2 296 224 296C232.8 296 240 303.2 240 312V392zM224 0C294.7 0 352 57.31 352 128V192H368C412.2 192 448 227.8 448 272V432C448 476.2 412.2 512 368 512H80C35.82 512 0 476.2 0 432V272C0 227.8 35.82 192 80 192H96V128C96 57.31 153.3 0 224 0zM224 32C170.1 32 128 74.98 128 128V192H320V128C320 74.98 277 32 224 32zM80 224C53.49 224 32 245.5 32 272V432C32 458.5 53.49 480 80 480H368C394.5 480 416 458.5 416 432V272C416 245.5 394.5 224 368 224H80z"/></svg>
        <span class="hdt-btn-sidebar-text">{{ 'general.password_page.login_password_button' | t }}</span>
      </button>
    </div>
  </div>
</div>
<hdt-drawer class="hdt-drawer hdt-drawer-password hdt-contents" color-scheme="{{ section.settings.color_scheme }}">
  <dialog id="password-form-drawer" class="hdt-dialog hdt-dialog-drawer" scroll-lock pos="right">
    <div class="hdt-dialog-drawer__header">
      <h3 slot="header" class="hdt-s-text hdt-drawer-password-title hdt-text-lg hdt-uppercase hdt-font-semibold">{{ 'general.password_page.login_form_heading' | t }}</h3>
      <button ref="closeButton" class="hdt-s-text hdt-dialog-btn__close" aria-controls="password-form-drawer" aria-label="{{ 'accessibility.close' | t | escape }}">{%- render 'icon' with 'close' -%}</button>
    </div>
    <div class="hdt-dialog-drawer__inner">
      <div class="hdt-password-form">
        {%- form 'storefront_password' -%}
          <div class="hdt-field" style="margin-bottom: 2rem;">
            <label for="{{ 'general.password_page.login_form_password_label' | t }}">{{- 'general.password_page.login_form_password_placeholder' | t -}} <span class="hdt-required">*</span></label>
            <input type="password" name="password" id="Password" class="hdt-input" autocomplete="current-password" {% if form.errors %} aria-invalid="true" aria-describedby="PasswordLoginForm-password-error" {%- endif -%} required="required" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
          </div>
          <button name="commit" class="hdt-login-form__submit hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-solid hdt-font-semibold"><span class="hdt-truncate"> {{ 'general.password_page.login_form_submit' | t }}</span></button>
          <p class="hdt-password-content">{{ 'general.password_page.admin_link_html' | t }}</p>
        {%- endform -%}
      </div>
    </div>
  </dialog>
</hdt-drawer>
{%- schema -%}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}