<!-- sections/our-team.liquid -->
{{ 'ourteam.scss' | asset_url | stylesheet_tag }}
{% style %}
  #shopify-section-{{ section.id }}{
  --section-pt: {{ section.settings.padding_top }}px;
  --section-pb: {{ section.settings.padding_bottom }}px;
  --section-prate: {{ section.settings.padding_rate }};
  }
{% endstyle %}
{% liquid
  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section.settings.section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
%}
<div class="{{ parent }}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};"{%- endif %}>
  <div class="{{ child }}">
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
        {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    {% content_for 'block', type: 'section-heading', id: 'our-team' %}
    <div class="hdt-ratio--{{ section.settings.image_ratio }}">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.our-team.name",
    "class": "hdt-ourteam",
    "disabled_on": {
      "groups": [
        "*"
      ]
    },
    "settings": [
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt_image",
            "label": "t:sections.all.images.ratio.adapt_image.label"
          },
          {
            "value": "square",
            "label": "t:sections.all.images.ratio.square.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.all.images.ratio.portrait.label"
          },
          {
            "value": "asos",
            "label": "t:sections.all.images.ratio.asos.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.all.images.ratio.landscape.label"
          },
        ],
        "label": "t:sections.all.images.ratio.label",
        "default": "adapt_image"
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "t:sections.all.items_row.desktop",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
        ],
        "default": "3"
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "t:sections.all.items_row.tablet",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "t:sections.all.items_row.mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
        ],
        "default": "1"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_layout.label"
      },
      {
        "type": "checkbox",
        "id": "colors_by_section",
        "label": "t:sections.all.colors.display_colors_by_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "visible_if": "{{ section.settings.colors_by_section }}"
      },
      {
        "type": "range",
        "id": "background_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "t:sections.all.background.opacity",
        "default": 0,
        "visible_if": "{{ section.settings.colors_by_section }}"
      },
      {
        "type": "select",
        "id": "section_layout",
        "label": "t:sections.all.section_layout.width.label",
        "options": [
          {
            "value": "container",
            "label": "t:sections.all.section_layout.width.container"
          },
          {
            "value": "wrapper_container",
            "label": "t:sections.all.section_layout.width.wrapper_container"
          },
          {
            "value": "full_width",
            "label": "t:sections.all.section_layout.width.full_width"
          }
        ],
        "default": "container"
      },
      {
        "type": "image_picker",
        "id": "section_background",
        "label": "t:sections.all.background.image"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_rate",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.all.padding.padding_rate",
        "default": 50
      },
    ],
    "max_blocks": 1,
    "blocks": [
      {
        "type": "_ourteam_grid"
      },
      {
        "type": "_ourteam_carousel"
      }
    ],
    "presets":[
      {
        "name": "t:sections.our-team.name",
        "category": "t:sections_categories.05_section.name",
        "blocks": {
          "ourteam_grid_RgnyEF": {
            "type": "_ourteam_grid",
            "settings": {},
            "blocks": {
              "ourteam_item_9cdtKn": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              },
              "ourteam_item_WexzzQ": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              },
              "ourteam_item_Vbq3Bz": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              }
            },
            "block_order": [
              "ourteam_item_9cdtKn",
              "ourteam_item_WexzzQ",
              "ourteam_item_Vbq3Bz"
            ]
          },
          "our-team": {
            "type": "section-heading",
            "static": true,
            "settings": {
              "design_heading": "2",
              "horizontal": false,
              "alignment": "center",
              "heading_gap": 15,
              "margin_bottom": 30
            },
            "blocks": {
              "heading_section_PWncLK": {
                "type": "_heading_section",
                "settings": {
                  "heading": "Our Team",
                  "heading_size": "h5",
                  "text_color": "hdt-s-text"
                },
                "blocks": {}
              }
            },
            "block_order": [
              "heading_section_PWncLK"
            ]
          }
        },
        "block_order": [
          "ourteam_grid_RgnyEF"
        ],
        "settings": {
          "image_ratio": "adapt_image",
          "col_dk": "3",
          "col_tb": "2",
          "col_mb": "1",
          "colors_by_section": false,
          "color_scheme": "",
          "background_opacity": 0,
          "section_layout": "container",
          "padding_top": 0,
          "padding_bottom": 0,
          "padding_rate": 50
        }
      },
      {
        "name": "t:sections.our-team.name_carousel",
        "category": "t:sections_categories.05_section.name",
        "blocks": {
          "ourteam_carousel_cxphgq": {
            "type": "_ourteam_carousel",
            "settings": {
              "loop": false,
              "autoplay": 0,
              "pauseOnHover": false,
              "navUI": true,
              "nav_position": "default",
              "nav_visible": "always",
              "nav_style": "default",
              "nav_shape": "rounded",
              "nav_size": "small",
              "nav_hide_mobile": false,
              "dotUI": false,
              "pag_style": "default",
              "pag_rounded": false,
              "pag_space": 10,
              "pag_mgt": 10,
              "pag_hide_mobile": false
            },
            "blocks": {
              "ourteam_item_hxW9hb": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              },
              "ourteam_item_G4UN6c": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              },
              "ourteam_item_FNc7q9": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              },
              "ourteam_item_MMyXqF": {
                "type": "_ourteam_item",
                "settings": {
                  "name": "Jone Doe",
                  "position": "Developer",
                  "facebook": "https://facebook.com/shopify",
                  "x": "https://x.com/shopify",
                  "instagram": "https://instagram.com/shopify",
                  "dribbble": "",
                  "behance": "",
                  "tiktok": ""
                },
                "blocks": {}
              }
            },
            "block_order": [
              "ourteam_item_hxW9hb",
              "ourteam_item_G4UN6c",
              "ourteam_item_FNc7q9",
              "ourteam_item_MMyXqF"
            ]
          },
          "our-team": {
            "type": "section-heading",
            "static": true,
            "settings": {
              "design_heading": "2",
              "horizontal": false,
              "alignment": "center",
              "heading_gap": 15,
              "margin_bottom": 30
            },
            "blocks": {
              "heading_section_d3A4By": {
                "type": "_heading_section",
                "settings": {
                  "heading": "Our Team carousel",
                  "heading_size": "h5",
                  "text_color": "hdt-s-text"
                },
                "blocks": {}
              }
            },
            "block_order": [
              "heading_section_d3A4By"
            ]
          }
        },
        "block_order": [
          "ourteam_carousel_cxphgq"
        ],
        "settings": {
          "image_ratio": "adapt_image",
          "col_dk": "3",
          "col_tb": "2",
          "col_mb": "1",
          "colors_by_section": false,
          "color_scheme": "",
          "background_opacity": 0,
          "section_layout": "container",
          "padding_top": 0,
          "padding_bottom": 0,
          "padding_rate": 50
        }
      }
    ]
  }
{% endschema %}
