{{ 'shipping.css' | asset_url | stylesheet_tag }}
{% comment %} 
  Structor: 
    Section heading
    Content:
      Item: icon
        Heading
        Text
        Spacer
        HTML
  Options:
    Section:
      Content align: left - center -right
      Content align vertical center: true / false
      Spacing padding: default / space 01
      Icon deisng: Default / Circle
      Use border: true / false
      Icon color: Default / Secondary / Tertiary / Accent
      Icon size: 
        Small:    Box - 60 / icon - 24
        Medium:   Box - 80 / icon - 36
        Large:    Box - 96 / icon - 48
      Items per row: 
        Desktop:  2 - 3 - 4 - 5 - 6
        Tablet:   2 - 3 - 4
        Mobile:   1 - 2
      Enable carousel on mobile: true / false
      Dots color: Default / Secondary / Tertiary / Accent
      Enable dots round: true / false

      Layout: 
        Color: color_scheme
        Width: Container / Wrapper container / Full width
        Background image: Image
        Section padding: 
          Padding top
          Padding bottom
          Padding rate
    
    Blocks:
      Item:
        Icon: Select
        Image: Image
        Icon lineawesome: html svg

        Blocks: 
          Heading
          Text
          Spacer
          HTML
{% endcomment %}
{% style %}
  #shopify-section-{{ section.id }}{
  --section-pt: {{ section.settings.padding_top }}px;
  --section-pb: {{ section.settings.padding_bottom }}px;
  --section-prate: {{ section.settings.padding_rate }};
  }
{% endstyle %}
{% liquid
  assign section_layout         = section.settings.section_layout
  assign col_dk                 = section.settings.col_dk
  assign col_tb                 = section.settings.col_tb
  assign col_mb                 = section.settings.col_mb
  assign carousel_mobile        = section.settings.carousel_mobile
  if carousel_mobile
    assign col_mb = 1
  endif
  assign dot_color              = section.settings.dot_color
  assign dot_rounded            = section.settings.dot_rounded
  assign icon_size              = section.settings.icon_size
  assign icon_design            = section.settings.icon_design
  assign content_align          = section.settings.content_align
  assign center_vertical        = section.settings.align_center
  assign space_padding          = section.settings.space_padding
  assign use_border             = section.settings.use_border
  assign icon_color             = section.settings.icon_color

  #Section layout
  assign sizes  = '(min-width: 1150px) ' | append: settings.page_width | append: 'px,(min-width: 750px) calc(100vw - 60px), calc(100vw - 30px)'

  case section_layout 
    when 'container'
      assign parent = 'hdt-container'
      assign child  = 'hdt-section-spacing hdt-s-gradient hdt-relative hdt-oh'
    when 'wrapper_container'
      assign parent = 'hdt-section-spacing hdt-s-gradient hdt-relative hdt-oh'
      assign child  = 'hdt-container'
    when 'full_width'
      assign parent = 'hdt-container-full hdt-section-spacing hdt-s-gradient hdt-relative hdt-oh'
      assign child  = ''
      assign sizes  = '100vw'
  endcase
%}
{% if carousel_mobile %}
  {% liquid
    assign carousel_class = ' sm:hdt-scroll-snap hdt-snap-x sm:hdt-snap-grid'
  %}
  {%- capture shipping_dots -%}
    <div class="hdt-icon-box__scrollsnap-dots hdt-scrollsnap-dots hdt-shipping-dots hdt-text-center hdt-flex md:hdt-hidden {{ dot_color }} hdt-dot-rounded-{{ dot_rounded }}">
      {%- for block in section.blocks -%}
        <button class="hdt-shipping-dot hdt-scrollsnap-dot__link hdt-scrollsnap-dot" aria-label="scrollsnap-dot"></button> 
      {%- endfor -%}
    </div>
  {%- endcapture -%}
{% endif %}
<div class="{{ parent }}" {%- if section.settings.colors_by_section %} color-scheme="{{ section.settings.color_scheme }}" style="--background-opacity: {{ section.settings.background_opacity }};" {%- endif %}>
  <div class="{{ child }}">
    {%- if section.settings.section_background != blank -%}
      {% liquid
        assign image = section.settings.section_background
      %}
        {{ image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', loading: 'lazy', class: 'hdt-section-background hdt-absolute hdt-top-0 hdt-left-0 hdt-w-full hdt-h-full hdt-pe-none hdt-object-cover hdt-object-center' }}
    {%- endif -%}
    <hdt-scrollsnap class="hdt-content-inner {{ icon_color }} hdt-content-align-{{ content_align }}{% if center_vertical %} hdt-center-content{% endif %} hdt-icon-{{ icon_design }} hdt-icon-size-{{ icon_size }} hdt-space-padding-{{ space_padding }}{% if use_border %} hdt-use-border{% endif %}">
      <div id="Scroller-{{ section.id }}" class="hdt-row-grid hdt-row-grid--modify hdt-grid-cols-{{ col_mb }} md:hdt-grid-cols-{{ col_tb }} lg:hdt-grid-cols-{{ col_dk }}{{ carousel_class }}">
        {% content_for 'blocks' %}
      </div>
      {{ shipping_dots }}
    </hdt-scrollsnap>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.shipping.name",
    "class": "hdt-shipping hdt-section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.general_options.label"
      },
      {
        "type": "select",
        "id": "content_align",
        "label": "t:sections.icon-box.settings.content_align.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.icon-box.settings.content_align.options_1.label"
          },
          {
            "value": "center",
            "label": "t:sections.icon-box.settings.content_align.options_2.label"
          },
          {
            "value": "right",
            "label": "t:sections.icon-box.settings.content_align.options_3.label"
          }
        ],
        "default": "left"
      },
      {
        "type": "checkbox",
        "id": "align_center",
        "label": "t:sections.shipping.settings.content_align_vertical_center",
        "default": false
      },
      {
        "type": "select",
        "id": "icon_design",
        "label": "t:sections.shipping.settings.icon_design.label",
        "options": [
          {
            "value": "default",
            "label": "t:default"
          },
          {
            "value": "circle",
            "label": "t:sections.shipping.settings.icon_design.options.circle"
          }
        ],
        "default": "default"
      },
      {
        "type": "checkbox",
        "id": "use_border",
        "label": "t:sections.shipping.settings.use_border.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "space_padding",
        "label": "Space padding 2",
        "default": false,
        "visible_if": "{{ section.settings.use_border == true }}"
      },
      {
        "type": "select",
        "id": "icon_size",
        "label": "t:sections.shipping.settings.icon_size.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.shipping.settings.icon_size.options.none"
          },
          {
            "value": "small",
            "label": "t:sections.shipping.settings.icon_size.options.small"
          },
          {
            "value": "medium",
            "label": "t:sections.shipping.settings.icon_size.options.medium"
          },
          {
            "value": "large",
            "label": "t:sections.shipping.settings.icon_size.options.large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "icon_color",
        "label": "t:sections.shipping.settings.icon_color.label",
        "options": [
          {
            "value": "",
            "label": "t:default"
          },
          {
            "value": "hdt-icon-secondary",
            "label": "t:settings_schema.colors.secondary"
          },
          {
            "value": "hdt-icon-tertiary",
            "label": "t:settings_schema.colors.tertiary"
          },
          {
            "value": "hdt-icon-accent",
            "label": "t:settings_schema.colors.accent"

          }
        ],
        "default": ""
      },
      {
        "type": "select",
        "id": "col_dk",
        "label": "t:sections.all.items_row.desktop",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
        ],
        "default": "3"
      },
      {
        "type": "select",
        "id": "col_tb",
        "label": "t:sections.all.items_row.tablet",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "col_mb",
        "label": "t:sections.all.items_row.mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
        ],
        "default": "1",
        "visible_if": "{{ section.settings.carousel_mobile == false }}"
      },
      {
        "type": "checkbox",
        "id": "carousel_mobile",
        "label": "t:blocks.carousel.settings.carousel_on_mobile",
        "default": false
      },
      {
        "type": "select",
        "id": "dot_color",
        "label": "t:blocks.carousel.settings.dots_color",
        "options": [
          {
            "value": "",
            "label": "t:default"
          },
          {
            "value": "hdt-dot-secondary",
            "label": "t:settings_schema.colors.secondary"
          },
          {
            "value": "hdt-dot-tertiary",
            "label": "t:settings_schema.colors.tertiary"
          },
          {
            "value": "hdt-dot-accent",
            "label": "t:settings_schema.colors.accent"

          }
        ],
        "default": "",
        "visible_if": "{{ section.settings.carousel_mobile == true }}"
      },
      {
        "type": "checkbox",
        "id": "dot_rounded",
        "label": "t:blocks.carousel.settings.dots_rounded",
        "default": false,
        "visible_if": "{{ section.settings.carousel_mobile == true }}"
      },
      {
        "type": "header",
        "content": "t:sections.all.section_layout.label"
      },
      {
        "type": "checkbox",
        "id": "colors_by_section",
        "label": "t:sections.all.colors.display_colors_by_section"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "visible_if": "{{ section.settings.colors_by_section == true }}"
      },
      {
        "type": "range",
        "id": "background_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "t:sections.all.background.opacity",
        "default": 0,
        "visible_if": "{{ section.settings.colors_by_section == true }}"
      },
      {
        "type": "select",
        "id": "section_layout",
        "label": "t:sections.all.section_layout.width.label",
        "options": [
          {
            "value": "container",
            "label": "t:sections.all.section_layout.width.container"
          },
          {
            "value": "wrapper_container",
            "label": "t:sections.all.section_layout.width.wrapper_container"
          },
          {
            "value": "full_width",
            "label": "t:sections.all.section_layout.width.full_width"
          }
        ],
        "default": "container"
      },
      {
        "type": "image_picker",
        "id": "section_background",
        "label": "t:sections.all.background.image"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_rate",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:sections.all.padding.padding_rate",
        "default": 50
      },
    ],
    "blocks": [
      {
        "type": "_shipping"
      }
    ],
    "presets": [
      {
        "name": "t:sections.shipping.name",
        "category": "t:sections_categories.05_section.name",
        "blocks": [
          {
          "type": "_shipping",
          "settings": {
            "icon_themes": "car",
            "icon": ""
          },
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "<h4>FREE SHIPPING</h4>",
                "hidden_br_mobile": false,
                "hidden_on_mobile": false,
                "heading_size": "h6",
                "text_color": "hdt-s-text",
                "font_size_heading_lg": 16,
                "font_size_heading": 24,
                "letter_spacing_heading": 0
              }
            },
            {
              "type": "spacer",
              "settings": {
                "direction": false,
                "space_lg": 4,
                "space_md": 4,
                "space": 4
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Free shipping on all US orders or orders above $100</p>",
                "hidden_br_mobile": false,
                "hidden_on_mobile": false,
                "text_size": "base",
                "text_color": "hdt-text-secondary",
                "font_size_text_lg": 16,
                "font_size_text": 14,
                "letter_spacing_text": 0
              }
            }
            ]
          },
          {
            "type": "_shipping",
            "settings": {
              "icon_themes": "help",
              "icon": ""
            },
            "blocks": [
              {
                "type": "heading",
                "settings": {
                  "heading": "<h3>SUPPORT 24/7</h3>",
                  "hidden_br_mobile": false,
                  "hidden_on_mobile": false,
                  "heading_size": "h6",
                  "text_color": "hdt-s-text",
                  "font_size_heading_lg": 16,
                  "font_size_heading": 24,
                  "letter_spacing_heading": 0
                }
              },
              {
                "type": "spacer",
                "settings": {
                  "direction": false,
                  "space_lg": 4,
                  "space_md": 4,
                  "space": 4
                }
              },
              {
                "type": "text",
                "settings": {
                  "text": "<p>Contact us 24 hours a day, 7 days a week</p>",
                  "hidden_br_mobile": false,
                  "hidden_on_mobile": false,
                  "text_size": "base",
                  "text_color": "hdt-text-secondary",
                  "font_size_text_lg": 16,
                  "font_size_text": 14,
                  "letter_spacing_text": 0
                }
              }
            ]
          },
          {
            "type": "_shipping",
            "settings": {
              "icon_themes": "refesh",
              "icon": ""
            },
            "blocks": [
              {
                "type": "heading",
                "settings": {
                  "heading": "<h3>30 DAYS RETURN</h3>",
                  "hidden_br_mobile": false,
                  "hidden_on_mobile": false,
                  "heading_size": "h6",
                  "text_color": "hdt-s-text",
                  "font_size_heading_lg": 16,
                  "font_size_heading": 24,
                  "letter_spacing_heading": 0
                }
              },
              {
                "type": "spacer",
                "settings": {
                  "direction": false,
                  "space_lg": 4,
                  "space_md": 4,
                  "space": 4
                }
              },
              {
                "type": "text",
                "settings": {
                  "text": "<p>Simply return it within 30 days for an exchange.</p>",
                  "hidden_br_mobile": false,
                  "hidden_on_mobile": false,
                  "text_size": "base",
                  "text_color": "hdt-text-secondary",
                  "font_size_text_lg": 16,
                  "font_size_text": 14,
                  "letter_spacing_text": 0
                }
              }
            ]
          },
          {
            "type": "_shipping",
            "settings": {
              "icon_themes": "door-lock",
              "icon": ""
            },
            "blocks": [
              {
                "type": "heading",
                "settings": {
                  "heading": "<h3>100% PAYMENT SECURE</h3>",
                  "hidden_br_mobile": false,
                  "hidden_on_mobile": false,
                  "heading_size": "h6",
                  "text_color": "hdt-s-text",
                  "font_size_heading_lg": 16,
                  "font_size_heading": 24,
                  "letter_spacing_heading": 0
                }
              },
              {
                "type": "spacer",
                "settings": {
                  "direction": false,
                  "space_lg": 4,
                  "space_md": 4,
                  "space": 4
                }
              },
              {
                "type": "text",
                "settings": {
                  "text": "<p>We ensure secure payment with PEV</p>",
                  "hidden_br_mobile": false,
                  "hidden_on_mobile": false,
                  "text_size": "base",
                  "text_color": "hdt-text-secondary",
                  "font_size_text_lg": 16,
                  "font_size_text": 14,
                  "letter_spacing_text": 0
                }
              }
            ]
          }
        ],
        "settings": {
          "content_align": "left",
          "align_center": false,
          "space_padding": false,
          "icon_design": "default",
          "use_border": false,
          "icon_size": "medium",
          "icon_color": "hdt-icon-secondary",
          "col_dk": "4",
          "col_tb": "2",
          "col_mb": "1",
          "carousel_mobile": true,
          "dot_color": "",
          "dot_rounded": true,
          "color_scheme": "scheme-1",
          "section_layout": "container",
          "padding_top": 40,
          "padding_bottom": 40,
          "padding_rate": 50
        }
      }
    ]
  }
{% endschema %}
