<!-- section/testimonials.liquid -->
{{ 'testimonials.css' | asset_url | stylesheet_tag }}
{{ 'top-head.css' | asset_url | stylesheet_tag }}
{%- style -%}
  #shopify-section-{{section.id}}{
    --section-pt:{{section.settings.padding_top}}px;
    --section-pb:{{section.settings.padding_bottom}}px;
    --section-prate:{{section.settings.padding_rate}}
    }
{%- endstyle -%}
<div id="{{ section.id }}" class="hdt-section-testimonials hdt-section-spacing hdt-s-gradient hdt-relative" color-scheme="{{ section.settings.color_scheme }}" style="--color-pr-rating:{{ section.settings.pr_rating }}">
  {%- if section.settings.image_bg != blank -%}
    <div class="hdt-testimonial_imagebg hdt-h-full hdt-w-full hdt-full-width-link">
      {{ section.settings.image_bg | image_url: width: section.settings.image_bg.width | image_tag: loading: 'lazy', width: section.settings.image_bg.width, height: section.settings.image_bg.height, class: 'hdt-w-full hdt-h-full hdt-object-cover', sizes: "100vw", widths: "375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840" }}
    </div>
  {%- endif -%}
  <div class="hdt-container{%- if section.settings.section_fullwidth -%} -full{% endif %} hdt-tesimonials-main-content hdt-relative">
    <div class="hdt-testimonials-headings">
      {% content_for 'block', type: 'section-heading', id: 'testimonials' %}
      <div class="hdt-main-testimonial">
        <hdt-slider id="Slider-{{ section.id }}" class="hdt-slider hdt-relative hdt-slide-spacing-x lg:hdt-slides-{{ section.settings.col_dk }} md:hdt-slides-{{ section.settings.col_tb }} hdt-slides-{{ section.settings.col_mb }} hdt-testimonials-{{ section.settings.testimonial_des }}" config='{ "id": "Slider-{{ section.id }}", "navUI": {{ section.settings.navUI }}, "dotUI": true, "loop": {{ section.settings.loop }}, "autoPlay": {{ section.settings.autoplay | times: 1000 }}, "pauseOnHover": {{ section.settings.pauseOnHover }} }'>
          <div class="hdt-slider__viewport hdt-relative">
            <div class="hdt-slider__container">
              {% content_for 'blocks' %}
            </div>
          </div>
          {%- if section.settings.navUI -%}
            <div class="hdt-navigation hdt-position-{{ section.settings.nav_position }} hdt-visible-{{ section.settings.nav_visible }} hdt-style-{{ section.settings.nav_style }} hdt-shape-{{ section.settings.nav_shape }} hdt-size-{{ section.settings.nav_size }} hdt-hide-mobile-{{ section.settings.nav_hide_mobile }}">
              <button aria-controls="Slider-{{ section.id }}" class="hdt-slider__button hdt-slider__button--prev" type="button" disabled name="previous" aria-label="previous">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none"><path d="M5.5 11L0 5.5L5.5 0L6.47625 0.97625L1.9525 5.5L6.47625 10.0238L5.5 11Z" fill="currentColor"/></svg>
              </button>
              <button aria-controls="Slider-{{ section.id }}" class="hdt-slider__button hdt-slider__button--next" type="button" disabled name="next" aria-label="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none"><path d="M1.5 11L7 5.5L1.5 0L0.52375 0.97625L5.0475 5.5L0.52375 10.0238L1.5 11Z" fill="currentColor"/></svg>
              </button>
            </div>
          {%- endif -%}
          {%- if section.settings.dotUI -%}
            <div hdt-slider-dots aria-controls="Slider-{{ section.id }}" class="hdt-slider__dots hdt-pagination hdt-style-{{ section.settings.pag_style }} hdt-radius-{{ section.settings.pag_rounded }}{% if section.settings.only_show_mobile %} hdt-only-show-mobile {% else %} hdt-hide-mobile-{{ section.settings.pag_hide_mobile }}{% endif %}" style="--space-between: {{ section.settings.pag_space }}px; --margin-top: {{ section.settings.pag_mgt }}px;" hdt-reveal="slide-in" timeline></div>
          {%- endif -%}
        </hdt-slider>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.testimonials.name",
  "class": "hdt-section hdt-testimonials",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_general_options"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "t:sections.testimonials.settings.content_align.label",
      "default": "start",
      "options": [
        {
          "value": "start",
          "label": "t:sections.testimonials.settings.content_align.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.testimonials.settings.content_align.option_2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "testimonial_des",
      "label": "t:sections.testimonials.settings.testimonials_des.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "t:sections.testimonials.settings.testimonials_des.option_1.label"
        },
        {
          "value": "2",
          "label": "t:sections.testimonials.settings.testimonials_des.option_2.label"
        },
        {
          "value": "3",
          "label": "t:sections.testimonials.settings.testimonials_des.option_3.label"
        },
        {
          "value": "4",
          "label": "t:sections.testimonials.settings.testimonials_des.option_4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_dk",
      "label": "t:sections.all.items_row.desktop",
      "default": "4",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_tb",
      "label": "t:sections.all.items_row.tablet",
      "default": "2",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mb",
      "label": "t:sections.all.items_row.mobile",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:blocks.carousel.name"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "t:blocks.carousel.settings.loop",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay",
      "min": 0,
      "max": 7,
      "step": 0.5,
      "unit": "s",
      "label": "t:blocks.carousel.settings.autoplay.label",
      "default": 0,
      "info": "t:blocks.carousel.settings.autoplay.info"
    },
    {
      "type": "checkbox",
      "id": "pauseOnHover",
      "label": "t:blocks.carousel.settings.autoplay.pause_on_hover",
      "default": false
    },
    {
      "type": "header",
      "content": "t:blocks.carousel.settings.navigation.label"
    },
    {
      "type": "checkbox",
      "id": "navUI",
      "label": "t:blocks.carousel.settings.navigation.use_navigation",
      "default": false
    },
    {
      "type": "select",
      "id": "nav_position",
      "label": "t:blocks.carousel.settings.navigation.position.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "on_border",
          "label": "t:blocks.carousel.settings.navigation.position.options.on_border"
        },
        {
          "value": "out_side",
          "label": "t:blocks.carousel.settings.navigation.position.options.out_side"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.navUI }}"
    },
    {
      "type": "select",
      "id": "nav_visible",
      "label": "t:blocks.carousel.settings.navigation.nav_visible.label",
      "options": [
        {
          "value": "always",
          "label": "t:blocks.carousel.settings.navigation.nav_visible.options.always"
        },
        {
          "value": "hover",
          "label": "t:blocks.carousel.settings.navigation.nav_visible.options.hover"
        }
      ],
      "default": "always",
      "visible_if": "{{ section.settings.navUI }}"
    },
    {
      "type": "select",
      "id": "nav_style",
      "label": "t:blocks.carousel.settings.navigation.nav_style.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "outline",
          "label": "t:blocks.carousel.settings.navigation.nav_style.options.outline"
        },
        {
          "value": "simple",
          "label": "t:blocks.carousel.settings.navigation.nav_style.options.simple"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.navUI }}"
    },
    {
      "type": "select",
      "id": "nav_shape",
      "label": "t:blocks.carousel.settings.navigation.nav_shape.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "rounded",
          "label": "t:blocks.carousel.settings.navigation.nav_shape.options.rounded"
        },
        {
          "value": "rotate",
          "label": "t:blocks.carousel.settings.navigation.nav_shape.options.rotate"
        }
      ],
      "default": "default",
      "info": "t:blocks.carousel.settings.navigation.nav_shape.info",
      "visible_if": "{{ section.settings.navUI }}"
    },
    {
      "type": "select",
      "id": "nav_size",
      "label": "t:blocks.carousel.settings.navigation.nav_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:blocks.carousel.settings.navigation.nav_size.options.small"
        },
        {
          "value": "medium",
          "label": "t:blocks.carousel.settings.navigation.nav_size.options.medium"
        },
        {
          "value": "large",
          "label": "t:blocks.carousel.settings.navigation.nav_size.options.large"
        }
      ],
      "default": "small",
      "visible_if": "{{ section.settings.navUI }}"
    },
    {
      "type": "checkbox",
      "id": "nav_hide_mobile",
      "label": "t:blocks.carousel.settings.pagination.pag_hide_mobile",
      "default": false,
      "visible_if": "{{ section.settings.navUI }}"
    },
    {
      "type": "header",
      "content": "t:blocks.carousel.settings.pagination.label"
    },
    {
      "type": "checkbox",
      "id": "dotUI",
      "label": "t:blocks.carousel.settings.pagination.use_pagination",
      "default": false
    },
    {
      "type": "select",
      "id": "pag_style",
      "label": "t:blocks.carousel.settings.pagination.style.label",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "outline",
          "label": "t:blocks.carousel.settings.pagination.style.options.outline"
        },
        {
          "value": "elessi",
          "label": "t:blocks.carousel.settings.pagination.style.options.elessi"
        },
        {
          "value": "full",
          "label": "t:blocks.carousel.settings.pagination.style.options.full"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.dotUI }}"
    },
    {
      "type": "checkbox",
      "id": "pag_rounded",
      "label": "t:blocks.carousel.settings.pagination.rounded",
      "default": false,
      "visible_if": "{{ section.settings.dotUI }}"
    },
    {
      "type": "range",
      "id": "pag_space",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.carousel.settings.pagination.space",
      "default": 10,
      "visible_if": "{{ section.settings.dotUI }}"
    },
    {
      "type": "range",
      "id": "pag_mgt",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.carousel.settings.pagination.space_between_pagination",
      "default": 10,
      "visible_if": "{{ section.settings.dotUI }}"
    },
    {
      "type": "checkbox",
      "id": "only_show_mobile",
      "label": "t:blocks.carousel.settings.pagination.only_show_mobile",
      "default": false,
      "visible_if": "{{ section.settings.dotUI }}"
    },
    {
      "type": "checkbox",
      "id": "pag_hide_mobile",
      "label": "t:blocks.carousel.settings.pagination.pag_hide_mobile",
      "default": false,
      "visible_if": "{{ section.settings.dotUI and section.settings.only_show_mobile == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header-option"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "color",
      "id": "pr_rating",
      "label": "t:sections.testimonials.settings.pr_rating.label",
      "default": "#FF7B54"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "t:sections.testimonials.settings.image.label"
    },
    {
      "type": "checkbox",
      "id": "section_fullwidth",
      "label": "t:sections.all.section_fullwidth",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.title.settings.padding_top.label",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.title.settings.padding_bottom.label",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "_quote"
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "category": "05. Section",
      "blocks": [
        {
          "type": "_quote"
        },
        {
          "type": "_quote"
        },
        {
          "type": "_quote"
        },
        {
          "type": "_quote"
        }
      ]
    }
  ]
}
{% endschema %}
