<!-- sections/timeline.liquid -->
{{ 'hdt-timeline.css' | asset_url | stylesheet_tag }}
{% style %}
  #shopify-section-{{ section.id }}{
    --section-pt: {{ section.settings.padding_top }}px;
    --section-pb: {{ section.settings.padding_bottom }}px; 
    --section-prate: {{ section.settings.padding_rate }};
  }
{% endstyle %}
<div class="hdt-section-inner hdt-s-gradient hdt-section-spacing" color-scheme="{{ section.settings.color_scheme }}" hdt-reveal="fade-in">
  <div class="hdt-container {%- if section.settings.full_width -%}-full{%- endif %}">
    <div class="hdt-timeline-wrapper hdt-relative hdt-timeline__line-{{ section.settings.line_style }} {% if section.settings.enable_shadow %}hdt-item-shadow{% endif %}">
      <div class="hdt-timeline-line">
        <span class="hdt-line-dot hdt-dot-start"></span>
        <span class="hdt-line-dot hdt-dot-end"></span>
      </div>
      <div class="hdt-timeline-list">
        {%- for block in section.blocks -%}    
          {%- assign image = block.settings.image -%} 
          <div class="hdt-timeline-item">
            {%- if block.settings.step_label != blank -%}
              <div class="hdt-timeline-breakpoint">
                <span class="hdt-timeline-breakpoint-title hdt-relative hdt-inline-block hdt-text-lg hdt-font-semibold">{{ block.settings.step_label }}</span>
              </div>
            {%- endif -%}
            <div class="hdt-timeline-inner hdt-item-position-{{ block.settings.img_pos }}">
              <div class="hdt-timeline-item-dot"></div>
              <div class="hdt-timeline-col hdt-timeline-col-primary">
                <div class="hdt-timeline-arrow"></div>
                <div class="hdt-timeline-image hdt-ratio--{{ block.settings.image_ratio }} {% unless block.settings.image_size %} hdt-ratio--contain{% endunless %}">
                  <div class="hdt-ratio" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 1.2 }}">
                    {%- if image != blank -%}
                      {{ image | image_url: width: image.width | image_tag: loading: 'lazy', width: image.width, height: image.height, widths: '575,767,1024,1150,1366,1440,1920' }}
                    {%- else -%}
                      {{ 'hero-apparel-1' | placeholder_svg_tag: 'hdt-timeline-placeholder-svg' }}
                    {%- endif -%}
                  </div>
                </div>
              </div>
              <div class="hdt-timeline-col hdt-timeline-col-secondary">
                <div class="hdt-timeline-arrow"></div>
                <div class="hdt-timeline-content">
                  {%- if block.settings.sub_heading -%}
                    <h5 class="hdt-text-lg hdt-timeline-subheading">{{ block.settings.sub_heading }}</h5>
                  {%- endif -%}
                  {%- if block.settings.heading -%}
                    <h2 class="hdt-timeline-heading hdt-lh-1-2">{{ block.settings.heading }}</h2>
                  {%- endif -%}
                  {%- if block.settings.description -%}
                    <div class="hdt-timeline-description hdt-rte">{{ block.settings.description | replace: '<p>', '<p class="hdt-s-text2">' }}</div>
                  {%- endif -%}
                  {%- if block.settings.label != blank -%}
                    <a {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link }}"{% endif %} class="hdt-timeline-button hdt-button-block hdt-btn hdt-btn--size-{{ block.settings.size }} {{ block.settings.btn_style }} hdt-btn--size-{{ block.settings.font_size }}{% if block.settings.full_width %} hdt-btn-full-width{% endif %}{% if block.settings.icon != "none" %} hdt-btn--with-icon hdt-btn--pos-icon-{{ block.settings.icon_position }}{% endif %}"{% if block.settings.icon != "none" %} style="--gap-btn-icon: {{ block.settings.icon_spacing }}px; --height-btn-icon: {{ block.settings.icon_height }}px"{% endif %} {% if block.settings.open_in_new_tab %} target="_blank" rel="noopener noreferrer"{% endif -%} {{ block.shopify_attributes }}>
                      {%- liquid
                      if block.settings.icon != 'none'
                        render 'icons', icon: block.settings.icon
                      endif
                      echo block.settings.label
                      -%}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "t:sections.timeline.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "class": "hdt-section hdt-section-all",
  "settings": [
    {
      "type": "select",
      "id": "line_style",
      "default": "dashed",
      "label": "t:sections.timeline.settings.line_style.label",
      "options": [
        {
          "label": "t:sections.timeline.settings.line_style.options__1.label",
          "value": "solid"
        },
        {
          "label": "t:sections.timeline.settings.line_style.options__2.label",
          "value": "dashed"
        },
        {
          "label": "t:sections.timeline.settings.line_style.options__3.label",
          "value": "dotted"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_shadow",
      "label": "t:sections.timeline.settings.enable_shadow.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    },
  ],
  "blocks": [
    {
      "name": "t:sections.timeline.blocks.timeline.name",
      "type": "timeline",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.timeline.blocks.timeline.settings.header_image.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.timeline.blocks.timeline.settings.image.label"
        },
        {
          "type": "select",
          "id": "img_pos",
          "label": "t:sections.timeline.blocks.timeline.settings.img_pos.label",
          "options": [
            {
              "label": "t:sections.timeline.blocks.timeline.settings.img_pos.options__1.label",
              "value": "left"
            },
            {
              "label": "t:sections.timeline.blocks.timeline.settings.img_pos.options__2.label",
              "value": "right"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_ratio",
          "default": "adapt_image",
          "options": [
            {
              "value": "adapt_image",
              "label": "t:sections.all.images.ratio.adapt_image.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.images.ratio.square.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.images.ratio.portrait.label"
            },
            {
              "value": "asos",
              "label": "t:sections.all.images.ratio.asos.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.images.ratio.landscape.label"
            },
            {
              "value": "custom-pr",
              "label": "t:sections.all.images.ratio.custom.label"
            }
          ],
          "label": "t:sections.all.images.ratio.label"
        },
        {
          "type": "checkbox",
          "id": "image_size",
          "label": "t:sections.all.images.size.cover",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.timeline.blocks.timeline.settings.header_content.content"
        },
        {
          "type": "text",
          "id": "step_label",
          "label": "t:sections.timeline.blocks.timeline.settings.step_label.label",
          "default": "1999"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.timeline.blocks.timeline.settings.sub_heading.label",
          "default": "Condimentum fames egestas ad potenti"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "t:sections.timeline.blocks.timeline.settings.heading.label",
          "default": "Lementum musat dignissim"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.timeline.blocks.timeline.settings.description.label",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>"
        },
        {
          "type": "text",
          "id": "label",
          "label": "t:blocks.button.settings.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:blocks.button.settings.link",
          "visible_if": "{{ block.settings.label != blank }}"
        },
        {
          "type": "checkbox",
          "id": "open_in_new_tab",
          "label": "t:blocks.button.settings.open_in_new_tab",
          "default": false,
          "visible_if": "{{ block.settings.link != blank }}"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "t:blocks.button.settings.button_style.label",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "t:blocks.button.settings.button_style.options.default"
            },
            {
              "value": "hdt-btn-outline",
              "label": "t:blocks.button.settings.button_style.options.outline"
            },
            {
              "value": "hdt-btn-link",
              "label": "t:blocks.button.settings.button_style.options.link"
            },
            {
              "value": "hdt-btn-secondary",
              "label": "t:blocks.button.settings.button_style.options.secondary",
              "group": "t:blocks.button.settings.button_style.solid"
            },
            {
              "value": "hdt-btn-tertiary",
              "label": "t:blocks.button.settings.button_style.options.tertiary",
              "group": "t:blocks.button.settings.button_style.solid"
            },
            {
              "value": "hdt-btn-accent",
              "label": "t:blocks.button.settings.button_style.options.accent",
              "group": "t:blocks.button.settings.button_style.solid"
            },
            {
              "value": "hdt-btn-hover-secondary",
              "label": "t:blocks.button.settings.button_style.options.hover_secondary",
              "group": "t:blocks.button.settings.button_style.solid"
            },
            {
              "value": "hdt-btn-hover-tertiary",
              "label": "t:blocks.button.settings.button_style.options.hover_tertiary",
              "group": "t:blocks.button.settings.button_style.solid"
            },
            {
              "value": "hdt-btn-hover-accent",
              "label": "t:blocks.button.settings.button_style.options.hover_accent",
              "group": "t:blocks.button.settings.button_style.solid"
            },
            {
              "value": "hdt-btn-outline-secondary",
              "label": "t:blocks.button.settings.button_style.options.outline_secondary",
              "group": "t:blocks.button.settings.button_style.outline"
            },
            {
              "value": "hdt-btn-outline-tertiary",
              "label": "t:blocks.button.settings.button_style.options.outline_tertiary",
              "group": "t:blocks.button.settings.button_style.outline"
            },
            {
              "value": "hdt-btn-outline-accent",
              "label": "t:blocks.button.settings.button_style.options.outline_accent",
              "group": "t:blocks.button.settings.button_style.outline"
            },
            {
              "value": "hdt-btn-outline-hover-secondary",
              "label": "t:blocks.button.settings.button_style.options.outline_hover_secondary",
              "group": "t:blocks.button.settings.button_style.outline"
            },
            {
              "value": "hdt-btn-outline-hover-tertiary",
              "label": "t:blocks.button.settings.button_style.options.outline_hover_tertiary",
              "group": "t:blocks.button.settings.button_style.outline"
            },
            {
              "value": "hdt-btn-outline-hover-accent",
              "label": "t:blocks.button.settings.button_style.options.outline_hover_accent",
              "group": "t:blocks.button.settings.button_style.outline"
            },
            {
              "value": "hdt-btn-link-secondary",
              "label": "t:blocks.button.settings.button_style.options.link_secondary",
              "group": "t:blocks.button.settings.button_style.link"
            },
            {
              "value": "hdt-btn-link-accent",
              "label": "t:blocks.button.settings.button_style.options.link_accent",
              "group": "t:blocks.button.settings.button_style.link"
            },
            {
              "value": "hdt-btn-link-hover",
              "label": "t:blocks.button.settings.button_style.options.link_hover",
              "group": "t:blocks.button.settings.button_style.link"
            },
            {
              "value": "hdt-btn-link-secondary-hover",
              "label": "t:blocks.button.settings.button_style.options.link_secondary_hover",
              "group": "t:blocks.button.settings.button_style.link"
            },
            {
              "value": "hdt-btn-link-accent-hover",
              "label": "t:blocks.button.settings.button_style.options.link_accent_hover",
              "group": "t:blocks.button.settings.button_style.link"
            },
          ],
          "visible_if": "{{ block.settings.label != blank }}"
        },
        {
          "type": "select",
          "id": "size",
          "label": "t:blocks.button.settings.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:blocks.button.settings.button_size.options.xs"
            },
            {
              "value": "s",
              "label": "t:blocks.button.settings.button_size.options.s"
            },
            {
              "value": "m",
              "label": "t:blocks.button.settings.button_size.options.m"
            },
            {
              "value": "l",
              "label": "t:blocks.button.settings.button_size.options.l"
            },
            {
              "value": "xl",
              "label": "t:blocks.button.settings.button_size.options.xl"
            },
            {
              "value": "custom hdt-btn--size-custom-1",
              "label": "t:blocks.button.settings.button_size.options.custom_1"
            },
            {
              "value": "custom custom-inline",
              "label": "t:blocks.button.settings.button_size.options.custom_inline"
            }
          ],
          "default": "m",
          "visible_if": "{{ block.settings.label != blank }}"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:blocks.icon.name",
          "options": [
            {
              "value": "none",
              "label": "t:blocks.icon.options.none"
            },
            {
              "value": "arrow_right",
              "label": "t:blocks.icon.options.arrow_right"
            },
            {
              "value": "arrow_simple",
              "label": "t:blocks.icon.options.arrow_simple"
            },
            {
              "value": "arrow_bottom",
              "label": "t:blocks.icon.options.arrow_bottom"
            },
            {
              "value": "arrow_stretch",
              "label": "t:blocks.icon.options.arrow_stretch"
            },
            {
              "value": "car",
              "label": "t:blocks.icon.options.car"
            },
            {
              "value": "truck",
              "label": "t:blocks.icon.options.truck"
            },
            {
              "value": "diamond",
              "label": "t:blocks.icon.options.diamond"
            },
            {
              "value": "door-lock",
              "label": "t:blocks.icon.options.door_lock"
            },
            {
              "value": "gym",
              "label": "t:blocks.icon.options.gym"
            },
            {
              "value": "hammer",
              "label": "t:blocks.icon.options.hammer"
            },
            {
              "value": "headphones",
              "label": "t:blocks.icon.options.headphones"
            },
            {
              "value": "helm",
              "label": "t:blocks.icon.options.helm"
            },
            {
              "value": "hourglass",
              "label": "t:blocks.icon.options.hourglass"
            },
            {
              "value": "map",
              "label": "t:blocks.icon.options.map"
            },
            {
              "value": "piggy",
              "label": "t:blocks.icon.options.piggy"
            },
            {
              "value": "refesh",
              "label": "t:blocks.icon.options.refesh"
            },
            {
              "value": "rocket",
              "label": "t:blocks.icon.options.rocket"
            },
            {
              "value": "shield",
              "label": "t:blocks.icon.options.shield"
            },
            {
              "value": "shield2",
              "label": "t:blocks.icon.options.shield_2"
            },
            {
              "value": "smile",
              "label": "t:blocks.icon.options.smile"
            },
            {
              "value": "scissors",
              "label": "t:blocks.icon.options.scissors"
            },
            {
              "value": "shuffle",
              "label": "t:blocks.icon.options.shuffle"
            },
            {
              "value": "cloud_upload",
              "label": "t:blocks.icon.options.cloud_upload"
            },
            {
              "value": "cash",
              "label": "t:blocks.icon.options.cash"
            },
            {
              "value": "way",
              "label": "t:blocks.icon.options.way"
            },
            {
              "value": "wristwatch",
              "label": "t:blocks.icon.options.wristwatch"
            },
            {
              "value": "world",
              "label": "t:blocks.icon.options.world"
            },
            {
              "value": "wallet",
              "label": "t:blocks.icon.options.wallet"
            },
            {
              "value": "unlock",
              "label": "t:blocks.icon.options.unlock"
            },
            {
              "value": "umbrella",
              "label": "t:blocks.icon.options.umbrella"
            },
            {
              "value": "repeat",
              "label": "t:blocks.icon.options.repeat"
            },
            {
              "value": "refesh-2",
              "label": "t:blocks.icon.options.refesh_2"
            },
            {
              "value": "medal",
              "label": "t:blocks.icon.options.medal"
            },
            {
              "value": "portfolio",
              "label": "t:blocks.icon.options.portfolio"
            },
            {
              "value": "like",
              "label": "t:blocks.icon.options.like"
            },
            {
              "value": "plance",
              "label": "t:blocks.icon.options.plance"
            },
            {
              "value": "map-maker",
              "label": "t:blocks.icon.options.map_maker"
            },
            {
              "value": "help",
              "label": "t:blocks.icon.options.help"
            },
            {
              "value": "gift",
              "label": "t:blocks.icon.options.gift"
            },
            {
              "value": "cart",
              "label": "t:blocks.icon.options.cart"
            },
            {
              "value": "box",
              "label": "t:blocks.icon.options.box"
            },
            {
              "value": "back",
              "label": "t:blocks.icon.options.back"
            },
            {
              "value": "back2",
              "label": "t:blocks.icon.options.back2"
            }
          ],
          "default": "truck",
          "visible_if": "{{ block.settings.label != blank }}"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "t:blocks.icon.icon_position.label",
          "options": [
            {
              "value": "before",
              "label": "t:blocks.icon.icon_position.before"
            },
            {
              "value": "after",
              "label": "t:blocks.icon.icon_position.after"
            }
          ],
          "default": "before",
          "visible_if": "{{ block.settings.label != blank }}"
        },
        {
          "type": "range",
          "id": "icon_height",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:blocks.icon.icon_size.label",
          "default": 16,
          "visible_if": "{{ block.settings.label != blank }}"
        },
        {
          "type": "range",
          "id": "icon_spacing",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:blocks.icon.settings.icon_spacing.label",
          "default": 5,
          "visible_if": "{{ block.settings.label != blank }}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.timeline.name",
      "category": "t:sections_categories.05_section.name",
      "blocks": [
        {
          "type": "timeline"
        }
      ]
    }
  ]
}
{% endschema %}